/* Common */

.tableOverlay {
  @apply bg-gray-200 opacity-30;
}

.loadingState {
  @apply text-yellow-900 bg-yellow-100;
}

.simpleFocusRing {
  @apply focus:ring-1 focus:ring-inset focus:ring-blue-500;
}

.simpleDataField {
  @apply h-6 pl-2 text-md rounded-0.5 text-black placeholder-gray-300 bg-white border border-gray-100 border-solid focus:border-solid hover:bg-gray-25 transition-colors ease-in-out focus:border-blue-250 focus-visible:outline-none;
}

input[type="text"].ui-widget-content.ui-pg-input {
  @apply h-auto pl-1 mx-1 text-sm rounded-0.5 text-black placeholder-gray-300 bg-white border border-gray-100 border-solid focus:border-solid hover:bg-gray-25 transition-colors ease-in-out focus:border-blue-250 focus-visible:outline-none !important;
}

select.ui-widget-content.ui-pg-selbox {
  @apply rounded-0.5 text-sm text-black bg-white border border-gray-100 focus-visible:outline-0 outline-0 focus:border-blue-250 border-solid focus:border-solid;
}

input[type="checkbox"].simpleDataField {
  @apply gridcheck;
}

.row-theme {
  @apply text-sm border-gray-100 !important;
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-bottom-style: solid;
  @apply bg-white;
}

/* Large 
*/

.largeTable .ui-jqgrid-view .ui-jqgrid-bdiv table.ui-jqgrid-btable tr, .largeTable .ui-jqgrid-view .ui-jqgrid-bdiv table.ui-jqgrid-btable tr {
 @apply even:bg-blue-10; 
}

.large-filter-operators {
  @apply text-base transition-colors ease-in-out hover:text-blue-750;
}

/* row height through vertical padding */

.large-row-num {
  @apply bg-white; 
  @apply py-2 !important;
}

/* Header with column names */

.largeTable .ui-jqgrid-labels, .largeTable .ui-search-toolbar {
  @apply border-none;
} 

.largeTable .ui-jqgrid-labels > .columnHeader {
  @apply text-md font-normal hover:font-semibold py-3.5 hover:bg-blue-50 transition-all ease-in-out bg-white !important;
  @apply border-gray-100 !important;
  border-right-width: 1px !important;
  border-right-style: solid;
}

/* Header search toolbar */

.largeTable .ui-search-toolbar > .columnHeader {
  @apply text-md font-normal py-3.5 px-1.5 bg-white !important;
  @apply border-gray-100 !important;
  border-right-width: 1px !important;
  border-right-style: solid;
}

/* .largeTable .ui-search-toolbar > .columnHeader:last-child, .largeTable .ui-jqgrid-labels > .columnHeader:last-child {
  border-right-style: none !important;
} */

/* .ui-jqgrid-labels > .columnHeaderLarge {
    @apply text-md font-normal hover:font-semibold !py-3.5 hover:bg-blue-50 border-0.5 border-opacity-100 border-solid border-gray-100 !important;
}

.ui-search-toolbar > .columnHeaderLarge {
    @apply text-md font-normal py-3.5 border-0.5 border-opacity-100 border-solid border-gray-100 !important;
} */

tr.selectedState {
  background-color: #D8EDFF !important;
}

tr.selectedState.hoverState {
  background-color: #D5EBFF !important;
}

tr.hoverState {
  @apply bg-gray-25 !important;
}

.soptclass.hoverState {
  @apply text-blue-500;
}

.disabledState {
  @apply text-gray-200;
  pointer-events: none;
}

tr.disabledState {
  @apply bg-gray-50 text-gray-300 !important;
  pointer-events: none;
}

tr.disabledState.hoverState {
  @apply bg-gray-50 text-gray-300 !important;
  pointer-events: none;
}

.errorState {
  @apply text-red-900;
  pointer-events: none;
}

.errorState td.jqgrid-rownum {
  @apply text-black !important;
}

.disabledState td.jqgrid-rownum {
  @apply text-black !important;
}

tr.errorState {
  @apply bg-red-50 text-red-150 !important;
  pointer-events: none;
}

tr.errorState.hoverState {
  @apply bg-red-50 text-red-150 !important;
  pointer-events: none;
}

.ui-pager-control > .disabledState {
  @apply text-gray-200 cursor-not-allowed;
}

/* .g-menu-item {
  @apply text-md leading-2 text-black focus-standard !important;
} */

.ui-search-menu table > tbody tr > td:nth-child(1) {
  @apply font-sans;
}

.ui-search-menu {
  @apply focus-standard !important;
}

/* takes out default search toolbar top border so we can set it with a theme-specific colHeader class assignment */
/* .ui-jqgrid .ui-jqgrid-hdiv .ui-search-toolbar {
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
} */

/* Tailwind pre-flight applies global border defaults - we disable that so that we can style the gridRow border */
/* .jqgrow *,
::before,
::after {
  border-color: inherit;
} */

/* button borders introduce unpredictable behavior when set globally */
.ui-jqgrid .ui-pg-button:not(.ui-state-hover),
.ui-jqgrid-jquery-ui
  .jqgrow
  .ui-jqgrid-actions
  .ui-pg-div:not(.ui-state-hover) {
  @apply border-0;
}

/* makes the column label tex wrapper a flex */
.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels th div {
  overflow: hidden;
  position: relative;
  height: auto;
  margin: 2px 2px;
  @apply flex flex-row items-center content-center justify-center justify-items-center;
}

/* column header icon wrapper renders icons in one line */
.ui-jqgrid .s-ico {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  vertical-align: middle;
  margin: 0.1em;
}

.large-pager-wrapper {
  @apply largePager py-2 px-1.5 text-sm border border-solid border-gray-100 bg-white !important;
}

.large-pager-btn {
  @apply border-0 text-md mx-1 my-0 hover:text-blue-500 transition-colors ease-in-out !important;
}

.large-nav-btn {
  @apply mx-1 hover:text-blue-500 transition-colors ease-in-out !important;
}

.largePager .ui-separator {
  @apply h-3.5 w-px mx-2 bg-gray-100 border-0 !important;
}

.largePager .ui-pg-selbox {
  @apply ml-2 !important;
}

.ui-jqgrid tr.jqgroup>td:not(.ui-sgcollapsed):not(.sgexpanded):not(.td_cbox), .ui-jqgrid tr.jqgrow>td:not(.ui-sgcollapsed):not(.sgexpanded):not(.td_cbox) {
  @apply px-1.5 !important;
}

.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr>td {
  @apply border-l border-gray-100 !important;
  border-left-style: solid !important;
  border-right-style: none;
}

/* Subgrid */

.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr>td.subgrid-data {
  @apply border-none !important;
}

.subgrid-data .largeTable .ui-jqgrid-view .ui-jqgrid-bdiv table.ui-jqgrid-btable tr.jqgrow td , .subgrid-data .largeTable .ui-jqgrid-view .ui-jqgrid-bdiv table.ui-jqgrid-btable tr.jqgrow td {
  @apply py-2;
}

.largeTable .ui-subgrid .ui-th-column {
  @apply text-sm font-normal hover:font-semibold py-2.5 hover:bg-blue-50 font-sans transition-all ease-in-out !important;
}

.ui-widget-content.jqgrow.ui-row-ltr {
  @apply font-sans text-black;
  @apply row-theme;
}

.ui-widget-content.jqgrow.ui-row-ltr.ui-state-highlight {
  @apply bg-blue-50 !important;
}

tbody > tr.ui-widget-content.ui-subgrid.ui-row-ltr > td.ui-widget-content.subgrid-cell {
  @apply flex flex-row h-full;
}

.ui-jqgrid .ui-row-ltr.ui-subgrid>.subgrid-cell>span {
  @apply text-center w-full !important;
}

.ui-subgrid .ui-jqgrid-jquery-ui.ui-widget.ui-widget-content.ui-corner-all.ui-jqgrid {
  @apply border-0 !important;
}

.ui-subgrid .ui-widget-content.jqgrow.ui-row-ltr{
  @apply h-8 !important;
}

.ui-subgrid .ui-state-default, .ui-subgrid .ui-widget-content .ui-state-default {
  @apply bg-white text-black !important;
}

/* .ui-jqgrid table, .ui-jqgrid [role="row"]:not(.ui-jqgrid-labels), .ui-jqgrid tr:not(.ui-jqgrid-labels) {
  @apply border border-gray-100;
} */

.ui-jqgrid table.ui-jqgrid-btable {
  @apply border-t-0 border-b-0 border-l border-r border-gray-100;
  border-left-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-top-style: none;
}

.ui-jqgrid table.ui-jqgrid-htable {
  @apply border-b-1.5 border-gray-100 !important;
  border-bottom-style: solid;
}

.ui-jqgrid .ui-jqgrid-hdiv .ui-jqgrid-htable {
  @apply border-t border-b border-l border-r-0 border-gray-100 border-solid;
}

.ui-jqgrid .ui-pg-table .ui-pg-button {
  @apply focus-standard;
}