.modal-wrapper {
    @apply flex flex-col shadow-xl;
}

.modal-wrapper button, .modal-wrapper .divider-h {
    @apply my-auto;
}

.modal-wrapper.basic .modal-header {
    @apply flex flex-row justify-between h-16 pl-6 pr-2 shadow-border-b;
}

.modal-wrapper.basic .modal-title {
    @apply my-auto text-base font-semibold;
}

.modal-wrapper.icon .modal-title {
    @apply mb-4 text-base font-semibold;
}

.modal-wrapper.basic .modal-close {
    @apply icon-btn-large;
    @apply btn-ghost;
}

.modal-wrapper.basic .modal-content {
    @apply px-6 py-4 shadow-border-b;
}

.modal-wrapper.icon .modal-content {
    @apply flex flex-row py-6 pr-6;
}

.modal-wrapper.icon .modal-content .icon {
    @apply h-full;
}

.modal-wrapper.icon .modal-content .icon i {
    @apply px-6 text-xl;
}

.modal-wrapper.icon .modal-content .content {
    @apply w-full;
}

.modal-wrapper.basic .modal-footer {
    @apply flex flex-row justify-end h-16 px-6;
}

.modal-wrapper.icon .modal-footer {
    @apply flex flex-row justify-end h-16 px-6 shadow-border-t;
}

.modal-buttons {
    @apply flex flex-row justify-end h-full space-x-4;
}





[data-a11y-dialog-native] > .dialog-overlay {
    @apply hidden;
}

dialog[open] {
    @apply block;
}

.dialog-container[aria-hidden="true"] {
    @apply hidden;
}

.dialog-overlay {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.66);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.66);
}

.dialog-content {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
}

@keyframes fade-in {
    from { opacity: 0;  }
    to { opacity: 1;  }
}
  
@keyframes appear {
    from { transform: translate(-50%, -40%); opacity: 0; }
    to { transform: translate(-50%, -50%); opacity: 1; }
}
  
.dialog-container:not([aria-hidden='true']) > .dialog-overlay {
    animation: fade-in 200ms 1 both;
}
  
.dialog-container:not([aria-hidden='true']) > .dialog-content {
    animation: appear 400ms 150ms 1 both;
}