.number-input-wrapper {
  @apply focus-within:border-blue-250 rounded-0.5 transition-colors ease-in-out hover:border-blue-250 flex flex-row border border-gray-100 border-solid w-max;
  height: max-content;
}

.number-input-wrapper.read-only {
  @apply rounded-0.5 flex flex-row border border-gray-100 border-solid w-max;
  height: max-content;
}

.error.number-input-wrapper {
  @apply flex flex-row transition-all ease-in-out border border-red-600 border-solid focus-within:border-red-600 hover:border-red-600 w-max;
  height: max-content;
}

.error.label-input-wrapper .number-input-wrapper {
  @apply flex flex-row transition-all ease-in-out border border-red-600 border-solid focus-within:border-red-600 hover:border-red-600 w-max;
}

.number-input {
  @apply text-center text-black placeholder-gray-300 transition-colors ease-in-out bg-white border-0 border-solid focus:bg-white read-only:bg-gray-50 focus-visible:outline-none read-only:placeholder-gray-200 read-only:cursor-not-allowed group-hover:bg-gray-25;
}

.group:hover .number-input:read-only {
  @apply bg-gray-50;
}

.increment-right {
  @apply !leading-0 rounded-r-0.5 text-black bg-white border-l border-gray-100 disabled:cursor-not-allowed hover:text-blue-250 hover:border-l hover:border-blue-250 focus:bg-blue-50 active:bg-blue-50 active:text-blue-650 active:border active:border-blue-650 focus-standard border-solid transition-all ease-in-out;
}

.increment-right.read-only {
  @apply text-gray-200 border-l border-gray-100 border-solid cursor-not-allowed pointer-events-none bg-gray-50;
}

/* read-only:border-gray-100 read-only:border-r read-only:bg-gray-50 read-only:text-gray-200 read-only:pointer-events-none */

.increment-left {
  @apply !leading-0 rounded-l-0.5 text-black bg-white border-r border-gray-100 disabled:cursor-not-allowed hover:text-blue-250 hover:border-r hover:border-blue-250 focus:bg-blue-50 active:bg-blue-50 active:text-blue-650 active:border active:border-blue-650 focus-standard border-solid transition-all ease-in-out;
}

.increment-left.read-only {
  @apply text-gray-200 border-r border-gray-100 border-solid cursor-not-allowed pointer-events-none bg-gray-50;
}

.increment-right.large {
  @apply w-10 h-10 text-base;
}

.increment-left.large {
  @apply w-10 h-10 text-base;
}

.increment-right.middle {
  @apply w-8 h-8 text-md;
}

.increment-left.middle {
  @apply w-8 h-8 text-md;
}

/* .increment-right.small {
  @apply w-6 h-6 text-sm;
  @apply increment-right;
} */

/* .increment-left.small {
  @apply w-6 h-6 text-sm;
  @apply increment-left;
} */


.error.label-input-wrapper .increment-right {
  @apply !leading-0 text-black bg-white border-l border-red-600 disabled:cursor-not-allowed hover:text-blue-250 hover:border-l hover:border-blue-250 focus:bg-blue-50 active:bg-blue-50 active:text-blue-650 active:border active:border-blue-650 focus-standard border-solid transition-all ease-in-out;
}

.error.label-input-wrapper .increment-left {
  @apply !leading-0 text-black bg-white border-r border-red-600 disabled:cursor-not-allowed hover:text-blue-250 hover:border-r hover:border-blue-250 focus:bg-blue-50 active:bg-blue-50 active:text-blue-650 active:border active:border-blue-650 focus-standard border-solid transition-all ease-in-out;
}

.error.label-input-wrapper .increment-right.large {
  @apply w-10 h-10 text-base;
  @apply border-gray-100;
}

.error.label-input-wrapper .increment-left.large {
  @apply w-10 h-10 text-base;
  @apply border-gray-100;
}

.error.label-input-wrapper .increment-right.middle {
  @apply w-8 h-8 text-md;
  @apply border-gray-100;
}

.error.label-input-wrapper .increment-left.middle {
  @apply w-8 h-8 text-md;
  @apply border-gray-100;
}

/* .error .increment-right.small {
  @apply w-6 h-6 text-sm;
  @apply border-gray-100;
}

.error .increment-left.small {
  @apply w-6 h-6 text-sm;
  @apply border-gray-100;
} */


.number-input.large {
  @apply h-10 text-base;
}

.number-input.middle {
  @apply h-8 text-md;
}

/* 
.number-input.small {
  @apply h-6 text-sm;
  @apply input-number;
} */

/* .field-description {
  @apply mt-1 text-sm text-gray-500;
} */

/* .error .field-description {
  @apply text-red-600;
} */

/* fieldset.group:disabled.number-input-wrapper input.group-disabled\:bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 244, var(--tw-bg-opacity)) !important;
}

fieldset.number-input-wrapper > button.hover\:border-r-blue-250:hover {
  --tw-text-opacity: 1;
  border-color: rgba(123, 191, 255, var(--tw-border-opacity)) !important;
}

fieldset.number-input-wrapper > button.hover\:border-l-blue-250:hover {
  --tw-text-opacity: 1;
  border-color: rgba(123, 191, 255, var(--tw-border-opacity)) !important;
} */

/* remove default incriment for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove default incriment for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
