<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>alerts-demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../dist/css/styles.mini.css" />
</head>

<body class="bg-yellow-50 w-full">
    <div style="width: 800px;" class="mx-auto">
        <div class="grid grid-cols-2 gap-5 m-5">
            <button id="basic" class="justify-self-center btn-large-tertiary">Basic Title</button>
            <button id="basic-close" class="justify-self-center btn-large-tertiary">Basic Title Close</button>
            <button id="basic-icon-close" class="justify-self-center btn-large-tertiary">Basic Icon Title Close</button>
            <button id="basic-icon" class="justify-self-center btn-large-tertiary">Basic Icon Title</button>
            <button id="basic-icon-body-close" class="justify-self-center btn-large-tertiary">Basic Title Body Close</button>
            <button id="basic-icon-body" class="justify-self-center btn-large-tertiary">Basic Title Icon Body</button>
            <button id="basic-body-buttons-close" class="justify-self-center btn-large-tertiary">Basic Title Body Buttons Close</button>
            <button id="basic-icon-body-buttons" class="justify-self-center btn-large-tertiary">Basic Title Icon Body Buttons</button>
            <button id="info" class="justify-self-center btn-large-tertiary">Info Title</button>
            <button id="info-close" class="justify-self-center btn-large-tertiary">Info Title Close</button>
            <button id="info-icon-close" class="justify-self-center btn-large-tertiary">Info Icon Title Close</button>
            <button id="info-icon" class="justify-self-center btn-large-tertiary">Info Icon Title</button>
            <button id="info-icon-body-close" class="justify-self-center btn-large-tertiary">Info Title Body Close</button>
            <button id="info-icon-body" class="justify-self-center btn-large-tertiary">Info Title Icon Body</button>
            <button id="info-body-buttons-close" class="justify-self-center btn-large-tertiary">Info Title Body Buttons Close</button>
            <button id="info-icon-body-buttons" class="justify-self-center btn-large-tertiary">Info Title Icon Body Buttons</button>
            <button id="error" class="justify-self-center btn-large-tertiary">Error Title</button>
            <button id="error-close" class="justify-self-center btn-large-tertiary">Error Title Close</button>
            <button id="error-icon-close" class="justify-self-center btn-large-tertiary">Error Icon Title Close</button>
            <button id="error-icon" class="justify-self-center btn-large-tertiary">Error Icon Title</button>
            <button id="error-icon-body-close" class="justify-self-center btn-large-tertiary">Error Title Body Close</button>
            <button id="error-icon-body" class="justify-self-center btn-large-tertiary">Error Title Icon Body</button>
            <button id="error-body-buttons-close" class="justify-self-center btn-large-tertiary">Error Title Body Buttons Close</button>
            <button id="error-icon-body-buttons" class="justify-self-center btn-large-tertiary">Error Title Icon Body Buttons</button>
            <button id="warning" class="justify-self-center btn-large-tertiary">Warning Title</button>
            <button id="warning-close" class="justify-self-center btn-large-tertiary">Warning Title Close</button>
            <button id="warning-icon-close" class="justify-self-center btn-large-tertiary">Warning Icon Title Close</button>
            <button id="warning-icon" class="justify-self-center btn-large-tertiary">Warning Icon Title</button>
            <button id="warning-icon-body-close" class="justify-self-center btn-large-tertiary">Warning Title Body Close</button>
            <button id="warning-icon-body" class="justify-self-center btn-large-tertiary">Warning Title Icon Body</button>
            <button id="warning-body-buttons-close" class="justify-self-center btn-large-tertiary">Warning Title Body Buttons Close</button>
            <button id="warning-icon-body-buttons" class="justify-self-center btn-large-tertiary">Warning Title Icon Body Buttons</button>
            <button id="success" class="justify-self-center btn-large-tertiary">Success Title</button>
            <button id="success-close" class="justify-self-center btn-large-tertiary">Success Title Close</button>
            <button id="success-icon-close" class="justify-self-center btn-large-tertiary">Success Icon Title Close</button>
            <button id="success-icon" class="justify-self-center btn-large-tertiary">Success Icon Title</button>
            <button id="success-icon-body-close" class="justify-self-center btn-large-tertiary">Success Title Body Close</button>
            <button id="success-icon-body" class="justify-self-center btn-large-tertiary">Success Title Icon Body</button>
            <button id="success-body-buttons-close" class="justify-self-center btn-large-tertiary">Success Title Body Buttons Close</button>
            <button id="success-icon-body-buttons" class="justify-self-center btn-large-tertiary">Success Title Icon Body Buttons</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../dist/js/notify.js"></script>
    <script src="../dist/js/notifications-demo.js"></script>
</body>