<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>avatars</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../dist/css/styles.mini.css" />
</head>

<body class="bg-yellow-50">
  <div class="flex flex-row items-center space-x-1">
    <div class="inline-flex flex-col items-center p-5 space-y-5">

      <!-- SECTION Circular -->

      <!-- SECTION Icon Avatars -->

      <!-- ANCHOR Large -->
      <div class="justify-items-center flex w-16 h-16 p-4 align-middle bg-gray-300 rounded-full">
        <i class="feather-user xl-icon m-auto"></i>
      </div>
      <!-- ANCHOR Middle -->
      <div class="justify-items-center flex w-10 h-10 p-1 align-middle bg-gray-300 rounded-full">
        <i class="feather-user m-auto"></i>
      </div>
      <!-- ANCHOR Small -->
      <div class="justify-items-center flex w-8 h-8 p-1 align-middle bg-gray-300 rounded-full">
        <i class="feather-user m-auto"></i>
      </div>
      <!-- ANCHOR Extra Small -->
      <div class="justify-items-center flex w-6 h-6 p-1 align-middle bg-gray-300 rounded-full">
        <i class="feather-user m-auto text-sm"></i>
      </div>
    </div>

    <!-- !SECTION Icon Ends -->

    <div class="inline-flex flex-col items-center p-5 space-y-5">

    <!-- SECTION Text Avatars -->

      <!-- ANCHOR Large -->
      <div class="justify-items-center flex w-16 h-16 p-4 align-middle bg-gray-300 rounded-full">
        <span class="m-auto text-xl font-semibold">
          UN
        </span>
      </div>
      <!-- ANCHOR Middle -->
      <div class="justify-items-center flex w-10 h-10 p-1 align-middle bg-gray-300 rounded-full">
        <span class="m-auto text-base font-semibold">
          UN
        </span>
      </div>
      <!-- ANCHOR Small -->
      <div class="justify-items-center flex w-8 h-8 p-1 align-middle bg-gray-300 rounded-full">
        <span class="m-auto text-sm font-semibold">
          UN
        </span>
      </div>
      <!-- ANCHOR Extra Small -->
      <div class="justify-items-center flex w-6 h-6 p-1 align-middle bg-gray-300 rounded-full">
        <span class="text-xsm m-auto font-semibold">
          U
        </span>
      </div>
    </div>

    <!-- !SECTION Text Ends -->

    <div class="inline-flex flex-col items-center p-5 space-y-5">

    <!-- SECTION Image Avatars -->

      <!-- ANCHOR Large -->
      <div class="justify-items-center flex w-16 h-16 overflow-hidden align-middle bg-gray-300 rounded-full">
        <img class="object-fill" src="../dist/assets/avatar.jpg">
      </div>
      <!-- ANCHOR Middle -->
      <div class="justify-items-center flex w-10 h-10 overflow-hidden align-middle bg-gray-300 rounded-full">
        <img class="object-fill" src="../dist/assets/avatar.jpg">
      </div>
      <!-- ANCHOR Small -->
      <div class="justify-items-center flex w-8 h-8 overflow-hidden align-middle bg-gray-300 rounded-full">
        <img class="object-fill" src="../dist/assets/avatar.jpg">
      </div>
      <!-- ANCHOR Extra Small -->
      <div class="justify-items-center flex w-6 h-6 overflow-hidden align-middle bg-gray-300 rounded-full">
        <img class="object-fill" src="../dist/assets/avatar.jpg">
      </div>
    </div>

    <!-- !SECTION Image Ends -->
    <!-- !SECTION Circular Ends -->

    <!-- SECTION Rectangular -->

    <div class="inline-flex flex-col items-center p-5 space-y-5">

    <!-- SECTION Icon Avatars -->
      
      <!-- ANCHOR Large -->
      <div class="justify-items-center rounded-0 flex w-16 h-16 p-4 align-middle bg-gray-300">
        <i class="feather-user xl-icon m-auto"></i>
      </div>
      <!-- ANCHOR Middle -->
      <div class="justify-items-center rounded-0 flex w-10 h-10 p-1 align-middle bg-gray-300"><i
          class="feather-user m-auto"></i></div>
      <!-- ANCHOR Small -->
      <div class="justify-items-center rounded-0 flex w-8 h-8 p-1 align-middle bg-gray-300"><i
          class="feather-user m-auto"></i></div>
      <!-- ANCHOR Extra Small -->
      <div class="justify-items-center rounded-0 flex w-6 h-6 p-1 align-middle bg-gray-300"><i
          class="feather-user m-auto text-sm"></i></div>

    <!-- !SECTION Icon Ends -->

    <!-- SECTION Text Avatars -->

    </div>
    <div class="inline-flex flex-col items-center p-5 space-y-5">
      <!-- ANCHOR Large -->
      <div class="justify-items-center rounded-0 flex w-16 h-16 p-4 align-middle bg-gray-300">
        <span class="m-auto text-xl font-semibold">
          UN
        </span>
      </div>
      <!-- ANCHOR Middle -->
      <div class="justify-items-center rounded-0 flex w-10 h-10 p-1 align-middle bg-gray-300">
        <span class="m-auto text-base font-semibold">
          UN
        </span>
      </div>
      <!-- ANCHOR Small -->
      <div class="justify-items-center rounded-0 flex w-8 h-8 p-1 align-middle bg-gray-300">
        <span class="m-auto text-sm font-semibold">
          UN
        </span>
      </div>
      <!-- ANCHOR Extra Small -->
      <div class="justify-items-center rounded-0 flex w-6 h-6 p-1 align-middle bg-gray-300">
        <span class="text-xsm m-auto font-semibold">
          U
        </span>
      </div>
    </div>

    <!-- !SECTION Text Ends -->

    <!-- SECTION Image Avatars -->

    <div class="inline-flex flex-col items-center p-5 space-y-5">
      <!-- ANCHOR Large -->
      <div class="justify-items-center rounded-0 flex w-16 h-16 align-middle bg-gray-300">
        <img class="rounded-0 object-fill" src="../dist/assets/avatar.jpg">
      </div>
      <!-- ANCHOR Middle -->
      <div class="justify-items-center rounded-0 flex w-10 h-10 align-middle bg-gray-300">
        <img class="rounded-0 object-fill" src="../dist/assets/avatar.jpg">
      </div>
      <!-- ANCHOR Small -->
      <div class="justify-items-center rounded-0 flex w-8 h-8 align-middle bg-gray-300">
        <img class="rounded-0 object-fill" src="../dist/assets/avatar.jpg">
      </div>
      <!-- ANCHOR Extra Small -->
      <div class="justify-items-center rounded-0 flex w-6 h-6 align-middle bg-gray-300">
        <img class="rounded-0 object-fill" src="../dist/assets/avatar.jpg">
      </div>
    </div>

    <!-- !SECTION Image Ends -->

    <!-- !SECTION Rectangular Ends -->
    
  </div>
</body>