<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title></title>
  <meta name="headers&footers" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../dist/css/styles-mini.css" />
  <script>
  /* ANCHOR - Toggle summary dropdown */ 
    function openMenu() {
      document.getElementById("moreDropdown").classList.toggle("hidden");
    }
  </script>
</head>

<body>
  <div id="outerDiv" class="inline-flex flex-col items-center w-screen p-5 space-y-5">
    <div class="min-h-md inline-flex items-center w-full p-3">
     <!-- ANCHOR Full breadcrumb -->
      <div class="crumbs">
        <button class="crumb-home feather-home"></button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="btn-small-ghost">First Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="btn-small-ghost">Second Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="btn-small-ghost">Third Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="btn-small-ghost">Fourth Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="btn-small-ghost last-crumb">Fifth Page</button>
      </div>
    </div>
    <!-- ANCHOR Summary breadcrumb -->
    <div class="min-h-md inline-flex items-center w-full p-3">
      <div class="crumbs relative">
        <button class="crumb-home feather-home"></button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="btn-small-ghost">First Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="btn-small-ghost">Second Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <div>
          <button onClick="openMenu()" class="btn-small-ghost-icon feather-more-horizontal"></button>
          <div id="moreDropdown" class="absolute z-50 flex flex-col hidden w-auto py-2 space-y-2 bg-white shadow-md">
            <a href="#" class="group align-end h-7 hover:bg-gray-25 inline-flex w-full px-4 py-1 space-x-3">
              <span class="hover:text-blue-850 align-center text-md h-full text-black">
                Third Page
              </span>
            </a>

            <a href="#" class="group align-end h-7 hover:bg-gray-25 inline-flex w-full px-4 py-1 space-x-3">
              <span class="hover:text-blue-850 align-center text-md h-full text-black">
                Fourth Page
              </span>
            </a>

            <a href="#" class="group align-end h-7 hover:bg-gray-25 inline-flex w-full px-4 py-1 space-x-3">
              <span class="hover:text-blue-850 align-center text-md h-full text-black">
                Fifth Page
              </span>
            </a>

            <a href="#" class="group align-end h-7 hover:bg-gray-25 inline-flex w-full px-4 py-1 space-x-3">
              <span class="hover:text-blue-850 align-center text-md h-full text-black">
                Sixth Page
              </span>
            </a>

            <a href="#" class="group align-end h-7 hover:bg-gray-25 inline-flex w-full px-4 py-1 space-x-3">
              <span class="hover:text-blue-850 align-center text-md h-full text-black">
                Seventh Page
              </span>
            </a>

            <a href="#" class="group align-end h-7 hover:bg-gray-25 inline-flex w-full px-4 py-1 space-x-3">
              <span class="hover:text-blue-850 align-center text-md h-full text-black">
                Eigth Page
              </span>
            </a>

            <a href="#" class="group align-end h-7 hover:bg-gray-25 inline-flex w-full px-4 py-1 space-x-3">
              <span class="hover:text-blue-850 align-center text-md h-full text-black">
                Nineth Page
              </span>
            </a>
          </div>
        </div>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="btn-small-ghost">Tenth Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="btn-small-ghost last-crumb">Eleventh Page</button>
      </div>
    </div>
  </div>
</body>

</html>