<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>breadcrumbs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../dist/css/styles.mini.css" />
  <script>
    /* ANCHOR - Toggle summary dropdown */
    function openMenu() {
      document.getElementById("moreDropdown").classList.toggle("hidden");
      document.getElementById("moreDropdown").classList.toggle("flex");
    }
  </script>
</head>

<body>
  <div id="outerDiv" class="inline-flex flex-col items-center w-screen p-5 space-y-5">
    <div class="inline-flex items-center w-full p-3 h-14">
      <!-- ANCHOR Full breadcrumb -->
      <div class="crumbs">
        <button class="crumb-home feather-home"></button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="crumb">First Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="crumb">Second Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="crumb">Third Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="crumb">Fourth Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="crumb">Fifth Page</button>
      </div>
    </div>
    <!-- ANCHOR Summary breadcrumb -->
    <div class="inline-flex items-center w-full p-3 h-14">
      <div class="relative crumbs">
        <button class="crumb-home feather-home"></button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="crumb">First Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="crumb">Second Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <div>
          <button onClick="openMenu()" class="icon-btn small ghost feather-more-horizontal"></button>
          <div id="moreDropdown" class="absolute z-50 flex-col hidden w-auto py-2 space-y-2 bg-white shadow-md">
            <a href="#" class="inline-flex w-full px-4 py-1 space-x-3 group align-end h-7 hover:bg-gray-25">
              <span class="h-full text-black hover:text-blue-850 align-center text-md">
                Third Page
              </span>
            </a>

            <a href="#" class="inline-flex w-full px-4 py-1 space-x-3 group align-end h-7 hover:bg-gray-25">
              <span class="h-full text-black hover:text-blue-850 align-center text-md">
                Fourth Page
              </span>
            </a>

            <a href="#" class="inline-flex w-full px-4 py-1 space-x-3 group align-end h-7 hover:bg-gray-25">
              <span class="h-full text-black hover:text-blue-850 align-center text-md">
                Fifth Page
              </span>
            </a>

            <a href="#" class="inline-flex w-full px-4 py-1 space-x-3 group align-end h-7 hover:bg-gray-25">
              <span class="h-full text-black hover:text-blue-850 align-center text-md">
                Sixth Page
              </span>
            </a>

            <a href="#" class="inline-flex w-full px-4 py-1 space-x-3 group align-end h-7 hover:bg-gray-25">
              <span class="h-full text-black hover:text-blue-850 align-center text-md">
                Seventh Page
              </span>
            </a>

            <a href="#" class="inline-flex w-full px-4 py-1 space-x-3 group align-end h-7 hover:bg-gray-25">
              <span class="h-full text-black hover:text-blue-850 align-center text-md">
                Eigth Page
              </span>
            </a>

            <a href="#" class="inline-flex w-full px-4 py-1 space-x-3 group align-end h-7 hover:bg-gray-25">
              <span class="h-full text-black hover:text-blue-850 align-center text-md">
                Nineth Page
              </span>
            </a>
          </div>
        </div>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="crumb">Tenth Page</button>
        <i class="crumb-chevron feather-chevron-right"></i>
        <button class="crumb">Eleventh Page</button>
      </div>
    </div>
  </div>
</body>

</html>