<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>buttons-v2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../dist/css/styles.mini.css" />
</head>

<body class="bg-yellow-50">
  <div id="outerDiv" class="inline-flex flex-col items-center w-full p-5 space-y-5">
    <!-- SECTION - Icon only buttons  -->
    <div class="flex flex-row w-full mx-auto">
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- SECTION Primary -->
        <!-- ANCHOR -  - Large default  -->
        <button class="feather-plus icon-btn large primary"></button>
        <!-- ANCHOR -  - Middle default  -->
        <button class="feather-plus icon-btn middle primary"></button>
        <!-- ANCHOR -  - Small default  -->
        <button class="feather-plus icon-btn small primary"></button>
        <!-- ANCHOR -  - Small disabled  -->
        <button class="feather-plus icon-btn small primary" disabled></button>
        <!-- ANCHOR -  - Middle disabled  -->
        <button class="feather-plus icon-btn middle primary" disabled></button>
        <!-- ANCHOR -  - Large disabled  -->
        <button class="feather-plus icon-btn large primary" disabled></button>
        <!-- !SECTION -->
      </div>
    </div>
    <div class="flex flex-row w-full mx-auto">
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- SECTION Secondary -->
        <!-- ANCHOR Large default -->
        <button class="icon-btn large secondary feather-plus"></button>
        <!-- ANCHOR -  - Middle default  -->
        <button class="icon-btn middle secondary feather-plus"></button>
        <!-- ANCHOR -  - Small default  -->
        <button class="icon-btn small secondary feather-plus"></button>
        <!-- ANCHOR -  - Small disabled  -->
        <button class="icon-btn small secondary feather-plus" disabled></button>
        <!-- ANCHOR -  - Middle disabled  -->
        <button class="icon-btn middle secondary feather-plus" disabled></button>
        <!-- ANCHOR -  - Large disabled  -->
        <button class="icon-btn large secondary feather-plus" disabled></button>
        <!-- !SECTION -->
      </div>
    </div>
    <div class="flex flex-row w-full mx-auto">
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- SECTION Ghost -->
        <!-- ANCHOR Large default -->
        <button class="icon-btn large ghost feather-plus"></button>
        <!-- ANCHOR -  - Middle default  -->
        <button class="icon-btn middle ghost feather-plus"></button>
        <!-- ANCHOR -  - Small default  -->
        <button class="icon-btn small ghost feather-plus"></button>
        <!-- ANCHOR -  - Small default  -->
        <button class="icon-btn small ghost feather-plus" disabled></button>
        <!-- ANCHOR -  - Middle disabled  -->
        <button class="icon-btn middle ghost feather-plus" disabled></button>
        <!-- ANCHOR -  - Large disabled  -->
        <button class="icon-btn large ghost feather-plus" disabled></button>
        <!-- !SECTION -->
      </div>
    </div>
    <div class="flex flex-row w-full mx-auto">
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- SECTION Danger -->
        <!-- ANCHOR Large default -->
        <button class="icon-btn large danger feather-plus"></button>
        <!-- ANCHOR -  - Middle default  -->
        <button class="icon-btn middle danger feather-plus"></button>
        <!-- ANCHOR -  - Small default  -->
        <button class="icon-btn small danger feather-plus"></button>
        <!-- ANCHOR -  - Small disabled  -->
        <button class="icon-btn small danger feather-plus" disabled></button>
        <!-- ANCHOR -  - Middle disabled -->
        <button class="icon-btn middle danger feather-plus" disabled></button>
        <!-- ANCHOR -  - Large disabled  -->
        <button class="icon-btn large danger feather-plus" disabled></button>
        <!-- !!SECTION -  -->
      </div>
    </div>
    <!-- !!SECTION Icon only ends -->
    <!-- SECTION Text only buttons  -->
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Primary -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large primary">Button</button>
        <!-- ANCHOR -  - Middle default  -->
        <button class="btn middle primary">Button</button>
        <!-- ANCHOR -  - Small default  -->
        <button class="btn small primary">Button</button>
        <!-- ANCHOR -  - Small disabled  -->
        <button class="btn small primary" disabled>Button</button>
        <!-- ANCHOR -  - Middle disabled -->
        <button class="btn middle primary" disabled>Button</button>
        <!-- ANCHOR -  - Large disabled  -->
        <button class="btn large primary" disabled>Button</button>
      </div>
      <!-- !SECTION Primary ends -->
    </div>
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Secondary -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large secondary">Button</button>
        <!-- ANCHOR - Middle default  -->
        <button class="btn middle secondary">Button</button>
        <!-- ANCHOR - Small default  -->
        <button class="btn small secondary">Button</button>
        <!-- ANCHOR - Small disabled  -->
        <button class="btn small secondary" disabled>Button</button>
        <!-- ANCHOR - Middle disabled -->
        <button class="btn middle secondary" disabled>Button</button>
        <!-- ANCHOR - Large disabled  -->
        <button class="btn large secondary" disabled>Button</button>
      </div>
      <!-- !SECTION Secondary ends -->
    </div>
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Tertiary -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large tertiary">Button</button>
        <!-- ANCHOR - Middle default  -->
        <button class="btn middle tertiary">Button</button>
        <!-- ANCHOR - Small default  -->
        <button class="btn small tertiary">Button</button>
        <!-- ANCHOR - Small disabled  -->
        <button class="btn small tertiary" disabled>Button</button>
        <!-- ANCHOR - Middle disabled -->
        <button class="btn middle tertiary" disabled>Button</button>
        <!-- ANCHOR - Large disabled  -->
        <button class="btn large tertiary" disabled>Button</button>
      </div>
      <!-- !SECTION Tertiary ends -->
    </div>
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Ghost -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large ghost">Button</button>
        <!-- ANCHOR Middle default -->
        <button class="btn middle ghost">Button</button>
        <!-- ANCHOR Small default -->
        <button class="btn small ghost">Button</button>
        <!-- ANCHOR Small disabled -->
        <button class="btn small ghost" disabled>Button</button>
        <!-- ANCHOR Middle disabled -->
        <button class="btn middle ghost" disabled>Button</button>
        <!-- ANCHOR Large disabled -->
        <button class="btn large ghost" disabled>Button</button>
      </div>
      <!-- !SECTION Ghost ends -->
    </div>
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Danger -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large danger">Button</button>
        <!-- ANCHOR Middle default -->
        <button class="btn middle danger">Button</button>
        <!-- ANCHOR Small default -->
        <button class="btn small danger">Button</button>
        <!-- ANCHOR Small disabled -->
        <button class="btn small danger" disabled>Button</button>
        <!-- ANCHOR Middle disabled -->
        <button class="btn middle danger" disabled>Button</button>
        <!-- ANCHOR Large disabled -->
        <button class="btn large danger" disabled>Button</button>
      </div>
      <!-- !SECTION Danger ends -->
    </div>
    <!-- !!SECTION Text only ends  -->
    <!-- SECTION Icon left buttons  -->
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Primary -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large primary">
          <i class="btn-icon left large feather-plus"></i>
          Button
        </button>
        <!-- ANCHOR Middle default -->
        <button class="btn middle primary">
          <i class="btn-icon left middle feather-plus"></i> Button
        </button>
        <!-- ANCHOR Small default -->
        <button class="btn small primary">
          <i class="btn-icon left small feather-plus"></i> Button
        </button>
        <!-- ANCHOR Small disabled -->
        <button class="btn small primary" disabled>
          <i class="btn-icon left small feather-plus"></i> Button
        </button>
        <!-- ANCHOR Middle disabled -->
        <button class="btn middle primary" disabled>
          <i class="btn-icon left middle feather-plus"></i> Button
        </button>
        <!-- ANCHOR Large disabled -->
        <button class="btn large primary" disabled>
          <i class="btn-icon left large feather-plus"></i> Button
        </button>
      </div>
      <!-- !SECTION Primary ends -->
    </div>
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Secondary -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large secondary">
          <i class="btn-icon left large feather-plus"></i>
          Button
        </button>
        <!-- ANCHOR Middle default -->
        <button class="btn middle secondary">
          <i class="btn-icon left middle feather-plus"></i> Button
        </button>
        <!-- ANCHOR Small default -->
        <button class="btn small secondary">
          <i class="btn-icon left small feather-plus"></i> Button
        </button>
        <!-- ANCHOR Small disabled -->
        <button class="btn small secondary" disabled>
          <i class="btn-icon left small feather-plus"></i> Button
        </button>
        <!-- ANCHOR Middle disabled -->
        <button class="btn middle secondary" disabled>
          <i class="btn-icon left middle feather-plus"></i> Button
        </button>
        <!-- ANCHOR Large disabled -->
        <button class="btn large secondary" disabled>
          <i class="btn-icon left large feather-plus"></i> Button
        </button>
      </div>
      <!-- !SECTION Secondary ends -->
    </div>
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Tertiary -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large tertiary">
          <i class="btn-icon left large feather-plus"></i>
          Button
        </button>
        <!-- ANCHOR Middle default -->
        <button class="btn middle tertiary">
          <i class="btn-icon left middle feather-plus"></i> Button
        </button>
        <!-- ANCHOR Small default -->
        <button class="btn small tertiary">
          <i class="btn-icon left small feather-plus"></i> Button
        </button>
        <!-- ANCHOR Small disabled -->
        <button class="btn small tertiary" disabled>
          <i class="btn-icon left small feather-plus"></i> Button
        </button>
        <!-- ANCHOR Middle disabled -->
        <button class="btn middle tertiary" disabled>
          <i class="btn-icon left middle feather-plus"></i> Button
        </button>
        <!-- ANCHOR Large disabled -->
        <button class="btn large tertiary" disabled>
          <i class="btn-icon left large feather-plus"></i> Button
        </button>
      </div>
      <!-- !SECTION Tertiary ends -->
    </div>
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Ghost -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large ghost">
          <i class="btn-icon left large feather-plus"></i>
          Button
        </button>
        <!-- ANCHOR Middle default -->
        <button class="btn middle ghost">
          <i class="btn-icon left middle feather-plus"></i> Button
        </button>
        <!-- ANCHOR Small default -->
        <button class="btn small ghost">
          <i class="btn-icon left small feather-plus"></i> Button
        </button>
        <!-- ANCHOR Small disabled -->
        <button class="btn small ghost" disabled>
          <i class="btn-icon left small feather-plus"></i> Button
        </button>
        <!-- ANCHOR Middle disabled -->
        <button class="btn middle ghost" disabled>
          <i class="btn-icon left middle feather-plus"></i> Button
        </button>
        <!-- ANCHOR Large disabled -->
        <button class="btn large ghost" disabled>
          <i class="btn-icon left large feather-plus"></i> Button
        </button>
      </div>
      <!-- !SECTION Ghost ends -->
    </div>
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Danger -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large danger">
          <i class="btn-icon left large feather-plus"></i>
          Button
        </button>
        <!-- ANCHOR Middle default -->
        <button class="btn middle danger">
          <i class="btn-icon left middle feather-plus"></i> Button
        </button>
        <!-- ANCHOR Small default -->
        <button class="btn small danger">
          <i class="btn-icon left small feather-plus"></i> Button
        </button>
        <!-- ANCHOR Small disabled -->
        <button class="btn small danger" disabled>
          <i class="btn-icon left small feather-plus"></i> Button
        </button>
        <!-- ANCHOR Middle disabled -->
        <button class="btn middle danger" disabled>
          <i class="btn-icon left middle feather-plus"></i> Button
        </button>
        <!-- ANCHOR Large disabled -->
        <button class="btn large danger" disabled>
          <i class="btn-icon left large feather-plus"></i> Button
        </button>
      </div>
      <!-- !SECTION Danger ends -->
    </div>
    <!-- !!SECTION Icon left ends  -->
    <!-- SECTION Icon right buttons -->
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Primary -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large primary">
          Button
          <i class="btn-icon right large feather-plus"></i>
        </button>
        <!-- ANCHOR Middle default -->
        <button class="btn middle primary">
          Button
          <i class="btn-icon right middle feather-plus"></i>
        </button>
        <!-- ANCHOR Small default -->
        <button class="btn small primary">
          Button
          <i class="btn-icon right small feather-plus"></i>
        </button>
        <!-- ANCHOR Small disabled -->
        <button class="btn small primary" disabled>
          Button
          <i class="btn-icon right small feather-plus"></i>
        </button>
        <!-- ANCHOR Middle disabled -->
        <button class="btn middle primary" disabled>
          Button
          <i class="btn-icon right middle feather-plus"></i>
        </button>
        <!-- ANCHOR Large disabled -->
        <button class="btn large primary" disabled>
          Button
          <i class="btn-icon right large feather-plus"></i>
        </button>
      </div>
      <!-- !SECTION Primary ends -->
    </div>
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Secondary -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large secondary">
          Button
          <i class="btn-icon right large feather-plus"></i>
        </button>
        <!-- ANCHOR Middle default -->
        <button class="btn middle secondary">
          Button
          <i class="btn-icon right middle feather-plus"></i>
        </button>
        <!-- ANCHOR Small default -->
        <button class="btn small secondary">
          Button
          <i class="btn-icon right small feather-plus"></i>
        </button>
        <!-- ANCHOR Small disabled -->
        <button class="btn small secondary" disabled>
          Button
          <i class="btn-icon right small feather-plus"></i>
        </button>
        <!-- ANCHOR Middle disabled -->
        <button class="btn middle secondary" disabled>
          Button
          <i class="btn-icon right middle feather-plus"></i>
        </button>
        <!-- ANCHOR Large disabled -->
        <button class="btn large secondary" disabled>
          Button
          <i class="btn-icon right large feather-plus"></i>
        </button>
      </div>
      <!-- !SECTION Secondary ends -->
    </div>
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Tertiary -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large tertiary">
          Button
          <i class="btn-icon right large feather-plus"></i>
        </button>
        <!-- ANCHOR Middle default -->
        <button class="btn middle tertiary">
          Button
          <i class="btn-icon right middle feather-plus"></i>
        </button>
        <!-- ANCHOR Small default -->
        <button class="btn small tertiary">
          Button
          <i class="btn-icon right small feather-plus"></i>
        </button>
        <!-- ANCHOR Small disabled -->
        <button class="btn small tertiary" disabled>
          Button
          <i class="btn-icon right small feather-plus"></i>
        </button>
        <!-- ANCHOR Middle disabled -->
        <button class="btn middle tertiary" disabled>
          Button
          <i class="btn-icon right middle feather-plus"></i>
        </button>
        <!-- ANCHOR Large disabled -->
        <button class="btn large tertiary" disabled>
          Button
          <i class="btn-icon right large feather-plus"></i>
        </button>
      </div>
      <!-- !SECTION Tertiary ends -->
    </div>
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Ghost -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large ghost">
          Button
          <i class="btn-icon right large feather-plus"></i>
        </button>
        <!-- ANCHOR Middle default -->
        <button class="btn middle ghost">
          Button
          <i class="btn-icon right middle feather-plus"></i>
        </button>
        <!-- ANCHOR Small default -->
        <button class="btn small ghost">
          Button
          <i class="btn-icon right small feather-plus"></i>
        </button>
        <!-- ANCHOR Small disabled -->
        <button class="btn small ghost" disabled>
          Button
          <i class="btn-icon right small feather-plus"></i>
        </button>
        <!-- ANCHOR Middle disabled -->
        <button class="btn middle ghost" disabled>
          Button
          <i class="btn-icon right middle feather-plus"></i>
        </button>
        <!-- ANCHOR Large disabled -->
        <button class="btn large ghost" disabled>
          Button
          <i class="btn-icon right large feather-plus"></i>
        </button>
      </div>
      <!-- !SECTION Ghost ends -->
    </div>
    <div class="flex flex-row w-full mx-auto">
      <!-- SECTION Danger -->
      <div class="flex flex-row justify-center w-full space-x-3">
        <!-- ANCHOR Large default -->
        <button class="btn large danger">
          Button
          <i class="btn-icon right large feather-plus"></i>
        </button>
        <!-- ANCHOR Middle default -->
        <button class="btn middle danger">
          Button
          <i class="btn-icon right middle feather-plus"></i>
        </button>
        <!-- ANCHOR Small default -->
        <button class="btn small danger">
          Button
          <i class="btn-icon right small feather-plus"></i>
        </button>
        <!-- ANCHOR Small disabled -->
        <button class="btn small danger" disabled>
          Button
          <i class="btn-icon right small feather-plus"></i>
        </button>
        <!-- ANCHOR Middle disabled -->
        <button class="btn middle danger" disabled>
          Button
          <i class="btn-icon right middle feather-plus"></i>
        </button>
        <!-- ANCHOR Large disabled -->
        <button class="btn large danger" disabled>
          Button
          <i class="btn-icon right large feather-plus"></i>
        </button>
      </div>
      <!-- !SECTION Danger ends -->
    </div>
    <!-- !!SECTION Icon right ends -->
  </div>
</body>

</html>