<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title></title>
  <meta name="Card Headers & Footers" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../dist/css/styles-mini.css" />
</head>

<body>
  <div id="outerDiv" class="bg-blue-50 inline-flex flex-col items-center w-screen p-5 space-y-5">
    <!-- Card Header Title and Icon -->
    <div class="inline-flex flex-col items-center w-5/12 p-5 space-y-5">
      <!-- Card Header Title and Icon Small 48px -->
      <div class="inline-flex items-center w-full py-3.5 px-4 bg-white shadow-border-b min-h-sm">
        <div class="flex items-center justify-between w-full h-full">
          <p class="flex-grow-1 text-md font-semibold text-black">
            Card Heading
          </p>
          <button class="feather-rotate-ccw hover:text-blue-500 ml-4 text-black cursor-pointer"></button>
        </div>
      </div>
      <!-- Card Header Title and Icon Small 56px -->
      <div class="min-h-md shadow-border-b inline-flex items-center w-full pl-4 pr-2 bg-white">
        <div class="inline-flex items-center justify-between w-full h-full">
          <p class="flex-grow text-base font-semibold text-black">
            Card Heading
          </p>
          <button class="feather-rotate-ccw btn-large-ghost-icon"></button>
        </div>
      </div>
      <!-- Card Header Title and Icon Small 64px -->
      <div class="min-h-lg shadow-border-b inline-flex items-center w-full py-1 pl-4 pr-2 bg-white">
        <div class="inline-flex items-center justify-between w-full h-full">
          <p class="flex-grow text-base font-semibold text-black">
            Card Heading
          </p>
          <button class="feather-rotate-ccw btn-large-ghost-icon"></button>
        </div>
      </div>
    </div>
    <!-- Card Header Title Only -->
    <div id="Card Header Title Only" class="inline-flex flex-col items-center w-5/12 p-5 space-y-5">
      <!-- Card Header Title Only Small 48px -->
      <div class="inline-flex items-center w-full py-3.5 px-4 bg-white shadow-border-b min-h-sm">
        <p class="flex-grow-1 text-md mx-auto font-semibold text-black align-middle">
          Card Heading
        </p>
      </div>
      <!-- Card Header Title Only Middle 56px  -->
      <div class="min-h-md shadow-border-b inline-flex items-center w-full p-3 bg-white">
        <p class="mx-auto text-base font-semibold text-black">Card Heading</p>
      </div>
      <!-- Card Header Title Only Large 64px  -->
      <div class="min-h-lg shadow-border-b inline-flex items-center w-full px-3 py-5 bg-white">
        <p class="mx-auto text-base font-semibold text-black">Card Heading</p>
      </div>
    </div>
    <!-- Card Header Tabs More Right -->
    <div class="inline-flex flex-col items-center w-5/12 p-5 space-y-5">
      <!-- Card Header Tabs More Right 48px Small -->
      <div class="shadow-border-b min-h-sm relative w-full bg-white">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full px-4 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper">
              <button class="tab-btn-active">Tab Active</button>
              <div class="tab-border"></div>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 2</button>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 3</button>
            </div>
          </div>
          <button class="btn-large-ghost-icon feather-more-horizontal my-auto"></button>
        </div>
      </div>
      <!-- Card Header Tabs More Right 56px Middle -->
      <div class="shadow-border-b min-h-md relative w-full bg-white">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full px-4 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper">
              <button class="tab-btn-active">Tab Active</button>
              <div class="tab-border"></div>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 2</button>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 3</button>
            </div>
          </div>
          <button class="btn-large-ghost-icon feather-more-horizontal my-auto"></button>
        </div>
      </div>
      <!-- Card Header Tabs More Right 64px Large -->
      <div class="shadow-border-b min-h-lg relative w-full bg-white">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full px-4 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper">
              <button class="tab-btn-active">Tab Active</button>
              <div class="tab-border"></div>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 2</button>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 3</button>
            </div>
          </div>
          <button class="btn-large-ghost-icon feather-more-horizontal my-auto"></button>
        </div>
      </div>
    </div>
    <!-- Card Header Tabs More Inside -->
    <div id="Card Header Tabs More Inside" class="inline-flex flex-col items-center w-5/12 p-5 space-y-5">
      <!-- Card Header Tabs More Inside 48px Small -->
      <div class="shadow-border-b min-h-sm relative w-full bg-white">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full px-4 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper">
              <button class="tab-btn-active">Tab Active</button>
              <div class="tab-border"></div>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 2</button>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 3</button>
            </div>
            <button class="btn-large-ghost-icon feather-more-horizontal my-auto"></button>
          </div>
        </div>
      </div>
      <!-- Card Header Tabs More Inside 56px Middle -->
      <div class="shadow-border-b min-h-md relative w-full bg-white">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full px-4 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper">
              <button class="tab-btn-active">Tab Active</button>
              <div class="tab-border"></div>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 2</button>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 3</button>
            </div>
            <button class="btn-large-ghost-icon feather-more-horizontal my-auto"></button>
          </div>
        </div>
      </div>
      <!-- Card Header Tabs More Inside 64px Large -->
      <div class="shadow-border-b min-h-lg relative w-full bg-white">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full px-4 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper">
              <button class="tab-btn-active">Tab Active</button>
              <div class="tab-border"></div>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 2</button>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 3</button>
            </div>
            <button class="btn-large-ghost-icon feather-more-horizontal my-auto"></button>
          </div>
        </div>
      </div>
    </div>
    <!-- Card Header Tabs More Inside With Icon -->
    <div class="inline-flex flex-col items-center w-5/12 p-5 space-y-5">
      <!-- Card Header Tabs More Inside With Icon 48px Small -->
      <div class="shadow-border-b min-h-sm relative w-full bg-white">
        <div class="absolute top-0 flex justify-between flex-grow w-auto h-full px-4 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper">
              <button class="tab-btn-active">Tab Active</button>
              <div class="tab-border"></div>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 2</button>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 3</button>
            </div>
            <button class="btn-large-ghost-icon feather-more-horizontal my-auto"></button>
          </div>
        </div>
        <button
          class="right-4 text-md feather-rotate-ccw hover:text-blue-500 absolute mt-3.5 text-black cursor-pointer"></button>
      </div>
      <!-- Card Header Tabs More Inside With Icon 56px Middle -->
      <div class="shadow-border-b min-h-md relative w-full bg-white">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full px-4 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper">
              <button class="tab-btn-active">Tab Active</button>
              <div class="tab-border"></div>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 2</button>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 3</button>
            </div>
            <button class="btn-large-ghost-icon feather-more-horizontal my-auto"></button>
          </div>
          <button class="right-2 feather-rotate-ccw btn-large-ghost-icon absolute mt-2"></button>
        </div>
      </div>
      <!-- Card Header Tabs More Inside With Icon 64px Large -->
      <div class="shadow-border-b min-h-lg relative w-full bg-white">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full px-4 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper">
              <button class="tab-btn-active">Tab Active</button>
              <div class="tab-border"></div>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 2</button>
            </div>
            <div class="tab-btn-wrapper">
              <button class="tab-btn">Tab 3</button>
            </div>
            <button class="btn-large-ghost-icon feather-more-horizontal my-auto"></button>
          </div>
          <button class="right-2 feather-rotate-ccw btn-large-ghost-icon absolute mt-3.5"></button>
        </div>
      </div>
    </div>
    <!-- Card Footer -->
    <div class="inline-flex flex-col items-center w-8/12 p-5 space-y-5">
      <!-- Card Footer 48px Small -->
      <div id="48px Small" class="min-h-sm shadow-border-t relative w-full bg-white">
        <div class="absolute right-0 flex flex-row justify-end h-full p-2 space-x-3">
          <button class="btn-middle-tertiary">Button</button>
          <div class="divider-h"></div>
          <button class="btn-middle-tertiary">Button</button>
          <div class="divider-h"></div>
          <button class="btn-middle-primary">Button</button>
        </div>
      </div>
      <!-- Card Footer 56px  Middle -->
      <div id="56px Middle" class="min-h-md shadow-border-t relative w-full bg-white">
        <div class="absolute right-0 flex flex-row justify-end h-full p-3 space-x-3.5">
          <button class="btn-middle-tertiary">Button</button>
          <div class="divider-h"></div>
          <button class="btn-middle-tertiary">Button</button>
          <div class="divider-h"></div>
          <button class="btn-middle-primary">Button</button>
        </div>
      </div>
      <!-- Card Footer 64px  Large -->
      <div class="min-h-lg shadow-border-t relative w-full bg-white">
        <div class="absolute right-0 flex flex-row justify-end h-full p-4 space-x-4">
          <button class="btn-middle-tertiary">Button</button>
          <div class="divider-h"></div>
          <button class="btn-middle-tertiary">Button</button>
          <div class="divider-h"></div>
          <button class="btn-middle-primary">Button</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>