<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>card-headers-footers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../dist/css/styles.mini.css" />
</head>

<body>
  <div id="outerDiv" class="inline-flex flex-col items-center w-screen p-5 space-y-5 bg-blue-50">
    <!-- SECTION Header -->
    <!-- SECTION Icon right -->
    <div class="inline-flex flex-col items-center w-5/12 p-5 space-y-5">
      <!-- ANCHOR Small 48px -->
      <div class="inline-flex items-center w-full h-12 pl-4 pr-1.5 bg-white shadow-border-b">
        <div class="flex items-center justify-between w-full h-full">
          <p class="flex-grow font-semibold text-black text-md">
            Card Heading
          </p>
          <button class="feather-rotate-ccw icon-btn large ghost"></button>
        </div>
      </div>
      <!-- ANCHOR Middle 56px -->
      <div class="inline-flex items-center w-full pl-4 pr-1.5 bg-white h-14 shadow-border-b">
        <div class="inline-flex items-center justify-between w-full h-full">
          <p class="flex-grow text-base font-semibold text-black">
            Card Heading
          </p>
          <button class="feather-rotate-ccw icon-btn large ghost"></button>
        </div>
      </div>
      <!-- ANCHOR Large 64px -->
      <div class="inline-flex items-center w-full h-16 pl-4 pr-1.5 bg-white shadow-border-b">
        <div class="inline-flex items-center justify-between w-full h-full">
          <p class="flex-grow text-base font-semibold text-black">
            Card Heading
          </p>
          <button class="feather-rotate-ccw icon-btn large ghost"></button>
        </div>
      </div>
    </div>
    <!-- !SECTION Icon right ends -->
    <!-- SECTION Title only -->
    <div id="Card Header Title Only" class="inline-flex flex-col items-center w-5/12 p-5 space-y-5">
      <!-- ANCHOR Small 48px -->
      <div class="inline-flex items-center w-full h-12 bg-white shadow-border-b">
        <p class="mx-auto font-semibold text-black align-middle text-md">
          Card Heading
        </p>
      </div>
      <!-- ANCHOR Middle 56px -->
      <div class="inline-flex items-center w-full p-3 bg-white h-14 shadow-border-b">
        <p class="mx-auto text-base font-semibold text-black">Card Heading</p>
      </div>
      <!-- ANCHOR Large 64px -->
      <div class="inline-flex items-center w-full h-16 bg-white shadow-border-b">
        <p class="mx-auto text-base font-semibold text-black">Card Heading</p>
      </div>
    </div>
    <!-- !SECTION Title only ends -->
    <!-- SECTION Tabs icon right -->
    <div class="inline-flex flex-col items-center w-5/12 p-5 space-y-5">
      <!-- ANCHOR Small 48px -->
      <div class="relative w-full h-12 bg-white shadow-border-b">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full pl-4 pr-1.5 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper group active">
              <div class="tab-title">
                <i class="feather-edit-2 tab-icon"></i>
                <button class="tab-btn">Tab Active</button>
              </div>
              <div class="tab-border"></div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 2</button>
              </div>
              <div class="tab-border"></div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 3</button>
              </div>
              <div class="tab-border"></div>
            </div>
          </div>
          <button class="my-auto icon-btn large ghost feather-more-horizontal"></button>
        </div>
      </div>
      <!-- ANCHOR Middle 56px -->
      <div class="relative w-full bg-white shadow-border-b h-14">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full pl-4 pr-1.5 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper group active">
              <div class="tab-title">
                <button class="tab-btn">Tab Active</button>
                <i class="feather-check tab-icon"></i>
              </div>
              <div class="tab-border"></div>              
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 2</button>
                <i class="tab-icon feather-book"></i>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 3</button>
                <i class="tab-icon feather-book-open"></i>
              </div>
              <div class="tab-border">
              </div>
            </div>
          </div>
          <button class="my-auto icon-btn large ghost feather-more-horizontal"></button>
        </div>
      </div>
      <!-- ANCHOR Large 64px -->
      <div class="relative w-full h-16 bg-white shadow-border-b">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full pl-4 pr-1.5 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper group active">
              <div class="tab-title">
                <button class="tab-btn">Tab Active</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 2</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 3</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
          </div>
          <button class="my-auto icon-btn large ghost feather-more-horizontal"></button>
        </div>
      </div>
    </div>
    <!-- !SECTION Tabs icon right ends -->
    <!-- SECTION Tabs icon dense -->
    <div id="Card Header Tabs More Inside" class="inline-flex flex-col items-center w-5/12 p-5 space-y-5">
      <!-- ANCHOR Small 48px -->
      <div class="relative w-full h-12 bg-white shadow-border-b">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full pl-4 pr-1.5 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper group active">
              <div class="tab-title">
                <i class="feather-edit-2 tab-icon"></i>
                <button class="tab-btn">Tab Active</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <i class="feather-sun tab-icon"></i>
                <button class="tab-btn">Tab 2</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <i class="feather-check tab-icon"></i>
                <button class="tab-btn">Tab 3</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <button class="my-auto icon-btn large ghost feather-more-horizontal"></button>
          </div>
        </div>
      </div>
      <!-- ANCHOR Middle 56px -->
      <div class="relative w-full bg-white shadow-border-b h-14">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full pl-4 pr-1.5 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper group active">
              <div class="tab-title">
                <button class="tab-btn">Tab Active</button>
                <i class="feather-check tab-icon"></i>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 2</button>
                <i class="feather-edit-2 tab-icon"></i>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 3</button>
                <i class="feather-x-circle tab-icon"></i>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <button class="my-auto icon-btn large ghost feather-more-horizontal"></button>
          </div>
        </div>
      </div>
      <!-- ANCHOR Large 64px -->
      <div class="relative w-full h-16 bg-white shadow-border-b">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full pl-4 pr-1.5 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper group active">
              <div class="tab-title">
                <button class="tab-btn">Tab Active</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 2</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 3</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <button class="my-auto icon-btn large ghost feather-more-horizontal"></button>
          </div>
        </div>
      </div>
    </div>
    <!-- !SECTION Tabs icon dense ends -->
    <!-- SECTION Tabs two icons -->
    <div class="inline-flex flex-col items-center w-5/12 p-5 space-y-5">
      <!-- ANCHOR Small 48px -->
      <div class="relative w-full h-12 bg-white shadow-border-b">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full pl-4 pr-1.5 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper group active">
              <div class="tab-title">
                <i class="feather-sun tab-icon"></i>
                <button class="tab-btn">Tab Active</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <i class="feather-edit-2 tab-icon"></i>
                <button class="tab-btn">Tab 2</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <i class="feather-download tab-icon"></i>
                <button class="tab-btn">Tab 3</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <button class="my-auto icon-btn large ghost feather-more-horizontal"></button>
          </div>
          <button class="my-auto icon-btn large ghost feather-rotate-ccw"></button>
        </div>
      </div>
      <!-- ANCHOR Middle 56px -->
      <div class="relative w-full bg-white shadow-border-b h-14">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full pl-4 pr-1.5 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper group active">
              <div class="tab-title">
                <button class="tab-btn">Tab Active</button>
                <i class="feather-chevron-down tab-icon"></i>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 2</button>
                <i class="feather-chevron-down tab-icon"></i>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 3</button>
                <i class="feather-chevron-down tab-icon"></i>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <button class="my-auto icon-btn large ghost feather-more-horizontal"></button>
          </div>
          <button class="my-auto feather-rotate-ccw icon-btn large ghost"></button>
        </div>
      </div>
      <!-- ANCHOR Large 64px -->
      <div class="relative w-full h-16 bg-white shadow-border-b">
        <div class="absolute top-0 flex flex-row justify-between w-full h-full pl-4 pr-1.5 align-middle">
          <div class="flex justify-start h-full space-x-4">
            <div class="tab-btn-wrapper group active">
              <div class="tab-title">
                <button class="tab-btn">Tab Active</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 2</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div class="tab-btn-wrapper group">
              <div class="tab-title">
                <button class="tab-btn">Tab 3</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <button class="my-auto icon-btn large ghost feather-more-horizontal"></button>
          </div>
          <button class="my-auto feather-rotate-ccw icon-btn large ghost"></button>
        </div>
      </div>
    </div>
    <!-- !SECTION Tabs two icons ends -->
    <!-- !SECTION Header ends -->
    <!-- SECTION Footer -->
    <div class="inline-flex flex-col items-center w-8/12 p-5 space-y-5">
      <!-- ANCHOR Small 48px -->
      <div id="48px Small" class="relative w-full h-12 bg-white shadow-border-t">
        <div class="absolute right-0 flex flex-row justify-end h-full p-2 space-x-3">
          <button class="btn">Button</button>
          <div class="divider-v middle"></div>
          <button class="btn">Button</button>
          <div class="divider-v middle"></div>
          <button class="btn middle primary">Button</button>
        </div>
      </div>
      <!-- ANCHOR Middle 56px -->
      <div id="56px Middle" class="relative w-full bg-white h-14 shadow-border-t">
        <div class="absolute right-0 flex flex-row justify-end h-full p-3 space-x-3.5">
          <button class="btn">Button</button>
          <div class="divider-v middle"></div>
          <button class="btn">Button</button>
          <div class="divider-v middle"></div>
          <button class="btn middle primary">Button</button>
        </div>
      </div>
      <!-- ANCHOR Large 64px -->
      <div class="relative w-full h-16 bg-white shadow-border-t">
        <div class="absolute right-0 flex flex-row justify-end h-full p-4 space-x-4">
          <button class="btn">Button</button>
          <div class="divider-v middle"></div>
          <button class="btn">Button</button>
          <div class="divider-v middle"></div>
          <button class="btn middle primary">Button</button>
        </div>
      </div>
    </div>
    <!-- !SECTION Footer ends -->
  </div>
</body>

</html>