<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>collapse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../dist/css/styles.mini.css" />
</head>

<body class="bg-blue-50">
    <div id="outerDiv" class="inline-flex flex-row items-start justify-center w-screen p-5 space-x-5">
        <!-- ANCHOR Block -->
        <div style="width:350px" class="block collapse-wrapper">
            <!-- First segment (open) -->
            <div>
                <button id="header1" class="collapse-header open" disabled>
                    <i class="feather-chevron-down"></i>
                    <p>First Section</p>
                </button>
                <div id="body1" class="collapse-body">
                    <p>Esse sint deserunt non pariatur ipsum deserunt. Velit exercitation ex
                        eiusmod
                        consequat laborum irure. Irure sit minim ad magna laborum culpa fugiat sint amet exercitation ipsum
                        ex
                        in aliquip. Commodo Lorem fugiat anim officia deserunt Lorem qui labore irure veniam. Reprehenderit
                        elit
                        cillum reprehenderit irure dolor ea sint. Cupidatat esse fugiat est fugiat quis id eu eiusmod
                        officia
                        amet irure.</p>
                </div>
            </div>
            <!-- Second segment -->
            <div>
                <button id="header2" class="collapse-header open">
                    <i class="feather-chevron-down"></i>
                    <p>Second Section</p>
                </button>
                <div id="body2" class="collapse-body">
                    <p>Esse sint deserunt non pariatur ipsum deserunt. Velit exercitation ex eiusmod
                        consequat laborum irure. Irure sit minim ad magna laborum culpa fugiat sint amet exercitation ipsum
                        ex
                        in aliquip. Commodo Lorem fugiat anim officia deserunt Lorem qui labore irure veniam. Reprehenderit
                        elit
                        cillum reprehenderit irure dolor ea sint. Cupidatat esse fugiat est fugiat quis id eu eiusmod
                        officia
                        amet irure.</p>
                </div>
            </div>
            <!-- Third segment -->
            <div>
                <button id="header3" class="collapse-header">
                    <i class="feather-chevron-down"></i>
                    <p>Third Section</p>
                </button>
                <div id="body3" class="hidden collapse-body">
                    <p>Esse sint deserunt non pariatur ipsum deserunt. Velit exercitation ex eiusmod
                        consequat laborum irure. Irure sit minim ad magna laborum culpa fugiat sint amet exercitation ipsum
                        ex
                        in aliquip. Commodo Lorem fugiat anim officia deserunt Lorem qui labore irure veniam. Reprehenderit
                        elit
                        cillum reprehenderit irure dolor ea sint. Cupidatat esse fugiat est fugiat quis id eu eiusmod
                        officia
                        amet irure.</p>
                </div>
            </div>
            
            <div class="shadow-border"></div>
        </div>
        <!-- ANCHOR Outline -->
        <div style="width:350px" class="collapse-wrapper outline">
            <!-- First segment -->
            <div>
                <button id="header4" class="collapse-header open">
                    <i class="feather-chevron-down"></i>
                    <p>First Section</p>
                </button>
                <div id="body4" class="collapse-body">
                    <p>Esse sint deserunt non pariatur ipsum deserunt. Velit exercitation ex
                        eiusmod
                        consequat laborum irure. Irure sit minim ad magna laborum culpa fugiat sint amet exercitation ipsum
                        ex
                        in aliquip. Commodo Lorem fugiat anim officia deserunt Lorem qui labore irure veniam. Reprehenderit
                        elit
                        cillum reprehenderit irure dolor ea sint. Cupidatat esse fugiat est fugiat quis id eu eiusmod
                        officia
                        amet irure.</p>
                </div>
            </div>
            <!-- Second segment (open) -->
            <div>
                <button id="header5" class="collapse-header open" disabled>
                    <i class="feather-chevron-down"></i>
                    <p>Second Section</p>
                </button>
                <div id="body5" class="collapse-body">
                    <p>Esse sint deserunt non pariatur ipsum deserunt. Velit exercitation ex eiusmod
                        consequat laborum irure. Irure sit minim ad magna laborum culpa fugiat sint amet exercitation ipsum
                        ex
                        in aliquip. Commodo Lorem fugiat anim officia deserunt Lorem qui labore irure veniam. Reprehenderit
                        elit
                        cillum reprehenderit irure dolor ea sint. Cupidatat esse fugiat est fugiat quis id eu eiusmod
                        officia
                        amet irure.</p>
                </div>
            </div>
            <!-- Third segment -->
            <div>
                <button id="header6" class="collapse-header">
                    <i class="feather-chevron-down"></i>
                    <p>Third Section</p>
                </button>
                <div id="body6" class="hidden collapse-body">
                    <p>Esse sint deserunt non pariatur ipsum deserunt. Velit exercitation ex eiusmod
                        consequat laborum irure. Irure sit minim ad magna laborum culpa fugiat sint amet exercitation ipsum
                        ex
                        in aliquip. Commodo Lorem fugiat anim officia deserunt Lorem qui labore irure veniam. Reprehenderit
                        elit
                        cillum reprehenderit irure dolor ea sint. Cupidatat esse fugiat est fugiat quis id eu eiusmod
                        officia
                        amet irure.</p>
                </div>
            </div>
            <div class="shadow-border"></div>
        </div>
    </div>
    <script src="../dist/js/collapse.js"></script>
</body>