<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>avatars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../dist/css/styles.mini.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../dist/js/drawer.js"></script>
</head>

<body class="bg-yellow-50">
    <button class="_open-drawer btn-large-primary m-20">Open Drawer</button>
    <div id="dark-overlay" class="_close-drawer fixed inset-0 z-20 hidden w-full h-full bg-black opacity-0"></div>
    <div id="drawer"
        class="-right-full fixed inset-y-0 z-50 flex flex-col float-right w-1/2 overflow-hidden transition-transform duration-200 ease-in-out bg-white shadow-2xl">
        <div class="min-h-lg shadow-border-b inline-flex items-center w-full py-1 pl-4 pr-2 bg-white">
            <div class="inline-flex items-center justify-between w-full h-full">
                <p class="flex-grow text-base font-semibold text-black">
                    Drawer
                </p>
                <button class="_close-drawer feather-x btn-large-ghost-icon"></button>
            </div>
        </div>
        <div class="shadow-border-b h-14 inline-flex justify-center w-full bg-white">
            <div class="flex flex-row h-full">
                <div class="flex justify-start space-x-6">
                    <div id="tab-1" class="tab-btn-wrapper">
                        <button class="tab-btn">User Manual</button>
                    </div>
                    <div id="tab-2" class="tab-btn-wrapper">
                        <button class="tab-btn-active">Company Policy</button>
                        <div class="tab-border"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="drawer-content" class="w-full h-full p-6">
        </div>
        <div class="min-h-lg shadow-border-t relative w-full bg-white">
            <div class="absolute right-0 flex flex-row justify-end h-full p-4 space-x-4">
              <button class="_close-drawer btn-middle-primary">Close</button>
            </div>
          </div>

    </div>
</body>