<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>inputs-number-v2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../dist/css/styles.src.css" />
</head>

<body>
    <div id="outerDiv" class="inline-flex flex-col items-center w-screen p-5 space-y-5 bg-yellow-50">

        <!-- SECTION No label -->
        <div class="flex flex-row space-x-5">

            <!-- SECTION large -->
            <div class="flex flex-col space-y-4">

                <!-- ANCHOR Toggle read-only -->
                <div class="flex flex-col space-y-1">
                    <button class="w-full my-auto btn tertiary large _toggle">Toggle</button>
                    <div class="input-number-wrapper w-max group">
                        <button   class="increment-left large feather-plus"></button>
                        <input   class="w-30 number-input large" type="number" placeholder="E.g. 1975">
                        <button   class="increment-right large feather-minus"></button>
                    </div>
                </div>

                <!-- ANCHOR Default -->
                <div class="input-number-wrapper w-max group">
                    <button   class="increment-left large feather-plus"></button>
                    <input   class="w-30 number-input large" type="number" placeholder="E.g. 1975">
                    <button   class="increment-right large feather-minus"></button>
                </div>

                <!-- ANCHOR Read-only -->
                <div class="input-number-wrapper w-max group read-only">
                    <button   class="increment-left large feather-plus read-only"></button>
                    <input   class="w-30 number-input large" type="number" placeholder="E.g. 1975" readonly>
                    <button   class="increment-right large feather-minus read-only"></button>
                </div>

                <!-- ANCHOR Page load read-only -->
                <div class="input-number-wrapper w-max group">
                    <button   class="increment-left large feather-plus"></button>
                    <input   class="w-30 number-input large" type="number" placeholder="E.g. 1975" readonly>
                    <button   class="increment-right large feather-minus"></button>
                </div>

            </div>
            <!-- !SECTION large ends -->

            <!-- SECTION Middle -->
            <div class="flex flex-col space-y-4">

                <!-- ANCHOR Toggle read-only -->
                <div class="flex flex-col space-y-1">
                    <button class="w-full my-auto btn tertiary middle _toggle">Toggle</button>
                    <div class="input-number-wrapper w-max group">
                        <button   class="increment-left middle feather-plus"></button>
                        <input   class="w-26 number-input middle" type="number" placeholder="E.g. 1975">
                        <button   class="increment-right middle feather-minus"></button>
                    </div>
                </div>

                <!-- ANCHOR Default -->
                <div class="input-number-wrapper w-max group">
                    <button   class="increment-left middle feather-plus"></button>
                    <input   class="w-26 number-input middle" type="number" placeholder="E.g. 1975">
                    <button   class="increment-right middle feather-minus"></button>
                </div>

                <!-- ANCHOR Read-only -->
                <div class="input-number-wrapper w-max group read-only">
                    <button   class="increment-left middle feather-plus read-only"></button>
                    <input   class="w-26 number-input middle" type="number" placeholder="E.g. 1975" readonly>
                    <button   class="increment-right middle feather-minus read-only"></button>
                </div>

                <!-- ANCHOR Page load read-only -->
                <div class="input-number-wrapper w-max group">
                    <button   class="increment-left middle feather-plus"></button>
                    <input   class="w-26 number-input middle" type="number" placeholder="E.g. 1975" readonly>
                    <button   class="increment-right middle feather-minus"></button>
                </div>

            </div>
            <!-- !SECTION Middle ends -->

        </div>
        <!-- !SECTION No label ends -->

        <!-- SECTION Labeled -->
        <div class="flex flex-row space-x-5">

         <!-- SECTION large -->
        <div class="flex flex-col space-y-4">

            <!-- ANCHOR Toggle read-only -->
            <div class="flex flex-col space-y-1">
                    <button class="w-full my-auto btn tertiary large _toggle">Toggle</button>
                    <div class="label-input-wrapper">
                        <label for="inputId" class="text-black text-md">Year of birth</label>
                        <div class="input-number-wrapper w-max group">
                            <button   class="increment-left large feather-plus"></button>
                            <input   class="w-30 number-input large" type="number" placeholder="E.g. 1975">
                            <button   class="increment-right large feather-minus"></button>
                        </div>
                        <div class="input-descriptions">
                            <p class="_default">Enter your birth year</p>
                            <p class="hidden text-red-600 _error _age">You must be older than 18</p>
                            <p class="hidden text-red-600 _error _digits">Please enter a 4 digit number</p>
                        </div>
                    </div>

            </div>
            

            <!-- ANCHOR Default -->
            <div class="label-input-wrapper">
                <label for="inputId" class="text-black text-md">Year of birth</label>
                <div class="input-number-wrapper w-max group">
                    <button   class="increment-left large feather-plus"></button>
                    <input   class="w-30 number-input large" type="number" placeholder="E.g. 1975">
                    <button   class="increment-right large feather-minus"></button>
                </div>
                <div class="input-descriptions">
                    <p class="_default">Enter your birth year</p>
                    <p class="hidden text-red-600 _error _age">You must be older than 18</p>
                    <p class="hidden text-red-600 _error _digits">Please enter a 4 digit number</p>
                </div>
            </div>

            <!-- ANCHOR Read-only -->
            <div class="label-input-wrapper">
                <label for="inputId" class="text-black text-md">Year of birth</label>
                <div class="input-number-wrapper w-max group read-only">
                    <button   class="increment-left large feather-plus read-only"></button>
                    <input   class="w-30 number-input large" type="number" placeholder="E.g. 1975" readonly>
                    <button   class="increment-right large feather-minus read-only"></button>
                </div>
                <div class="input-descriptions">
                    <p class="_default">Enter your birth year</p>
                    <p class="hidden text-red-600 _error _age">You must be older than 18</p>
                    <p class="hidden text-red-600 _error _digits">Please enter a 4 digit number</p>
                </div>
            </div>
    
            <!-- ANCHOR Page load read-only -->
            <div class="label-input-wrapper">
                <label for="inputId" class="text-black text-md">Year of birth</label>
                <div class="input-number-wrapper w-max group">
                    <button   class="increment-left large feather-plus"></button>
                    <input   class="w-30 number-input large" type="number" placeholder="E.g. 1975" readonly>
                    <button   class="increment-right large feather-minus"></button>
                </div>
                <div class="input-descriptions">
                    <p class="_default">Enter your birth year</p>
                    <p class="hidden text-red-600 _error _age">You must be older than 18</p>
                    <p class="hidden text-red-600 _error _digits">Please enter a 4 digit number</p>
                </div>
            </div>

        </div>

        <!-- !SECTION Large ends -->
        <!-- SECTION Middle -->
    <div class="flex flex-col space-y-4">

        <!-- ANCHOR Toggle read-only -->
        <div class="flex flex-col space-y-1">
            <button class="w-full my-auto btn tertiary middle _toggle">Toggle</button>
            <div class="label-input-wrapper">
                <label for="inputId" class="text-black text-md">Year of birth</label>
                <div class="input-number-wrapper w-max group">
                    <button   class="increment-left middle feather-plus"></button>
                    <input   class="w-30 number-input middle" type="number" placeholder="E.g. 1975">
                    <button   class="increment-right middle feather-minus"></button>
                </div>
                <div class="input-descriptions">
                    <p class="_default">Enter your birth year</p>
                    <p class="hidden text-red-600 _error _age">You must be older than 18</p>
                    <p class="hidden text-red-600 _error _digits">Please enter a 4 digit number</p>
                </div>

            </div>
        </div>

        <!-- ANCHOR Default -->
        <div class="label-input-wrapper">
            <label for="inputId" class="text-black text-md">Year of birth</label>
            <div class="input-number-wrapper w-max group">
                <button   class="increment-left middle feather-plus"></button>
                <input   class="w-26 number-input middle" type="number" placeholder="E.g. 1975">
                <button   class="increment-right middle feather-minus"></button>
            </div>
            <div class="input-descriptions">
                <p class="_default">Enter your birth year</p>
                <p class="hidden text-red-600 _error _age">You must be older than 18</p>
                <p class="hidden text-red-600 _error _digits">Please enter a 4 digit number</p>
            </div>
        </div>

        <!-- ANCHOR Read-only -->
        <div class="label-input-wrapper">
            <label for="inputId" class="text-black text-md">Year of birth</label>
            <div class="input-number-wrapper w-max group read-only">
                <button   class="increment-left middle feather-plus read-only"></button>
                <input   class="w-26 number-input middle" type="number" placeholder="E.g. 1975" readonly>
                <button   class="increment-right middle feather-minus read-only"></button>
            </div>
            <div class="input-descriptions">
                <p class="_default">Enter your birth year</p>
                <p class="hidden text-red-600 _error _age">You must be older than 18</p>
                <p class="hidden text-red-600 _error _digits">Please enter a 4 digit number</p>
            </div>
        </div>

        <!-- ANCHOR Page load read-only -->
        <div class="label-input-wrapper">
            <label for="inputId" class="text-black text-md">Year of birth</label>
            <div class="input-number-wrapper w-max group">
                <button   class="increment-left middle feather-plus"></button>
                <input   class="w-26 number-input middle" type="number" placeholder="E.g. 1975" readonly>
                <button   class="increment-right middle feather-minus"></button>
            </div>
            <div class="input-descriptions">
                <p class="_default">Enter your birth year</p>
                <p class="hidden text-red-600 _error _age">You must be older than 18</p>
                <p class="hidden text-red-600 _error _digits">Please enter a 4 digit number</p>
            </div>
        </div>

<!-- !SECTION Middle ends -->
     </div>
        </div>
        <!-- !SECTION Labeled ends -->

    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(setGlobalNumberInputReadonly());

        var hasLabel;
        var wrapper;
        var valid;


        $('.increment-left').on("click", function () {
            increment(this);
        })

        $('.increment-right').on("click", function () {
            decrement(this);
        })

        function increment(incrementor) {
            value = $(incrementor).siblings('input').val();
            value = Number(value);
            value = value + 1;
            $(incrementor).siblings('input').val(value);
            validate($(incrementor).siblings('input'));
        }

        function decrement(decrementor) {
            value = $(decrementor).siblings('input').val();
            value = Number(value);
            value = value - 1;
            $(decrementor).siblings('input').val(value);
            validate($(decrementor).siblings('input'));
        }

        function determineLabelAndWrapper(button) {
            if (button.siblings('.input-number-wrapper').length == 1) {
                wrapper = button.parent().find('.input-number-wrapper');
                hasLabel = false;
            } else if (button.siblings('.label-input-wrapper').length == 1) {
                wrapper = button.parent().find('.label-input-wrapper');
                hasLabel = true;
            }
        }

        function setGlobalNumberInputReadonly() {
            var readonly = $('input[type=number][readonly]');
            var thisWrapper = $(readonly).parents('.input-number-wrapper').not('.read-only');
            readonly.attr("tabindex", "-1");
            thisWrapper.addClass('read-only');
            thisWrapper.find('button').addClass('read-only');
            thisWrapper.find('button').attr("tabindex", "-1");
        }

        function setThisNumberInputReadonly(input) {
            var isReadonly;

            if (input.parents('.input-number-wrapper').not('.read-only').length == 1) {
                // not read only
                isReadonly = false;
            } else if (input.parents('.input-number-wrapper').not('.read-only').length == 0) {
                // is read only
                isReadonly = true;
            };

            if (isReadonly == true) {
                wrapper.find('button').removeClass('read-only');
                wrapper.find('button').removeAttr('tabindex');
                input.removeAttr("readonly");
                input.removeAttr("tabindex");
                if (hasLabel == true) {
                    wrapper.find('.input-number-wrapper').removeClass('read-only');
                    wrapper.find('.input-number-wrapper').removeClass('error');
                    wrapper.find('.input-descriptions').removeClass('!hidden');
                } else if (hasLabel == false) {
                    wrapper.removeClass('read-only');
                    wrapper.removeClass('error');
                }
                validate($(input));
            } else if (isReadonly == false) {
                wrapper.find('button').addClass('read-only');
                wrapper.find('button').attr("tabindex", "-1");
                input.attr("readonly", true);
                input.attr("tabindex", "-1");
                if (hasLabel == true) {
                    wrapper.find('.input-number-wrapper').addClass('read-only');
                    wrapper.find('.input-number-wrapper').removeClass('error');
                    wrapper.find('.input-descriptions').addClass('!hidden');
                } else if (hasLabel == false) {
                    wrapper.addClass('read-only');
                    wrapper.removeClass('error');
                }
            }
        }

        $('._toggle').click(function () {

            determineLabelAndWrapper($(this));

            if (hasLabel == true) {
                input = $(wrapper).find('input');
                setThisNumberInputReadonly($(input));
            } else if (hasLabel == false) {
                input = $(wrapper).find('input');
                setThisNumberInputReadonly($(input));
            }

        });

        $('input[type="number"]').on('input', function() {
            validate($(this));
        });

        function validate(input){
            var validYear;
            value = $(input).val();
            digits = value.length;
            digits = Number(digits);
            numValue = Number(value);
            // console.log("current value is " + value);
            // console.log("current digits is " + digits);
            age = 2021 - numValue;
            console.log("current age is " + age);

            if (input.parents('.label-input-wrapper').length == 1) {
                console.log("WrapperLabel true")
                hasLabel = true;
            } else {
                console.log("WrapperLabel false")
                hasLabel = false;
            }

            wrapper = $(input).parents('.input-number-wrapper');

            wrapper.find('._default').addClass('hidden');

            if (digits === 4){
                validYear = true;
                if (hasLabel = true){
                    wrapper.parents('.input-descriptions').find('.input-descriptions').children().addClass('hidden');
                    wrapper.parents('.label-input-wrapper').find('._default').removeClass('hidden');
                    wrapper.removeClass('error');
                    console.log("has label valid year");
                    console.log("digits are " + digits);
                }
            } else if (value == ''){
                if (hasLabel = true){
                    wrapper.parents('.label-input-wrapper').find('.input-descriptions').children().addClass('hidden');
                    wrapper.parents('.label-input-wrapper').find('._default').removeClass('hidden');
                    wrapper.removeClass('error');
                    console.log("blank input");
                }
            } else {
                validYear = false;
                if (hasLabel = true){
                    wrapper.parents('.label-input-wrapper').find('.input-descriptions').children().addClass('hidden');
                    wrapper.parents('.label-input-wrapper').find('._digits').removeClass('hidden');
                    wrapper.addClass('error');
                    console.log("has label invalid year");
                    console.log("digits are " + digits);
                }
            }

            if (age < 18 && validYear == true){
                // younger than 18
                if (hasLabel = true){
                    console.log("has label young");
                    wrapper.parents('.label-input-wrapper').find('.input-descriptions').children().addClass('hidden');
                    wrapper.parents('.label-input-wrapper').find('._age').removeClass('hidden');
                    wrapper.addClass('error');
                } else {
                    console.log("no label young");
                    wrapper.addClass('error');
                }

            } else if (age >= 18 && validYear == true){
                // older than 18
                if (hasLabel = true){
                    console.log("has label old")
                    wrapper.parents('.label-input-wrapper').find('.input-descriptions').children().addClass('hidden');
                    wrapper.removeClass('error');
                } else {
                    wrapper.removeClass('error');
                    console.log("no label old")
                }
            }
        }

        

    </script>

</body>

</html>