<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>inputs-text-without-label</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../dist/css/styles.mini.css" />
</head>

<body class="bg-yellow-50">
    <div id="outerDiv" class="inline-flex flex-col items-center w-full p-5 space-y-5">
        <p class="text-center text-gray-900 text-md">To test validation, type in the fields. Valid inputs must contain ".com"
            <br>You can toggle "read-only" for the first row of inputs. Press "Toggle" to change the input field above it.</p>

        <!-- SECTION No label -->
        <div id="no-label" class="flex-col items-center w-full p-5 space-y-5">
            <!-- SECTION Read-only toggle -->
            <div class="flex flex-row flex-wrap w-full mx-auto justify-evenly">
                <!-- ANCHOR No icon -->
                <div class="flex flex-row space-x-1">
                    <input type="text" placeholder="Enter website" class="w-49 text-input large">
                    </input>
                    <button class="w-20 _toggle btn large tertiary">Toggle</button>
                </div>
                <!-- ANCHOR Icon left -->
                <div class="flex flex-row space-x-1">
                    <fieldset class="text-input-wrapper large">
                        <span class="icon-left">
                            <i class="input-icon feather-search">
                            </i>
                        </span>
                        <input type="text" class="w-49 text-input-icon-left large" placeholder="Enter website">
                    </fieldset>
                    <button class="w-20 _toggle btn large tertiary">Toggle</button>
                </div>
                <!-- ANCHOR Icon right -->
                <div class="flex flex-row space-x-1">
                    <fieldset class="text-input-wrapper large">
                        <span class="icon-right">
                            <i class="input-icon feather-sun">
                            </i>
                        </span>
                        <input type="text" class="text-input large w-49" placeholder="Enter website">
                    </fieldset>
                    <button class="w-20 _toggle btn large tertiary">Toggle</button>
                </div>
                <!-- ANCHOR Double icon right -->
                <div class="flex flex-row space-x-1">
                    <fieldset class="text-input-wrapper large">
                        <span class="icon-right">
                            <i class="input-icon feather-cloud">
                            </i>
                            <i class="input-icon feather-sun">
                            </i>
                        </span>
                        <input type="text" class="text-input large w-49" placeholder="Enter website">
                    </fieldset>
                    <button class="w-20 _toggle btn large tertiary">Toggle</button>
                </div>
                <!-- ANCHOR Icon right left -->
                <div class="flex flex-row space-x-1">
                    <fieldset class="text-input-wrapper large" readonly>
                        <span class="icon-right">
                            <i class="input-icon feather-cloud">
                            </i>
                        </span>
                        <span class="icon-left">
                            <i class="input-icon feather-search">
                            </i>
                        </span>
                        <input type="text" class="text-input-icon-left large w-49" placeholder="Enter website">
                    </fieldset>
                    <button class="w-20 _toggle btn large tertiary">Toggle</button>
                </div>
            </div>
            <!-- !SECTION Read-only toggle ends -->
            <!-- SECTION Read-only -->
            <div class="flex flex-row flex-wrap w-full mx-auto justify-evenly">
                <!-- ANCHOR No icon -->
                <input type="text" placeholder="Enter website" class="w-70 text-input large" readonly></input>
                <!-- ANCHOR Icon left -->
                <fieldset class="text-input-wrapper large" readonly>
                    <span class="icon-left">
                        <i class="input-icon feather-search">
                        </i>
                    </span>
                    <input type="text" class="w-70 text-input-icon-left large" placeholder="Enter website">
                </fieldset>
                <!-- ANCHOR Icon right -->
                <fieldset class="text-input-wrapper large" readonly>
                    <span class="icon-right">
                        <i class="input-icon feather-sun">
                        </i>
                    </span>
                    <input type="text" class="text-input large w-70" placeholder="Enter website">
                </fieldset>
                <!-- ANCHOR Double icon right -->
                <fieldset class="text-input-wrapper large" readonly>
                    <span class="icon-right">
                        <i class="input-icon feather-cloud">
                        </i>
                        <i class="input-icon feather-sun">
                        </i>
                    </span>
                    <input type="text" class="text-input large w-70" placeholder="Enter website">
                </fieldset>
                <!-- ANCHOR Icon right left -->
                <fieldset class="text-input-wrapper large" readonly>
                    <span class="icon-right">
                        <i class="input-icon feather-cloud">
                        </i>
                    </span>
                    <span class="icon-left">
                        <i class="input-icon feather-search">
                        </i>
                    </span>
                    <input type="text" class="text-input-icon-left large w-70" placeholder="Enter website">
                </fieldset>
            </div>
            <!-- !SECTION Read-only ends -->
            <!-- SECTION Large -->
            <div class="flex flex-row flex-wrap w-full mx-auto justify-evenly">
                <!-- ANCHOR No icon -->
                <input type="text" placeholder="Enter website" class="w-70 text-input large"></input>
                <!-- ANCHOR Icon left -->
                <fieldset class="text-input-wrapper large">
                    <span class="icon-left">
                        <i class="input-icon feather-search">
                        </i>
                    </span>
                    <input type="text" class="w-70 text-input-icon-left large" placeholder="Enter website">
                </fieldset>
                <!-- ANCHOR Icon right -->
                <fieldset class="text-input-wrapper large">
                    <span class="icon-right">
                        <i class="input-icon feather-sun">
                        </i>
                    </span>
                    <input type="text" class="text-input large w-70" placeholder="Enter website">
                </fieldset>
                <!-- ANCHOR Double icon right -->
                <fieldset class="text-input-wrapper large">
                    <span class="icon-right">
                        <i class="input-icon feather-cloud">
                        </i>
                        <i class="input-icon feather-sun">
                        </i>
                    </span>
                    <input type="text" class="text-input large w-70" placeholder="Enter website">
                </fieldset>
                <!-- ANCHOR Icon right left -->
                <fieldset class="text-input-wrapper large">
                    <span class="icon-right">
                        <i class="input-icon feather-cloud">
                        </i>
                    </span>
                    <span class="icon-left">
                        <i class="input-icon feather-search">
                        </i>
                    </span>
                    <input type="text" class="text-input-icon-left large w-70" placeholder="Enter website">
                </fieldset>
            </div>
            <!-- !SECTION Large ends -->
            <!-- SECTION Middle -->
            <div class="flex flex-row flex-wrap w-full mx-auto justify-evenly">
                <!-- ANCHOR No icon -->
                <input type="text" placeholder="Enter website" class="w-70 text-input middle"></input>
                <!-- ANCHOR Icon left -->
                <fieldset class="text-input-wrapper middle">
                    <span class="icon-left">
                        <i class="input-icon feather-search">
                        </i>
                    </span>
                    <input type="text" class="w-70 text-input-icon-left middle" placeholder="Enter website">
                </fieldset>
                <!-- ANCHOR Icon right -->
                <fieldset class="text-input-wrapper middle">
                    <span class="icon-right">
                        <i class="input-icon feather-sun">
                        </i>
                    </span>
                    <input type="text" class="text-input middle w-70" placeholder="Enter website">
                </fieldset>
                <!-- ANCHOR Double icon right -->
                <fieldset class="text-input-wrapper middle">
                    <span class="icon-right">
                        <i class="input-icon feather-cloud">
                        </i>
                        <i class="input-icon feather-sun">
                        </i>
                    </span>
                    <input type="text" class="text-input middle w-70" placeholder="Enter website">
                </fieldset>
                <!-- ANCHOR Icon right left -->
                <fieldset class="text-input-wrapper middle">
                    <span class="icon-right">
                        <i class="input-icon feather-cloud">
                        </i>
                    </span>
                    <span class="icon-left">
                        <i class="input-icon feather-search">
                        </i>
                    </span>
                    <input type="text" class="text-input-icon-left middle w-70" placeholder="Enter website">
                </fieldset>
            </div>
            <!-- !SECTION Middle ends -->
            <!-- SECTION small -->
            <div class="flex flex-row flex-wrap w-full mx-auto justify-evenly">
                <!-- ANCHOR No icon -->
                <input type="text" placeholder="Enter website" class="w-70 text-input small"></input>
                <!-- ANCHOR Icon left -->
                <fieldset class="text-input-wrapper small">
                    <span class="icon-left">
                        <i class="input-icon feather-search">
                        </i>
                    </span>
                    <input type="text" class="w-70 text-input-icon-left small" placeholder="Enter website">
                </fieldset>
                <!-- ANCHOR Icon right -->
                <fieldset class="text-input-wrapper small">
                    <span class="icon-right">
                        <i class="input-icon feather-sun">
                        </i>
                    </span>
                    <input type="text" class="text-input small w-70" placeholder="Enter website">
                </fieldset>
                <!-- ANCHOR Double icon right -->
                <fieldset class="text-input-wrapper small">
                    <span class="icon-right">
                        <i class="input-icon feather-cloud">
                        </i>
                        <i class="input-icon feather-sun">
                        </i>
                    </span>
                    <input type="text" class="text-input small w-70" placeholder="Enter website">
                </fieldset>
                <!-- ANCHOR Icon right left -->
                <fieldset class="text-input-wrapper small">
                    <span class="icon-right">
                        <i class="input-icon feather-cloud">
                        </i>
                    </span>
                    <span class="icon-left">
                        <i class="input-icon feather-search">
                        </i>
                    </span>
                    <input type="text" class="text-input-icon-left small w-70" placeholder="Enter website">
                </fieldset>
            </div>
            <!-- !SECTION small ends -->
        </div>

        <!-- !SECTION No label ends -->

        <!-- SECTION With label -->

        <div id="with-label" class="flex-col items-center w-full p-5 space-y-5">
            <!-- SECTION Read-only toggle -->
            <div class="flex flex-row flex-wrap w-full mx-auto justify-evenly">
                <!-- ANCHOR No icon -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <div class="flex flex-row content-center space-x-1">
                        <input type="text" placeholder="Enter website" class="text-input large w-49">
                        </input>
                        <button class="w-20 _toggle btn large tertiary">Toggle</button>
                    </div>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
                <!-- ANCHOR Icon left -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <div class="flex flex-row content-center space-x-1">
                        <fieldset class="text-input-wrapper large">
                            <span class="icon-left">
                                <i class="input-icon feather-search">
                                </i>
                            </span>
                            <input type="text" class="text-input-icon-left large w-49" placeholder="Enter website">
                        </fieldset>
                        <button class="w-20 _toggle btn large tertiary">Toggle</button>
                    </div>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
                <!-- ANCHOR Icon right -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <div class="flex flex-row content-center space-x-1">
                        <fieldset class="text-input-wrapper large">
                            <span class="icon-right">
                                <i class="input-icon feather-sun">
                                </i>
                            </span>
                            <input type="text" class="text-input large w-49" placeholder="Enter website">
                        </fieldset>
                        <button class="w-20 _toggle btn large tertiary">Toggle</button>
                    </div>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
                <!-- ANCHOR Double icon right -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <div class="flex flex-row space-x-1">
                        <fieldset class="text-input-wrapper large">
                            <span class="icon-right">
                                <i class="input-icon feather-cloud">
                                </i>
                                <i class="input-icon feather-sun">
                                </i>
                            </span>
                            <input type="text" class="text-input large w-49" placeholder="Enter website">
                        </fieldset>
                        <button class="w-20 _toggle btn large tertiary">Toggle</button>
                    </div>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
                <!-- ANCHOR Icon right left -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <div class="flex flex-row content-center space-x-1">
                        <fieldset class="text-input-wrapper large" readonly>
                            <span class="icon-right">
                                <i class="input-icon feather-cloud">
                                </i>
                            </span>
                            <span class="icon-left">
                                <i class="input-icon feather-search">
                                </i>
                            </span>
                            <input type="text" class="text-input-icon-left large w-49" placeholder="Enter website">
                        </fieldset>
                        <button class="w-20 _toggle btn large tertiary">Toggle</button>
                    </div>
                    <div class="input-descriptions !hidden">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
            </div>
            <!-- !SECTION Read-only toggle ends -->

            <!-- SECTION Large -->
            <div class="flex flex-row flex-wrap w-full mx-auto justify-evenly">
                <!-- ANCHOR No icon -->
                <div class="label-input-wrapper">
                        <label for="inputId" class="input-label">Enter website</label>
                        <input type="text" placeholder="Enter website" class="w-70 text-input large"></input>
                        <div class="input-descriptions">
                            <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                            <span class="_default">Please provide your website</span>
                        </div>
                </div>
                <!-- ANCHOR Icon left -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <fieldset class="text-input-wrapper large">
                        <span class="icon-left">
                            <i class="input-icon feather-search">
                            </i>
                        </span>
                        <input type="text" class="w-70 text-input-icon-left large" placeholder="Enter website">
                    </fieldset>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
                <!-- ANCHOR Icon right -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <fieldset class="text-input-wrapper large">
                        <span class="icon-right">
                            <i class="input-icon feather-sun">
                            </i>
                        </span>
                        <input type="text" class="text-input large w-70" placeholder="Enter website">
                    </fieldset>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
                <!-- ANCHOR Double icon right -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <fieldset class="text-input-wrapper large">
                        <span class="icon-right">
                            <i class="input-icon feather-cloud">
                            </i>
                            <i class="input-icon feather-sun">
                            </i>
                        </span>
                        <input type="text" class="text-input large w-70" placeholder="Enter website">
                    </fieldset>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
                <!-- ANCHOR Icon right left -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <fieldset class="text-input-wrapper large">
                        <span class="icon-right">
                            <i class="input-icon feather-cloud">
                            </i>
                        </span>
                        <span class="icon-left">
                            <i class="input-icon feather-search">
                            </i>
                        </span>
                        <input type="text" class="text-input-icon-left large w-70" placeholder="Enter website">
                    </fieldset>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
            </div>
            <!-- !SECTION Large ends -->
            <!-- SECTION Middle -->
            <div class="flex flex-row flex-wrap w-full mx-auto justify-evenly">
                <!-- ANCHOR No icon -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <input type="text" placeholder="Enter website" class="w-70 text-input middle">
                </input>
                <div class="input-descriptions">
                    <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                    <span class="_default">Please provide your website</span>
                </div>
            </div>
                <!-- ANCHOR Icon left -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <fieldset class="text-input-wrapper middle">
                        <span class="icon-left">
                            <i class="input-icon feather-search">
                            </i>
                        </span>
                        <input type="text" class="w-70 text-input-icon-left middle" placeholder="Enter website">
                    </fieldset>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
                <!-- ANCHOR Icon right -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <fieldset class="text-input-wrapper middle">
                        <span class="icon-right">
                            <i class="input-icon feather-sun">
                            </i>
                        </span>
                        <input type="text" class="text-input middle w-70" placeholder="Enter website">
                    </fieldset>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
                <!-- ANCHOR Double icon right -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <fieldset class="text-input-wrapper middle">
                        <span class="icon-right">
                            <i class="input-icon feather-cloud">
                            </i>
                            <i class="input-icon feather-sun">
                            </i>
                        </span>
                        <input type="text" class="text-input middle w-70" placeholder="Enter website">
                    </fieldset>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
                <!-- ANCHOR Icon right left -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <fieldset class="text-input-wrapper middle">
                        <span class="icon-right">
                            <i class="input-icon feather-cloud">
                            </i>
                        </span>
                        <span class="icon-left">
                            <i class="input-icon feather-search">
                            </i>
                        </span>
                        <input type="text" class="text-input-icon-left middle w-70" placeholder="Enter website">
                    </fieldset>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
            </div>
            <!-- !SECTION Middle ends -->
            <!-- SECTION small -->
            <div class="flex flex-row flex-wrap w-full mx-auto justify-evenly">
                <!-- ANCHOR No icon -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <input type="text" placeholder="Enter website" class="w-70 text-input small"></input>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">Please provide your website</span>
                    </div>
                </div>
                <!-- ANCHOR Icon left -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <fieldset class="text-input-wrapper small">
                        <span class="icon-left">
                            <i class="input-icon feather-search">
                            </i>
                        </span>
                        <input type="text" class="w-70 text-input-icon-left small" placeholder="Enter website">
                    </fieldset>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
                <!-- ANCHOR Icon right -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <fieldset class="text-input-wrapper small">
                        <span class="icon-right">
                            <i class="input-icon feather-sun">
                            </i>
                        </span>
                        <input type="text" class="text-input small w-70" placeholder="Enter website">
                    </fieldset>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
                <!-- ANCHOR Double icon right -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <fieldset class="text-input-wrapper small">
                        <span class="icon-right">
                            <i class="input-icon feather-cloud">
                            </i>
                            <i class="input-icon feather-sun">
                            </i>
                        </span>
                        <input type="text" class="text-input small w-70" placeholder="Enter website">
                    </fieldset>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
                <!-- ANCHOR Icon right left -->
                <div class="label-input-wrapper">
                    <label for="" class="input-label">Enter website</label>
                    <fieldset class="text-input-wrapper small">
                        <span class="icon-right">
                            <i class="input-icon feather-cloud">
                            </i>
                        </span>
                        <span class="icon-left">
                            <i class="input-icon feather-search">
                            </i>
                        </span>
                        <input type="text" class="text-input-icon-left small w-70" placeholder="Enter website">
                    </fieldset>
                    <div class="input-descriptions">
                        <span class="hidden text-red-600 _error">Input must be a ".com" website</span>
                        <span class="_default">
                            Please provide your website
                        </span>
                    </div>
                </div>
            </div>
            <!-- !SECTION small ends -->
        </div>

        <!-- !SECTION With label ends -->

    </div>

    <script src="../dist/js/popper.js"></script>
    <script src="../dist/js/tippy-bundle.umd.js"></script>
    <script>
         tippy('[data-tippy-content]',{
                        allowHTML: true,
                    });
        // ANCHOR if parent <fieldset> is disabled or readonly, set the child <input> to have the same attribute 

        function bubbleReadonly() {
            var disabledForm = $("fieldset:disabled").find("input");
            $(disabledForm).prop("disabled", true);
            var readonlyForm = $("fieldset[readonly]").find("input");
            $(readonlyForm).prop("readonly", true);
        }

        const clearIcon =
            "<i onClick=clearInput() class='cursor-pointer _custom-icon icon-gray input-icon feather-delete' data-tippy-placement='auto' data-tippy-content='Clear'" +
            ">" + "<" + "/i" + ">"

        const validIcon =
            "<i class='cursor-pointer _custom-icon input-icon feather-check icon-success' data-tippy-placement='auto' data-tippy-content='Valid'" +
            ">" + "<" + "/i" + ">"

        const errorIcon =
            "<i onClick=clearInput() class='cursor-pointer _added-dynamically input-icon icon-error feather-info'" +
            ">" + "<" + "/i" + ">"

        const readOnlyIcon =
            "<i class='cursor-pointer _readonly-icon input-icon icon-noninteractive feather-eye' data-tippy-placement='auto' data-tippy-content='This filed cannot be edited'" +
            ">" + "<" + "/i" + ">"

        $(document).ready(bubbleReadonly());
        $(document).ready(setGlobalReadyOnlyIcons());

        // ANCHOR global variables for form type (nest) and the parent <fieldset> (forminput)
        var nest;
        var forminput;
        var valid;
        var tippyInstances = [];
        var hasLabel;

        // ANCHOR find the form type and validate the input everytime an input is provided to any of the text inputs on the page
        $('input[type="text"]').on('input', function() {
            inputNest($(this));
            validate($(this));
            setIcon($(this));
            setDescription($(this));
        });

        // ANCHOR find the form type based on some <input> element
        function inputNest(input) {
            // find the parent <inputfield>
            forminput = input.parents(".text-input-wrapper");
            if (input.parents(".label-input-wrapper").length !== 0){
                hasLabel = true;
            } else {
                hasLabel = false;
            }
            // does the .icon-right element have 2 or more elements?
            if (forminput.find(".icon-right").children().length >= 2) {
                nest = "double icon right";
                // do both .icon-right and .icon-left have any children? 
            } else if (forminput.find(".icon-right").children().length != 0 && forminput.find(".icon-left").children()
                .length != 0) {
                nest = "icon left right"
                    // does the .icon-left element have a child while .icon-right has none?
            } else if (input.parent(".text-input-wrapper").find(".icon-right").children().length == 0 && forminput.find(
                    ".icon-left").children().length == 1) {
                nest = "icon left"
                    // does the .icon-right element have a child while .icon-left has none?
            } else if (input.parent(".text-input-wrapper").find(".icon-right").children().length == 1 && forminput.find(
                    ".icon-left").children().length == 0) {
                nest = "icon right"
                    // if nothing is true, the <input> must have no icon
            } else {
                nest = "no icon";
            };
        };

        // ANCHOR Validate the input and set classes
        function validate(input) {

            // set regex and define the test string as the value of the <input> field that is passed to the function
            const regex = /(\.com)/gm;
            const str = input.val();

            if (str == "") {
                // if the <input> is empty, remove .error
                // forminput is for cases where <forminput> exists as a parent
                // input is the <input> element and exists for cases where there is no nesting (i.e. no icon input fields)
                forminput.removeClass("error");
                input.removeClass("error");
                valid = false;
            } else if (nest == "no icon" && regex.test(str) == true) {
                // if the input field is of the type "no icon" and the input is valid, then remove .error from the <input> element itself, which is the element being interacted with and passed to this function
                input.removeClass("error");
                valid = true;
            } else if (nest == "no icon" && regex.test(str) == false) {
                // if the input field is of the type "no icon" and the input is not valid, then add .error to the <input> element itself, which is the element being interacted with and passed to this function
                input.addClass("error");
                valid = false;
            } else if (regex.test(str) == true) {
                // if the input field is of any other kind than "no icon" and the input is valid, then remove .error from the <forminput> element, which is determined by the validate() function
                forminput.removeClass("error");
                valid = true;
            } else if (regex.test(str) == false) {
                // if the input field is of any other kind than "no icon" and the input is not valid, then add .error to the <forminput> element, which is determined by the validate() function
                forminput.addClass("error");
                valid = false;
            }
        };

        // ANCHOR set read-only icons

        function setGlobalReadyOnlyIcons() {
            readonlyInputs = $("fieldset[readonly]");
            readonlyIconRightWrapper = $(readonlyInputs).find(".icon-right");
            $(readonlyIconRightWrapper).children("i").addClass("hidden");
            $(readOnlyIcon).appendTo(readonlyIconRightWrapper);
            tippy('[data-tippy-content]',{
                        allowHTML: true,
                    });
            // tippy('._readonly-icon');
        }

        $('._toggle').click(function() {

            var isReadonly;
            var innerInput;

            if ($(this).siblings('fieldset').length == 1) {
                innerInput = $(this).siblings('fieldset').find('input');
            } else {
                innerInput = $(this).siblings('input');
            }

            //

            if ($(this).siblings('fieldset').length == 1 && $(this).siblings('fieldset').is("[readonly]")) {
                isReadonly = true
                inputNest($(innerInput));

            } else if ($(this).siblings('fieldset').length == 1 && $(this).siblings('fieldset').find('input')
                .is("[readonly]")) {
                isReadonly = true
                inputNest($(innerInput));
 
            } else if ($(this).siblings('fieldset').is("[readonly]") && $(this).siblings('fieldset').find(
                    'input').is("[readonly]")) {
                isReadonly = true
                inputNest($(innerInput));
 
            } else if ($(this).siblings('fieldset').length == 1) {
                isReadonly = false
                inputNest($(innerInput));
 
            } else if ($(this).siblings('input').length == 1 && $(this).siblings('input').is("[readonly]")) {
                isReadonly = true
                inputNest($(innerInput));
   
            } else if ($(this).siblings('input').length == 1) {
                isReadonly = false
                inputNest($(innerInput));
   
            }

            if (nest == "no icon" && isReadonly == true) {
                setThisReadOnlyIcons($(this).siblings('input'));
                $(this).siblings('input').removeAttr("readonly");

            } else if (nest == "no icon" && isReadonly == false) {

                setThisReadOnlyIcons($(this).siblings('input'));
                $(this).siblings('input').attr("readonly", true);
            
            } else if (nest == "icon left" && isReadonly == false){

                setThisReadOnlyIcons($(this).siblings('fieldset').find('input'));
                $(this).siblings('fieldset').find('input').attr("readonly", true);

            } else if (nest == "icon left" && isReadonly == true){

                setThisReadOnlyIcons($(this).siblings('fieldset').find('input'));
                $(this).siblings('fieldset').removeAttr("readonly");
                $(this).siblings('fieldset').find('input').removeAttr("readonly");

            } else if (nest !== "no icon" && isReadonly == true) {

                $(this).siblings('fieldset').removeAttr("readonly");
                $(this).siblings('fieldset').find('input').removeAttr("readonly");
                setThisReadOnlyIcons($(this).siblings('fieldset').find('input'));

            } else if (nest !== "no icon" && isReadonly == false) {

                $(this).siblings('fieldset').find('input').attr("readonly", true);
                setThisReadOnlyIcons($(this).siblings('fieldset').find('input'));

            } else {

                console.log("attribute setting is broken")

            }

            setDescription($(innerInput));
            bubbleReadonly();

        });


        function setThisReadOnlyIcons(input) {
            if ($(input).parents(".text-input-wrapper").length == 1) {
                var thisInput = $(input).parents(".text-input-wrapper").find("input");
                var readonly = $(input).parents(".text-input-wrapper").find("input").is('[readonly]');
                var hasIconRight = $(input).parents(".text-input-wrapper").find(".icon-right").length;
                var hasIconLeft = $(input).parents(".text-input-wrapper").find(".icon-left").length;
                if (readonly == false && hasIconRight == 1) {
                    // remove readonly
                    var iconRightWrapper = $(input).parents(".text-input-wrapper").find(".icon-right");

                    inputNest($(thisInput));
                    validate($(thisInput));

                    if ($(thisInput).val() == "") {
                        $(iconRightWrapper).find("._custom-icon").remove();
                        $(iconRightWrapper).find("._added-dynamically").remove();
                        $(iconRightWrapper).find("._readonly-icon").remove();
                        $(iconRightWrapper).find("i").removeClass("hidden");
                    } else if (valid == true) {
                        $(iconRightWrapper).find("._custom-icon").remove();
                        $(iconRightWrapper).find("._added-dynamically").remove();
                        $(iconRightWrapper).find("._readonly-icon").remove();
                        $(validIcon).appendTo($(iconRightWrapper));
                        $(clearIcon).appendTo($(iconRightWrapper));
                    } else if (valid == false) {
                        $(iconRightWrapper).find("._custom-icon").remove();
                        $(iconRightWrapper).find("._added-dynamically").remove();
                        $(iconRightWrapper).find("._readonly-icon").remove();
                        $(errorIcon).appendTo($(iconRightWrapper));
                    }

                    var newIcon = $(iconRightWrapper).find("._added-dynamically");

                    newIcon.attr("data-tippy-placement", "auto");
                    newIcon.attr("data-tippy-content", "Input is invalid<br>Click to clear")

                    tippy('[data-tippy-content]',{
                        allowHTML: true,
                    });

                    //tippy('._added-dynamically', {
                    //    allowHTML: true,
                    // });
                    // tippy('._custom-icon');
                
                
                }
                else if (hasIconLeft == 1 && hasIconRight == 0){

                    if (readonly == true) {
                    // remove tooltip
                    iconLeftTooltip = document.querySelectorAll('[icon-left-tooltip]');
                    iconLeftTooltip.forEach(node => {
                    if (node._tippy){
                        node._tippy.destroy();
                    }});

                    // $(input).removeAttr("data-tippy-placement data-tippy-content icon-left-tooltip");

                    } else if (readonly == false) {
                        
                    // add tooltip
                    input.attr("icon-left-tooltip", true);
                    // input.attr("data-tippy-placement", "auto");
                    // input.attr("data-tippy-content", "You can't change this input");
                    tippy('[icon-left-tooltip]',{
                        content: "You can't change this input",
                        placement: "auto"
                    });

                    }

                } else {
                    // add readonly

                    inputNest($(thisInput));
                    validate($(thisInput));

                    var iconRightWrapper = $(input).parents(".text-input-wrapper").find(".icon-right");
                    $(iconRightWrapper).find("i").addClass("hidden");

                    $(readOnlyIcon).appendTo(iconRightWrapper);

                    var newIcon = $(iconRightWrapper).find("._readonly-icon");

                    newIcon.attr("data-tippy-placement", "auto");
                    newIcon.attr("data-tippy-content", "You can't change this input")

                    tippy('[data-tippy-content]',{
                        allowHTML: true,
                    });

                    // tippy('._readonly-icon', {
                    //     allowHTML: true,
                    // });
                }
            } else {
                var readonly = $(input).is('[readonly]');

                if (readonly == true) {
                    // remove tooltip
                    noIconTooltip = document.querySelectorAll('[no-icon-tooltip]');
                    noIconTooltip.forEach(node => {
                    if (node._tippy){
                        node._tippy.destroy();
                    }});

                } else if (readonly == false) {
                    // add tooltip.
                    input.attr("no-icon-tooltip", true);
                    // input.attr("data-tippy-placement", "auto");
                    // input.attr("data-tippy-content", "You can't change this input");
                    tippy('[no-icon-tooltip]',{
                        content: "You can't change this input",
                        placement: "auto"
                    });
                }
            }
        }

        // ANCHOR Set icons based on form state

        function setIcon(input) {

            if (nest !== "no icon" && nest !== "icon left" && $(forminput).hasClass("error") && $(forminput).find("._added-dynamically").length == 0) {


                var iconRightWrapper = $(forminput).find(".icon-right");
                $(iconRightWrapper).find("._clear-icon").remove();
                $(iconRightWrapper).find("i").addClass("hidden");

                $(errorIcon).appendTo(iconRightWrapper);

                var newIcon = $(iconRightWrapper).find("._added-dynamically");

                newIcon.attr("data-tippy-placement", "auto");
                newIcon.attr("data-tippy-content", "Input is invalid<br>Click to clear")

                // tippy('._added-dynamically', {
                //     allowHTML: true,
                // });

            } else if (nest !== "no icon" && nest !== "icon left" && $(forminput).hasClass("error") && $(forminput).find("._added-dynamically").length !== 0) {

                var iconRightWrapper = $(forminput).find(".icon-right");
                $(iconRightWrapper).find("._added-dynamically").remove();
                $(iconRightWrapper).find("._custom-icon").remove();
                $(errorIcon).appendTo(iconRightWrapper);

                var newIcon = $(iconRightWrapper).find("._added-dynamically");

                newIcon.attr("data-tippy-placement", "auto");
                newIcon.attr("data-tippy-content", "Input is invalid<br>Click to clear")

            } else if (nest !== "no icon" && nest !== "icon left" && valid == true) {

                var iconRightWrapper = $(forminput).find(".icon-right");
                $(iconRightWrapper).find("i").addClass("hidden");
                $(validIcon).appendTo(iconRightWrapper);
                $(clearIcon).appendTo(iconRightWrapper);

                // tippy('._custom-icon', {
                //    allowHTML: true,
                // });

            } else if (nest !== "no icon" && nest !== "icon left" && $(forminput).not(".error")) {

                var iconRightWrapper = $(forminput).find(".icon-right");

                var customIcons = $(iconRightWrapper).find("._custom-icon");
                var dynamicIcon = $(iconRightWrapper).find("._added-dynamically");
                dynamicIcon.remove();
                customIcons.remove();

                $(iconRightWrapper).find("i").removeClass("hidden");

            } else {
                console.log("didn't set icons");
            }

            tippy('[data-tippy-content]',{
                        allowHTML: true,
                    });
        }

        function setDescription(input) {
            value = input.val();
            labelWrapper = input.parents(".label-input-wrapper");
            descriptions = labelWrapper.find(".input-descriptions");
            error = descriptions.find("._error");
            main = descriptions.find("._default");
            if (value == ''){
                descriptions.removeClass("!hidden");
                error.addClass("hidden");
                main.removeClass("hidden");
            } else if (valid == true && hasLabel == true){
                descriptions.addClass("!hidden");
            } else if (valid == false && hasLabel == true) {
                descriptions.removeClass("!hidden");
                error.removeClass("hidden");
                main.addClass("hidden");
            }
            
            if (input.is("[readonly]") || forminput.is("[readonly]")){
                descriptions.addClass("!hidden");
            }
        }

        function removeDynamicIcons(input) {
            var iconRightWrapper = $(input).find(".icon-right");

            var dynamicIcon = $(iconRightWrapper).find("._added-dynamically");
            var customIcons = $(iconRightWrapper).find("._custom-icon");

            dynamicIcon.remove();
            customIcons.remove();

            $(iconRightWrapper).find("i").removeClass("hidden");
        }

        // ANCHOR Clear the input field
        function clearInput() {
            // since clearable inputs have an icon, they must be wrapped in a <forminput> with the class .text-input-wrapper
            // find the parent <forminput> and remove the error class. Then find the child <input> and set its value to an empty string
            var thisforminput = $(event.target).parents(".text-input-wrapper");
            $(thisforminput).removeClass("error");
            $(thisforminput).find("input").val('');
            removeDynamicIcons($(thisforminput));
            field = $(thisforminput).find("input")
            setDescription($(field));
        };
    </script>
</body>