<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>inputs-radio-checkbox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../dist/css/styles.mini.css" />
</head>

<body>
  <div id="outerDiv" class="inline-flex flex-col items-center w-screen p-5 space-y-5 bg-yellow-50">

    <!-- SECTION Checkmark -->
    <form class="flex flex-col space-y-4">
      <!-- ANCHOR Disabled -->
      <div class="select-wrapper">
        <input name="check-group" type="checkbox" id="check-1" class="radiocheck" disabled> 
        <label for="check-1" class="text-md">This item is disabled</label>
      </div>
      <!-- ANCHOR Default -->
      <div class="select-wrapper">
        <input name="check-group" id="check-2" type="checkbox" class="radiocheck"> 
        <label for="check-2" class="text-md">Add this item</label>
      </div>
      <div class="select-wrapper">
        <input name="check-group" type="checkbox" id="check-3" class="radiocheck"> 
        <label for="check-3" class="text-md">Add this item too</label>
      </div>
      <div class="select-wrapper">
        <input name="check-group" type="checkbox" id="check-4" class="radiocheck"> 
        <label for="check-4" class="text-md">Another item to add</label>
      </div>
    </form>
    <!-- !SECTION Checkmarks ends -->

    <!-- SECTION Radio -->
    <form class="flex flex-col space-y-4">
      <!-- ANCHOR Disabled -->
      <div class="select-wrapper">
        <input name="radio-group" type="radio" id="radio-1" class="radiocheck" disabled> 
        <label for="radio-1" class="text-md">This item is disabled</label>
      </div>
      <!-- ANCHOR Default -->
      <div class="select-wrapper">
        <input name="radio-group" type="radio" id="radio-2" class="radiocheck"> 
        <label for="radio-2" class="text-md">Item to select</label>
      </div>
      <div class="select-wrapper">
        <input name="radio-group" type="radio" id="radio-3" class="radiocheck"> 
        <label for="radio-3" class="text-md">Select this item</label>
      </div>
      <div class="select-wrapper">
        <input name="radio-group" type="radio" id="radio-4" class="radiocheck"> 
        <label for="radio-4" class="text-md">Another item to select</label>
      </div>
      <div class="select-wrapper">
        <input name="radio-group" type="radio" id="radio-5" class="radiocheck"> 
        <label for="radio-5" class="text-md">Select this item instead</label>
      </div>
    </form>
    <!-- !SECTION Radio ends -->

  </div>
  <script>
    document.querySelector("#check-2").indeterminate = true;
  </script>
</body>

</html>