<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>inputs-text-without-label</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../dist/css/styles.mini.css" />
</head>

<body class="bg-yellow-50">
    <div id="outerDiv" class="inline-flex flex-col items-center w-full p-5 space-y-5">

        <!-- SECTION Large -->

        <!-- SECTION Default -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter name" class="readonly:bg-red-600 w-70 input-text-large"></input>
            <!-- ANCHOR Icon left -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-large" placeholder="Enter name">
            </div>
            <!-- ANCHOR Icon right -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3.5">
                    <i onClick=clearInput() class="!leading-0 text-base text-gray-200 cursor-pointer  feather-x">
                    </i>
                </span>
                <input type="text" class="input-text-large w-70" placeholder="Enter name">
            </div>
            <!-- ANCHOR Double icon right -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-info">
                    </i>
                    <i onClick=clearInput() class="!leading-0 text-base text-gray-200 cursor-pointer  feather-x">
                    </i>
                </span>
                <input type="text" class="input-text-large w-70" placeholder="Enter name">
            </div>
            <!-- ANCHOR Icon right left -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center space-x-1.5 pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-large w-70" placeholder="Enter name">
            </div>
        </div>
        <!-- !SECTION Default ends -->

        <!-- SECTION Disabled -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-large" disabled></input>
            <!-- ANCHOR Icon left -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-large" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Icon right -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-slash">
                    </i>
                </span>
                <input type="text" class="input-text-large w-70" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Double icon right -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-info">
                    </i>
                    <i class="!leading-0 text-base text-gray-200 feather-slash">
                    </i>
                </span>
                <input type="text" class="input-text-large w-70" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Icon right left -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center space-x-1.5 pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-large w-70" placeholder="Enter name" disabled>
            </div>
        </div>
        <!-- !SECTION Disabled ends -->

        <!-- SECTION Error -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-error-large"></input>
            <!-- ANCHOR Icon left -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-error-large" placeholder="Enter name">
            </div>
            <!-- ANCHOR Icon right -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3.5">
                    <i class="!leading-0 text-base text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-large w-70" placeholder="Enter name">
            </div>
            <!-- ANCHOR Double icon right -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-large w-70" placeholder="Enter name">
            </div>
            <!-- ANCHOR Icon right left -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-red-600 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center space-x-1.5 pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-error-large w-70" placeholder="Enter name">
            </div>
        </div>
        <!-- !SECTION Error ends -->

        <!-- SECTION Errro disabled -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-error-large" disabled></input>
            <!-- ANCHOR Icon left -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-error-large" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Icon right -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3.5">
                    <i class="!leading-0 text-base text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-large w-70" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Double icon right -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-large w-70" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Icon right left -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-red-600 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center space-x-1.5 pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-error-large w-70" placeholder="Enter name" disabled>
            </div>
        </div>
        <!-- !SECTION Error disabled ends -->

        <!-- !SECTION Large ends -->

        <!-- SECTION Middle -->

        <!-- SECTION Default -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-middle"></input>
            <!-- ANCHOR Icon left -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-middle" placeholder="Enter name">
            </div>
            <!-- ANCHOR Icon right -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                    <i onClick=clearInput() class="!leading-0 text-gray-200 cursor-pointer  text-md feather-x">
                    </i>
                </span>
                <input type="text" class="input-text-middle w-70" placeholder="Enter name">
            </div>
            <!-- ANCHOR Double icon right -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-info">
                    </i>
                    <i onClick=clearInput() class="!leading-0 text-gray-200 cursor-pointer  text-md feather-x">
                    </i>
                </span>
                <input type="text" class="input-text-middle w-70" placeholder="Enter name">
            </div>
            <!-- ANCHOR Icon right left -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-middle w-70" placeholder="Enter name">
            </div>
        </div>
        <!-- !SECTION Default ends -->

        <!-- SECTION Disabled -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-middle" disabled></input>
            <!-- ANCHOR Icon left -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-middle" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Icon right -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                    <i class="!leading-0 text-gray-200 text-md feather-slash">
                    </i>
                </span>
                <input type="text" class="input-text-middle w-70" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Double icon right -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-info">
                    </i>
                    <i class="!leading-0 text-gray-200 text-md feather-slash">
                    </i>
                </span>
                <input type="text" class="input-text-middle w-70" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Icon right left -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-middle w-70" placeholder="Enter name" disabled>
            </div>
        </div>
        <!-- !SECTION Disabled ends -->

        <!-- SECTION Error -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-error-middle"></input>
            <!-- ANCHOR Icon left -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-error-middle" placeholder="Enter name">
            </div>
            <!-- ANCHOR Icon right -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                    <i class="!leading-0 text-red-600 text-md feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-middle w-70" placeholder="Enter name">
            </div>
            <!-- ANCHOR Double icon right -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-red-600 text-md feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-middle w-70" placeholder="Enter name">
            </div>
            <!-- ANCHOR Icon right left -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-red-600 text-md feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-error-middle w-70" placeholder="Enter name">
            </div>
        </div>
        <!-- !SECTION Error ends -->

        <!-- SECTION Errro disabled -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-error-middle" disabled></input>
            <!-- ANCHOR Icon left -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-error-middle" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Icon right -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                    <i class="!leading-0 text-red-600 text-md feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-middle w-70" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Double icon right -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-red-600 text-md feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-middle w-70" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Icon right left -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-red-600 text-md feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-error-middle w-70" placeholder="Enter name" disabled>
            </div>
        </div>
        <!-- !SECTION Error disabled ends -->


        <!-- !SECTION Middle ends -->

        <!-- SECTION Small -->

        <!-- SECTION Default -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-small"></input>
            <!-- ANCHOR Icon left -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-small" placeholder="Enter name">
            </div>
            <!-- ANCHOR Icon right -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center pr-1.5">
                    <i onClick=clearInput() class="!leading-0 text-sm text-gray-200 cursor-pointer feather-x">
                    </i>
                </span>
                <input type="text" class="input-text-small w-70" placeholder="Enter name">
            </div>
            <!-- ANCHOR Double icon right -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-info">
                    </i>
                    <i onClick=clearInput() class="!leading-0 text-sm text-gray-200 cursor-pointer feather-x">
                    </i>
                </span>
                <input type="text" class="input-text-small w-70" placeholder="Enter name">
            </div>
            <!-- ANCHOR Icon right left -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5 space-x-2.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-small w-70" placeholder="Enter name">
            </div>
        </div>
        <!-- !SECTION Default ends -->

        <!-- SECTION Disabled -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-small" disabled></input>
            <!-- ANCHOR Icon left -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-small" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Icon right -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center pr-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-slash">
                    </i>
                </span>
                <input type="text" class="input-text-small w-70" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Double icon right -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-info">
                    </i>
                    <i class="!leading-0 text-sm text-gray-200 feather-slash">
                    </i>
                </span>
                <input type="text" class="input-text-small w-70" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Icon right left -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5 space-x-2.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-small w-70" placeholder="Enter name" disabled>
            </div>
        </div>
        <!-- !SECTION Disabled ends -->

        <!-- SECTION Error -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-error-small"></input>
            <!-- ANCHOR Icon left -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-error-small" placeholder="Enter name">
            </div>
            <!-- ANCHOR Icon right -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center pr-1.5">
                    <i class="!leading-0 text-sm text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-small w-70" placeholder="Enter name">
            </div>
            <!-- ANCHOR Double icon right -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-small w-70" placeholder="Enter name">
            </div>
            <!-- ANCHOR Icon right left -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-red-600 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5 space-x-2.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-error-small w-70" placeholder="Enter name">
            </div>
        </div>
        <!-- !SECTION Error ends -->

        <!-- SECTION Errro disabled -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-error-small" disabled></input>
            <!-- ANCHOR Icon left -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-error-small" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Icon right -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center pr-1.5">
                    <i class="!leading-0 text-sm text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-small w-70" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Double icon right -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-small w-70" placeholder="Enter name" disabled>
            </div>
            <!-- ANCHOR Icon right left -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-red-600 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5 space-x-2.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-error-small w-70" placeholder="Enter name" disabled>
            </div>
        </div>
        <!-- !SECTION Error disabled ends -->

        <!-- !SECTION Small ends -->

    </div>
    </div>
</body>

</html>