<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="headers&footers" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../dist/css/styles-mini.css" />

</head>

<body>
    <div id="outerDiv" class="bg-yellow-50 inline-flex flex-col items-center w-screen p-5 space-y-5">
        
        <!-- Default -->
        <div class="flex flex-row space-x-5">
            <!-- large -->
            <div class="flex flex-col space-y-4">
                <!-- large number input set default no label -->
                <fieldset class="input-number-wrapper group">
                    <button id="increment" class="increment-left-large feather-plus"></button>
                    <input class="w-30 input-number-large" type="number" placeholder="Your age"></input>
                    <button id="decrement" class="increment-right-large feather-minus"></button>
                </fieldset>
    
                <!-- large number input set disabled no label -->
                <fieldset class="input-number-wrapper group" disabled>
                    <button id="increment" class="increment-left-large feather-plus"></button>
                    <input class="w-30 input-number-large" type="number" placeholder="Your age"></input>
                    <button id="decrement" class="increment-right-large feather-minus"></button>
                </fieldset>
            </div>
            <!-- Middle -->
            <div class="flex flex-col space-y-4">
    
                <!-- middle number input set default no label -->
                <fieldset class="input-number-wrapper group">
                    <button id="increment" class="increment-left-middle feather-plus"></button>
                    <input class="w-26 input-number-middle" type="number" placeholder="Your age"></input>
                    <button id="decrement" class="increment-right-middle feather-minus"></button>
                </fieldset>
    
                <!-- middle number input set disabled no label -->
                <fieldset class="input-number-wrapper group" disabled>
                    <button id="increment" class="increment-left-middle feather-plus"></button>
                    <input class="w-26 input-number-middle" type="number" placeholder="Your age"></input>
                    <button id="decrement" class="increment-right-middle feather-minus"></button>
                </fieldset>
            </div>
            <!-- Small -->
            <div class="flex flex-col space-y-4">
    
                <!-- small number input set default no label -->
                <fieldset class="input-number-wrapper group">
                    <button id="increment" class="increment-left-small feather-plus"></button>
                    <input class="input-number-small w-20" type="number" placeholder="Your age"></input>
                    <button id="decrement" class="increment-right-small feather-minus"></button>
                </fieldset>
    
                <!-- small number input set disabled no label -->
                <fieldset class="input-number-wrapper group" disabled>
                    <button id="increment" class="increment-left-small feather-plus"></button>
                    <input class="input-number-small w-20" type="number" placeholder="Your age"></input>
                    <button id="decrement" class="increment-right-small feather-minus"></button>
                </fieldset>
            </div>
        </div>
        <!-- Error -->
        <div class="flex flex-row space-x-5">
            <!-- large -->
            <div class="flex flex-col space-y-4">
                <!-- large number input set default no label -->
                <fieldset class="input-number-wrapper-error group">
                    <button id="increment" class="increment-left-large-error feather-plus"></button>
                    <input class="w-30 input-number-large" type="number" placeholder="Your age"></input>
                    <button id="decrement" class="increment-right-large-error feather-minus"></button>
                </fieldset>
    
                <!-- large number input set disabled no label -->
                <fieldset class="input-number-wrapper-error group" disabled>
                    <button id="increment" class="increment-left-large-error feather-plus"></button>
                    <input class="w-30 input-number-large" type="number" placeholder="Your age"></input>
                    <button id="decrement" class="increment-right-large-error feather-minus"></button>
                </fieldset>
            </div>
            <!-- Middle -->
            <div class="flex flex-col space-y-4">
    
                <!-- middle number input set default no label -->
                <fieldset class="input-number-wrapper-error group">
                    <button id="increment" class="increment-left-middle-error feather-plus"></button>
                    <input class="w-26 input-number-middle" type="number" placeholder="Your age"></input>
                    <button id="decrement" class="increment-right-middle feather-minus"></button>
                </fieldset>
    
                <!-- middle number input set disabled no label -->
                <fieldset class="input-number-wrapper-error group" disabled>
                    <button id="increment" class="increment-left-middle-error feather-plus"></button>
                    <input class="w-26 input-number-middle" type="number" placeholder="Your age"></input>
                    <button id="decrement" class="increment-right-middle feather-minus"></button>
                </fieldset>
            </div>
            <!-- Small -->
            <div class="flex flex-col space-y-4">
    
                <!-- small number input set default no label -->
                <fieldset class="input-number-wrapper-error group">
                    <button id="increment" class="increment-left-small-error feather-plus"></button>
                    <input class="input-number-small w-20" type="number" placeholder="Your age"></input>
                    <button id="decrement" class="increment-right-small feather-minus"></button>
                </fieldset>
    
                <!-- small number input set disabled no label -->
                <fieldset class="input-number-wrapper-error group" disabled>
                    <button id="increment" class="increment-left-small-error feather-plus"></button>
                    <input class="input-number-small w-20" type="number" placeholder="Your age"></input>
                    <button id="decrement" class="increment-right-small feather-minus"></button>
                </fieldset>
            </div>
        </div>
        <!-- Default         -->
        <div class="flex flex-row space-x-5">
            <!-- large -->
            <div class="flex flex-col space-y-4">
    
                <!-- large number input set default with label -->
                <div class="flex flex-col space-y-1">
                    <label for="inputId" class="text-md text-black">Enter your name</label>
                    <fieldset class="input-number-wrapper group">
                        <button id="increment" class="increment-left-large feather-plus"></button>
                        <input class="w-30 input-number-large" type="number" placeholder="Your age"></input>
                        <button id="decrement" class="increment-right-large feather-minus"></button>
                    </fieldset>
                    <p class="mt-1 text-sm text-gray-500">Description</p>
    
                </div>
    
                <!-- large number input set disabled with label -->
                <div class="flex flex-col space-y-1">
                    <label for="inputId" class="text-md text-black">Enter your age</label>
                    <fieldset class="input-number-wrapper group" disabled>
                        <button id="increment" class="increment-left-large feather-plus"></button>
                        <input class="w-30 input-number-large" type="number" placeholder="Your age"></input>
                        <button id="decrement" class="increment-right-large feather-minus"></button>
                    </fieldset>
                    <p class="mt-1 text-sm text-gray-500">Description</p>
    
                </div>
            </div>
            <!-- Middle -->
            <div class="flex flex-col space-y-4">
                <!-- middle number input set default with label -->
                <div class="flex flex-col space-y-1">
                    <label for="inputId" class="text-md text-black">Enter your age</label>
                    <fieldset class="input-number-wrapper group">
                        <button id="increment" class="increment-left-middle feather-plus"></button>
                        <input class="w-26 input-number-middle" type="number" placeholder="Your age"></input>
                        <button id="decrement" class="increment-right-middle feather-minus"></button>
                    </fieldset>
                    <p class="mt-1 text-sm text-gray-500">Description</p>
    
                </div>
    
                <!-- middle number input set disabled with label -->
                <div class="flex flex-col space-y-1">
                    <label for="inputId" class="text-md text-black">Enter your age</label>
                    <fieldset class="input-number-wrapper group" disabled>
                        <button id="increment" class="increment-left-middle feather-plus"></button>
                        <input class="w-26 input-number-middle" type="number" placeholder="Your age"></input>
                        <button id="decrement" class="increment-right-middle feather-minus"></button>
                    </fieldset>
                    <p class="mt-1 text-sm text-gray-500">Description</p>
    
                </div>
            </div>
            <!-- Small -->
            <div class="flex flex-col space-y-4">
                <!-- small number input set default with label -->
                <div class="flex flex-col space-y-1">
                    <label for="inputId" class="text-md text-black">Enter your age</label>
                    <fieldset class="input-number-wrapper group">
                        <button id="increment" class="increment-left-small feather-plus"></button>
                        <input class="input-number-small w-20" type="number" placeholder="Your age"></input>
                        <button id="decrement" class="increment-right-small feather-minus"></button>
                    </fieldset>
                    <p class="mt-1 text-sm text-gray-500">Description</p>
                </div>
    
                <!-- small number input set disabled with label -->
                <div class="flex flex-col space-y-1">
                    <label for="inputId" class="text-md text-black">Enter your age</label>
                    <fieldset class="input-number-wrapper group" disabled>
                        <button id="increment" class="increment-left-small feather-plus"></button>
                        <input class="input-number-small w-20" type="number" placeholder="Your age"></input>
                        <button id="decrement" class="increment-right-small feather-minus"></button>
                    </fieldset>
                    <p class="mt-1 text-sm text-gray-500">Description</p>
                </div>
            </div>
        </div>
        <!-- Error -->
        <div class="flex flex-row space-x-5">
            <!-- large -->
            <div class="flex flex-col space-y-4">
    
                <!-- large number input set default with label -->
                <div class="flex flex-col space-y-1">
                    <label for="inputId" class="text-md text-black">Enter your name</label>
                    <fieldset class="input-number-wrapper-error group">
                        <button id="increment" class="increment-left-large-error feather-plus"></button>
                        <input class="w-30 input-number-large" type="number" placeholder="Your age"></input>
                        <button id="decrement" class="increment-right-large-error feather-minus"></button>
                    </fieldset>
                    <p class="mt-1 text-sm text-red-600">Description</p>
    
                </div>
    
                <!-- large number input set disabled with label -->
                <div class="flex flex-col space-y-1">
                    <label for="inputId" class="text-md text-black">Enter your age</label>
                    <fieldset class="input-number-wrapper-error group" disabled>
                        <button id="increment" class="increment-left-large-error feather-plus"></button>
                        <input class="w-30 input-number-large" type="number" placeholder="Your age"></input>
                        <button id="decrement" class="increment-right-large-error feather-minus"></button>
                    </fieldset>
                    <p class="mt-1 text-sm text-red-600">Description</p>
    
                </div>
            </div>
            <!-- Middle -->
            <div class="flex flex-col space-y-4">
                <!-- middle number input set default with label -->
                <div class="flex flex-col space-y-1">
                    <label for="inputId" class="text-md text-black">Enter your age</label>
                    <fieldset class="input-number-wrapper-error group">
                        <button id="increment" class="increment-left-middle-error feather-plus"></button>
                        <input class="w-26 input-number-middle" type="number" placeholder="Your age"></input>
                        <button id="decrement" class="increment-right-middle feather-minus"></button>
                    </fieldset>
                    <p class="mt-1 text-sm text-red-600">Description</p>
    
                </div>
    
                <!-- middle number input set disabled with label -->
                <div class="flex flex-col space-y-1">
                    <label for="inputId" class="text-md text-black">Enter your age</label>
                    <fieldset class="input-number-wrapper-error group" disabled>
                        <button id="increment" class="increment-left-middle-error feather-plus"></button>
                        <input class="w-26 input-number-middle" type="number" placeholder="Your age"></input>
                        <button id="decrement" class="increment-right-middle feather-minus"></button>
                    </fieldset>
                    <p class="mt-1 text-sm text-red-600">Description</p>
    
                </div>
            </div>
            <!-- Small -->
            <div class="flex flex-col space-y-4">
                <!-- small number input set default with label -->
                <div class="flex flex-col space-y-1">
                    <label for="inputId" class="text-md text-black">Enter your age</label>
                    <fieldset class="input-number-wrapper-error group">
                        <button id="increment" class="increment-left-small-error feather-plus"></button>
                        <input class="input-number-small w-20" type="number" placeholder="Your age"></input>
                        <button id="decrement" class="increment-right-small feather-minus"></button>
                    </fieldset>
                    <p class="mt-1 text-sm text-red-600">Description</p>
                </div>
    
                <!-- small number input set disabled with label -->
                <div class="flex flex-col space-y-1">
                    <label for="inputId" class="text-md text-black">Enter your age</label>
                    <fieldset class="input-number-wrapper-error group" disabled>
                        <button id="increment" class="increment-left-small-error feather-plus"></button>
                        <input class="input-number-small w-20" type="number" placeholder="Your age"></input>
                        <button id="decrement" class="increment-right-small feather-minus"></button>
                    </fieldset>
                    <p class="mt-1 text-sm text-red-600">Description</p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>