<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>input-grid-selectable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="../dist/css/styles.mini.css" />
</head>

<body>
    <div id="outerDiv" class="bg-yellow-50 space-y-7 inline-flex flex-col items-center justify-center w-screen p-5">
        <!-- SECTION Large -->
        <div class="grid-cols-input grid-rows-input justify-items-start grid items-center">
            <!-- ANCHOR Labels -->
            <label class="text-md col-start-2 row-start-1 row-end-1 pl-4">First field</label>
            <label class="text-md col-start-3 row-start-1 row-end-1 pl-4">Second field</label>
            <label class="text-md col-start-4 row-start-1 row-end-1 pl-4">Third field</label>
            <!-- ANCHOR Rows -->
            <div id="1" class="contents group">
                <input type="checkbox" name="row-1"
                    class="radiocheck z-2 justify-self-center _checkbox col-start-1 row-start-2"></input>
                <div class="my-2.5 z-2 col-start-2 row-start-2 px-4 border-l border-gray-100">
                    <div class="w-55">
                        <select data-theme="lg" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-2.5 z-2 col-start-3 row-start-2 px-4 border-l border-gray-100">
                    <div class="w-65">
                        <select data-theme="lg" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-2.5 z-2 col-start-4 row-start-2 px-4 border-l border-gray-100">
                    <input type="text" placeholder="Enter name" class="w-50 input-text-large"></input>
                </div>
                <div class="z-1 group-hover:bg-gray-50 row w-full h-full col-start-1 col-end-5 row-span-1 row-start-2">
                </div>
            </div>
            <div id="2" class="contents group">
                <input type="checkbox" name="row-1"
                    class="radiocheck z-2 justify-self-center _checkbox col-start-1 row-start-3"></input>
                <div class="my-2.5 z-2 col-start-2 row-start-3 px-4 border-l border-gray-100">
                    <div class="w-55">
                        <select data-theme="lg" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-2.5 z-2 col-start-3 row-start-3 px-4 border-l border-gray-100">
                    <div class="w-65">
                        <select data-theme="lg" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-2.5 z-2 col-start-4 row-start-3 px-4 border-l border-gray-100">
                    <input type="text" placeholder="Enter name" class="w-50 input-text-large"></input>
                </div>
                <div class="z-1 group-hover:bg-gray-50 row w-full h-full col-start-1 col-end-5 row-span-1 row-start-3">
                </div>
            </div>
            <div id="3" class="contents group">
                <input type="checkbox" name="row-1"
                    class="radiocheck z-2 justify-self-center _checkbox col-start-1 row-start-4"></input>
                <div class="my-2.5 z-2 col-start-2 row-start-4 px-4 border-l border-gray-100">
                    <div class="w-55">
                        <select data-theme="lg" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-2.5 z-2 col-start-3 row-start-4 px-4 border-l border-gray-100">
                    <div class="w-65">
                        <select data-theme="lg" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-2.5 z-2 col-start-4 row-start-4 px-4 border-l border-gray-100">
                    <input type="text" placeholder="Enter name" class="w-50 input-text-large"></input>
                </div>
                <div class="z-1 group-hover:bg-gray-50 row w-full h-full col-start-1 col-end-5 row-span-1 row-start-4">
                </div>
            </div>
        </div>
        <!-- !SECTION Large ends -->

        <!-- SECTION Medium -->
        <div class="grid-cols-input grid-rows-input justify-items-start grid items-center">
            <!-- ANCHOR Labels -->
            <label class="text-md col-start-2 row-start-1 row-end-1 pl-4">First field</label>
            <label class="text-md col-start-3 row-start-1 row-end-1 pl-4">Second field</label>
            <label class="text-md col-start-4 row-start-1 row-end-1 pl-4">Third field</label>
            <!-- ANCHOR Rows -->
            <div id="1" class="contents group">
                <input type="checkbox" name="row-1"
                    class="radiocheck z-2 justify-self-center _checkbox col-start-1 row-start-2"></input>
                <div class="my-2 z-2 col-start-2 row-start-2 px-3.5 border-l border-gray-100">
                    <div class="w-55">
                        <select data-theme="md" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-2 z-2 col-start-3 row-start-2 px-3.5 border-l border-gray-100">
                    <div class="w-65">
                        <select data-theme="md" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-2 z-2 col-start-4 row-start-2 px-3.5 border-l border-gray-100">
                    <input type="text" placeholder="Enter name" class="w-50 input-text-middle"></input>
                </div>
                <div class="z-1 group-hover:bg-gray-50 row w-full h-full col-start-1 col-end-5 row-span-1 row-start-2">
                </div>
            </div>
            <div id="2" class="contents group">
                <input type="checkbox" name="row-1"
                    class="radiocheck z-2 justify-self-center _checkbox col-start-1 row-start-3"></input>
                <div class="my-2 z-2 col-start-2 row-start-3 px-3.5 border-l border-gray-100">
                    <div class="w-55">
                        <select data-theme="md" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-2 z-2 col-start-3 row-start-3 px-3.5 border-l border-gray-100">
                    <div class="w-65">
                        <select data-theme="md" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-2 z-2 col-start-4 row-start-3 px-3.5 border-l border-gray-100">
                    <input type="text" placeholder="Enter name" class="w-50 input-text-middle"></input>
                </div>
                <div class="z-1 group-hover:bg-gray-50 row w-full h-full col-start-1 col-end-5 row-span-1 row-start-3">
                </div>
            </div>
            <div id="3" class="contents group">
                <input type="checkbox" name="row-1"
                    class="radiocheck z-2 justify-self-center _checkbox col-start-1 row-start-4"></input>
                <div class="my-2 z-2 col-start-2 row-start-4 px-3.5 border-l border-gray-100">
                    <div class="w-55">
                        <select data-theme="md" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-2 z-2 col-start-3 row-start-4 px-3.5 border-l border-gray-100">
                    <div class="w-65">
                        <select data-theme="md" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-2 z-2 col-start-4 row-start-4 px-3.5 border-l border-gray-100">
                    <input type="text" placeholder="Enter name" class="w-50 input-text-middle"></input>
                </div>
                <div class="z-1 group-hover:bg-gray-50 row w-full h-full col-start-1 col-end-5 row-span-1 row-start-4">
                </div>
            </div>
        </div>
        <!-- !SECTION Medium ends -->

        <!-- SECTION Small -->
        <div class="grid-cols-input grid-rows-input justify-items-start grid items-center">
            <!-- ANCHOR Labels -->
            <label class="text-md col-start-2 row-start-1 row-end-1 pl-4">First field</label>
            <label class="text-md col-start-3 row-start-1 row-end-1 pl-4">Second field</label>
            <label class="text-md col-start-4 row-start-1 row-end-1 pl-4">Third field</label>
            <!-- ANCHOR Rows -->
            <div id="1" class="contents group">
                    <input type="checkbox" name="row-1"
                        class="radiocheck z-2 justify-self-center _checkbox col-start-1 row-start-2"></input>
                    <div class="my-1.5 z-2 col-start-2 row-start-2 px-3.5 border-l border-gray-100">
                        <div class="w-55">
                            <select data-theme="sm" data-allow-clear="true"
                                data-placeholder="Select option" multiple="multiple" class="_dropdown">
                                <option value="AL">Alabama</option>
                                <option value="WY">Wyoming</option>
                                <option value="WY">vaxming</option>
                                <option value="WY">xvsming</option>
                                <option value="WY">tetming</option>
                                <option value="WY">yhfming</option>
                                <option value="WY">dcfbshx</option>
                            </select>
                        </div>
                    </div>
                    <div class="my-1.5 z-2 col-start-3 row-start-2 px-3.5 border-l border-gray-100">
                        <div class="w-65">
                            <select data-theme="sm" data-allow-clear="true"
                                data-placeholder="Select option" multiple="multiple" class="_dropdown">
                                <option value="AL">Alabama</option>
                                <option value="WY">Wyoming</option>
                                <option value="WY">vaxming</option>
                                <option value="WY">xvsming</option>
                                <option value="WY">tetming</option>
                                <option value="WY">yhfming</option>
                                <option value="WY">dcfbshx</option>
                            </select>
                        </div>
                    </div>
                    <div class="my-1.5 z-2 col-start-4 row-start-2 px-3.5 border-l border-gray-100">
                        <input type="text" placeholder="Enter name" class="w-50 input-text-small"></input>
                    </div>
                <div class="z-1 group-hover:bg-gray-50 row w-full h-full col-start-1 col-end-5 row-span-1 row-start-2">
                </div>
            </div>
            <div id="2" class="contents group">
                <input type="checkbox" name="row-1"
                    class="radiocheck z-2 justify-self-center _checkbox col-start-1 row-start-3"></input>
                <div class="my-1.5 z-2 col-start-2 row-start-3 px-3.5 border-l border-gray-100">
                    <div class="w-55">
                        <select data-theme="sm" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-1.5 z-2 col-start-3 row-start-3 px-3.5 border-l border-gray-100">
                    <div class="w-65">
                        <select data-theme="sm" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-1.5 z-2 col-start-4 row-start-3 px-3.5 border-l border-gray-100">
                    <input type="text" placeholder="Enter name" class="w-50 input-text-small"></input>
                </div>
                <div class="z-1 group-hover:bg-gray-50 row w-full h-full col-start-1 col-end-5 row-span-1 row-start-3">
                </div>
            </div>
            <div id="3" class="contents group">
                <input type="checkbox" name="row-1"
                    class="radiocheck z-2 justify-self-center _checkbox col-start-1 row-start-4"></input>
                <div class="my-1.5 z-2 col-start-2 row-start-4 px-3.5 border-l border-gray-100">
                    <div class="w-55">
                        <select data-theme="sm" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-1.5 z-2 col-start-3 row-start-4 px-3.5 border-l border-gray-100">
                    <div class="w-65">
                        <select data-theme="sm" data-allow-clear="true"
                            data-placeholder="Select option" multiple="multiple" class="_dropdown">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                            <option value="WY">vaxming</option>
                            <option value="WY">xvsming</option>
                            <option value="WY">tetming</option>
                            <option value="WY">yhfming</option>
                            <option value="WY">dcfbshx</option>
                        </select>
                    </div>
                </div>
                <div class="my-1.5 z-2 col-start-4 row-start-4 px-3.5 border-l border-gray-100">
                    <input type="text" placeholder="Enter name" class="w-50 input-text-small"></input>
                </div>
                <div class="z-1 group-hover:bg-gray-50 row w-full h-full col-start-1 col-end-5 row-span-1 row-start-4">
                </div>
            </div>
        </div>
        <!-- !SECTION Small ends -->        

    </div>
    <script>
        $('._dropdown').select2({});
    </script>
    <script>
        $('._checkbox').click(function () {
            var box = $(this);
            box.parent().toggleClass('active');
        })
    </script>
</body>