<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>layout-header-footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../dist/css/styles.mini.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        function openMenu() {
            document.getElementById("userDropdown").classList.toggle("hidden");
            document.getElementById("userDropdown").classList.toggle("flex");
        }
    </script>
</head>

<body>
    <div id="outerDiv" class="inline-flex flex-col items-center w-screen p-5 space-y-5 bg-blue-50">
        <!-- System header -->
        <div id="system-header" class="inline-flex w-full px-6 py-4 bg-white shadow-border-b min-h-md">
            <div class="crumbs">
                <button class="crumb-home feather-home"></button>
                <i class="crumb-chevron feather-chevron-right"></i>
                <button class="crumb">First Page</button>
                <i class="crumb-chevron feather-chevron-right"></i>
                <button class="crumb">Second Page</button>
                <i class="crumb-chevron feather-chevron-right"></i>
                <button class="crumb">Third Page</button>
                <i class="crumb-chevron feather-chevron-right"></i>
                <button class="crumb">Fourth Page</button>
                <i class="crumb-chevron feather-chevron-right"></i>
                <button class="crumb">Fifth Page</button>
            </div>
            <div class="justify-self-end">
                <div class="flex flex-row justify-end h-full space-x-3">
                    <div class="relative h-8">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="!leading-0 text-gray-200 text-md feather-search">
                            </i>
                        </span>
                        <input type="text" id="search_part" class="input-icon-middle w-50" placeholder="Search part">
                    </div>
                    <button class="btn-middle-secondary-icon feather-search"></button>
                    <div class="divider-h"></div>
                    <button class="btn-middle-secondary-icon feather-help-circle"></button>
                    <div class="divider-h"></div>
                    <button class="btn-middle-secondary-icon feather-book-open"></button>
                    <div class="divider-h"></div>
                    <button class="btn-middle-secondary-icon feather-message-square"></button>
                </div>
            </div>
        </div>
        <!-- Session header -->
        <div id="session-header" class="flex justify-between w-full px-6 py-4 bg-white shadow-border-b min-h-lg">
            <div class="h-8 my-auto">
                <img class="h-full" src="../dist/assets/pdexlogo.png" alt="Pricedex Logo">
            </div>
            <div class="h-8 my-auto">
                <img class="h-full" src="../dist/assets/clientlogo.png" alt="Audi Logo">
            </div>
            <div class="relative flex flex-col items-end">
                <div onClick="openMenu()" class="inline-flex items-center space-x-4 cursor-pointer group">
                    <div class="inline-flex flex-col space-y-1 justify-items-start">
                        <p class="font-semibold text-right text-black group-hover:text-blue-850 text-md">
                            Jane Doe
                        </p>
                        <p class="text-sm leading-none text-right text-gray-500 group-hover:text-blue-850">
                            Admin
                        </p>
                    </div>
                    <div class="w-10 h-10 overflow-hidden rounded-full">
                        <img src="../dist/assets/avatar.jpg" alt="user avatar" class="object-cover w-full h-full" />
                    </div>
                </div>
                <div id="userDropdown"
                    class="absolute flex-col hidden py-2 space-y-2 bg-white shadow w-55 top-13 z-49">
                    <a href="#" class="inline-flex w-full px-4 py-1 space-x-3 group align-end h-7 hover:bg-gray-25">
                        <div class="flex items-center h-full">
                            <i class="text-gray-300 group-hover:text-blue-850 align-center feather-info"></i>
                        </div>
                        <p class="h-full text-black group-hover:text-blue-850 align-center text-md w-44">
                            Help
                        </p>
                    </a>

                    <a href="#" class="inline-flex w-full px-4 py-1 space-x-3 group align-end h-7 hover:bg-gray-25">
                        <div class="flex items-center h-full">
                            <i class="text-gray-300 align-center group-hover:text-blue-850 feather-log-out"></i>
                        </div>
                        <p class="h-full text-black align-center group-hover:text-blue-850 text-md w-44">
                            Log out
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <!-- Page header -->
        <div id="page-header" class="inline-flex justify-between w-full bg-white shadow-border-b min-h-md">
            <div class="flex flex-row h-full">
                <p class="flex-shrink-0 px-6 py-4 text-lg">Page Name</p>
                <div class="flex justify-start space-x-4">
                    <div id="tab-1" class="tab-btn-wrapper group active">
                        <div class="flex flex-row space-x-2">
                            <button class="tab-btn">Tab Active</button>
                        </div>
                        <div class="tab-border">
                        </div>
                    </div>
                    <div id="tab-2" class="tab-btn-wrapper group">
                        <div class="flex flex-row space-x-2">
                            <button class="tab-btn">Tab 2</button>
                        </div>
                        <div class="tab-border">
                        </div>
                    </div>
                    <div id="tab-3" class="tab-btn-wrapper group">
                        <div class="flex flex-row space-x-2">
                            <button class="tab-btn">Tab 3</button>
                        </div>
                        <div class="tab-border">
                        </div>
                    </div>
                    <button class="my-auto btn-large-ghost-icon feather-more-horizontal"></button>
                </div>
            </div>
            <div class="flex flex-row h-8 px-6 my-auto space-x-4">
                <div class="w-70">
                    <select data-theme="md" data-placeholder="Select one option..." data-multiple="false"
                        data-allow-clear="true" class="_dropdown">
                        <option></option><!-- Needed to show X image to clear the select -->
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                    </select>
                </div>
                <div class="divider-h"></div>
                <div class="relative h-8">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                        <i class="!leading-0 text-gray-200 text-md feather-search">
                        </i>
                    </span>
                    <input type="text" id="input" class="w-40 input-icon-middle" placeholder="Search">
                </div>
                <div class="divider-h"></div>
                <button class="btn-middle-tertiary">Button</button>
            </div>
        </div>
        <!-- Alternative page header -->
        <div id="page-header" class="inline-flex justify-between w-full px-6 bg-white shadow-border-b min-h-md">
            <div class="flex justify-start h-8 my-auto space-x-4">
                <div class="w-60">
                    <select data-theme="md" data-placeholder="Select one option..." data-multiple="false"
                        data-allow-clear="true" class="_dropdown">
                        <option></option><!-- Needed to show X image to clear the select -->
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                    </select>
                </div>
                <div class="divider-h"></div>
                <div class="w-60">
                    <select data-theme="md" data-placeholder="Select one option..." data-multiple="false"
                        data-allow-clear="true" class="_dropdown">
                        <option></option><!-- Needed to show X image to clear the select -->
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                    </select>
                </div>
                <div class="divider-h"></div>
                <div class="relative h-8">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                        <i class="!leading-0 text-gray-200 text-md feather-search">
                        </i>
                    </span>
                    <input type="text" id="input" class="w-40 input-icon-middle" placeholder="Search">
                </div>
                <div class="divider-h"></div>
                <forminput class="flex flex-row content-center my-auto space-x-3 group">
                    <input type="checkbox" id="reqCheck" class="radiocheck"></input>
                    <label for="reqCheck" class="text-md">Add this item</label>
                </forminput>
                <div class="divider-h"></div>
                <button class="btn-middle-tertiary">Search</button>
            </div>
        </div>
        <!-- Progress indicator -->
        <div id="page-header" class="inline-flex justify-center w-full bg-white shadow-border-b h-14">
            <div class="flex flex-row h-full">
                <div class="flex justify-start space-x-6">
                    <div id="tab-1" class="tab-btn-wrapper group">
                        <div class="flex flex-row space-x-2">
                            <button class="tab-btn">First Step</button>
                        </div>
                        <div class="tab-border">
                        </div>
                    </div>
                    <i class="my-auto text-lg text-gray-300 feather-chevron-right"></i>
                    <div id="tab-2" class="tab-btn-wrapper group active">
                        <div class="flex flex-row space-x-2">
                            <button class="tab-btn">Second Step</button>
                        </div>
                        <div class="tab-border">
                        </div>
                    </div>
                    <i class="my-auto text-lg text-gray-300 feather-chevron-right"></i>
                    <div id="tab-3" class="tab-btn-wrapper group">
                        <div class="flex flex-row space-x-2">
                            <button class="tab-btn" disabled>Third Step</button>
                        </div>
                        <div class="tab-border">
                        </div>
                    </div>
                    <i class="my-auto text-lg text-gray-300 feather-chevron-right"></i>
                    <div id="tab-3" class="tab-btn-wrapper group">
                        <button class="tab-btn" disabled>Last Step</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagionation Footer -->
        <div class="flex justify-between w-full h-16 px-6 py-4 bg-white shadow-border-t flow-row">
            <div class="flex flex-row justify-start space-x-2">
                <div class="my-auto w-30">
                        <select data-theme="sm" data-placeholder="Page" data-multiple="false"
                            data-allow-clear="false" class="_dropdown" data-minimum-results-for-search="Infinity">
                            <option></option><!-- Needed to show placeholder -->
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                </div>
                <button class="btn-middle-ghost-icon feather-rewind" disabled></button>
                <button class="btn-middle-ghost-icon feather-chevron-left" disabled></button>
                <div class="flex flex-row space-x-2">
                    <button class="btn pagination active">1</button>
                    <button class="btn pagination">2</button>
                    <button class="btn pagination">3</button>
                    <button class="btn pagination">4</button>
                    <button class="btn pagination">5</button>
                </div>
                <button class="btn-middle-ghost-icon feather-chevron-right"></button>
                <button class="btn-middle-ghost-icon feather-fast-forward"></button>
                <span class="my-auto text-gray-700 text-md">21-31 of 80</span>
                <div class="my-auto w-35">
                    <select data-theme="sm" data-placeholder="Per page" data-multiple="false"
                        data-allow-clear="false" class="_dropdown" data-minimum-results-for-search="Infinity">
                        <option></option><!-- Needed to show placeholder -->
                        <option value="1">10</option>
                        <option value="2">20</option>
                        <option value="3">30</option>
                        <option value="4">40</option>
                        <option value="5">60</option>
                        <option value="5">70</option>
                        <option value="5">80</option>
                    </select>
            </div>
            </div>
            <span class="my-auto text-gray-700 text-md">00 items</span>
            <div class="flex flex-row justify-end h-full space-x-4">
                <button class="btn-middle-danger">
                    <i class="btnicon-left-middle feather-trash"></i>
                    Delete</button>
                <div class="divider-h"></div>
                <button class="btn-middle-tertiary">
                    <i class="btnicon-left-middle feather-edit-3"></i>
                    Edit</button>
                <div class="divider-h"></div>
                <button class="btn-middle-tertiary">
                    <i class="btnicon-left-middle feather-download"></i>
                    Fetch</button>
            </div>
        </div>
        <!-- Page Footer (multi buttons) -->
        <div class="flex justify-end w-full h-16 px-6 py-4 bg-white shadow-border-t flow-row">
            <div class="flex flex-row justify-end h-full space-x-4">
                <button class="btn-middle-tertiary">Edit</button>
                <div class="divider-h"></div>
                <button class="btn-middle-tertiary">Cancel</button>
                <div class="divider-h"></div>
                <button class="btn-middle-primary">Apply</button>
            </div>
        </div>
        <!-- Page Footer (primary and secondary buttons) -->
        <div class="flex justify-end w-full h-16 px-6 py-4 bg-white shadow-border-t flow-row">
            <div class="flex flex-row justify-end h-full space-x-4">
                <button class="btn-middle-secondary">Back</button>
                <div class="divider-h"></div>
                <button class="btn-middle-primary">
                    <i class="btnicon-left-middle feather-check-circle"></i>
                    Submit</button>
            </div>
        </div>
        <!-- Page Footer (primary and ghost buttons) -->
        <div class="flex justify-end w-full h-16 px-6 py-4 bg-white shadow-border-t flow-row">
            <div class="flex flex-row justify-end h-full space-x-4">
                <button class="btn-middle-ghost">Dismiss</button>
                <button class="btn-middle-primary">Confirm</button>
            </div>
        </div>

    </div>
    <script>
        $('._dropdown').select2({});
    </script>
</body>

</html>