<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no" />
  <title>layout-menu</title>
  <link type="text/css" rel="stylesheet" href="../dist/css/styles.mini.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="../dist/js/select2.full.js"></script>
  <script src="../dist/js/mmenu.polyfills.js"></script>
  <script src="../dist/js/mmenu.js"></script>
  <script src="../dist/js/drawer.js"></script>
</head>

<body>
  <header id="session-header"
      class="shadow-border-b z-2 absolute top-0 left-0 flex justify-between w-full h-16 px-6 py-4 bg-white">
      <div id="header-overlay" class="_close-drawer absolute inset-0 hidden w-full h-full bg-black opacity-0"></div>
        <div class="h-8 my-auto">
          <img class="h-full" src="../dist/assets/pdexlogo.png" alt="Pricedex Logo">
        </div>
        <div class="h-8 my-auto">
          <img class="h-full" src="../dist/assets/clientlogo.png" alt="Audi Logo">
        </div>
        <div class="relative flex flex-col items-end">
          <div onClick="openMenu()" class="group inline-flex items-center space-x-4 cursor-pointer">
            <div class="justify-items-start inline-flex flex-col space-y-1">
              <p class="group-hover:text-blue-850 text-sm font-semibold text-right text-black">
                Jane Doe
              </p>
              <p class="text-xsm group-hover:text-blue-850 leading-none text-right text-gray-500">
                Admin
              </p>
            </div>
            <div class="w-8 h-8 overflow-hidden rounded-full">
              <img src="../dist/assets/avatar.jpg" alt="user avatar" class="object-cover w-full h-full" />
            </div>
          </div>
          <div id="userDropdown" class="z-100 w-55 top-10 absolute flex-col hidden py-2 space-y-2 bg-white shadow">
            <a href="#" class="group align-end h-7 hover:bg-gray-25 inline-flex w-full px-4 py-1 space-x-3">
              <div class="flex items-center h-full">
                <i class="group-hover:text-blue-850 align-center feather-info text-gray-300"></i>
              </div>
              <p class="group-hover:text-blue-850 align-center text-md w-44 h-full text-black">
                Help
              </p>
            </a>
            <a href="#" class="group align-end h-7 hover:bg-gray-25 inline-flex w-full px-4 py-1 space-x-3">
              <div class="flex items-center h-full">
                <i class="align-center group-hover:text-blue-850 feather-log-out text-gray-300"></i>
              </div>
              <p class="align-center group-hover:text-blue-850 text-md w-44 h-full text-black">
                Log out
              </p>
            </a>
          </div>
        </div>
  </header>
  <div id="page" class="absolute">
    <div id="headers">
      <div id="system-header"
        class="top-16 shadow-border-b h-14 fixed left-0 inline-flex w-full px-6 py-2 bg-white border-l border-gray-100">
        <a href="#menu" class="mburger mburger--collapse self-center">
          <b></b>
          <b></b>
          <b></b>
        </a>
        <div class="crumbs self-center">
          <button class="crumb-home feather-home"></button>
          <i class="crumb-chevron feather-chevron-right"></i>
          <button class="crumb">First Page</button>
          <i class="crumb-chevron feather-chevron-right"></i>
          <button class="crumb">Second Page</button>
          <i class="crumb-chevron feather-chevron-right"></i>
          <button class="crumb">Third Page</button>
          <i class="crumb-chevron feather-chevron-right"></i>
          <button class="crumb">Fourth Page</button>
          <i class="crumb-chevron feather-chevron-right"></i>
          <button class="crumb">Fifth Page</button>
        </div>
        <div class="justify-self-end self-center h-8">
          <div class="flex flex-row justify-end h-full space-x-3">
            <div class="relative h-8">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="!leading-0 text-gray-200 text-md feather-search">
                </i>
              </span>
              <input type="text" id="search_part" class="input-icon-middle w-50" placeholder="Search part">
            </div>
            <button class="btn-middle-secondary-icon feather-search"></button>
            <div class="divider-h"></div>
            <button class="btn-middle-secondary-icon feather-help-circle">
            </button>
            <div class="divider-h"></div>
            <button class="_open-drawer btn-middle-secondary-icon feather-book-open"></button>
            <div class="divider-h"></div>
            <button class="btn-middle-secondary-icon feather-message-square"></button>
          </div>
        </div>
      </div>
      <div id="page-header" class="h-14 top-30 shadow-border-b fixed inline-flex justify-between w-full bg-white border-l border-gray-100">
        <div class="flex flex-row h-full">
          <p class="self-center flex-shrink-0 px-6 py-4 text-lg">Page Name</p>
          <div class="flex justify-start space-x-4">
            <div id="tab-1" class="tab-btn-wrapper group active">
              <div class="flex flex-row space-x-2">
                <button class="tab-btn">Tab Active</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div id="tab-2" class="tab-btn-wrapper group">
              <div class="flex flex-row space-x-2">
                <button class="tab-btn">Tab 2</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <div id="tab-3" class="tab-btn-wrapper group">
              <div class="flex flex-row space-x-2">
                <button class="tab-btn">Tab 3</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <button class="btn-large-ghost-icon feather-more-horizontal my-auto"></button>
          </div>
        </div>
        <div class="flex flex-row h-8 px-6 my-auto space-x-4">
          <div class="w-70">
            <select data-theme="md" data-placeholder="Select one option..." data-multiple="false"
              data-allow-clear="true" class="_dropdown">
              <option></option><!-- Needed to show X image to clear the select -->
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              <option value="4">Option 4</option>
              <option value="5">Option 5</option>
            </select>
          </div>
          <div class="divider-h"></div>
          <div class="relative h-8">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="!leading-0 text-gray-200 text-md feather-search">
              </i>
            </span>
            <input type="text" id="input" class="input-icon-middle w-40" placeholder="Search">
          </div>
          <div class="divider-h"></div>
          <button class="btn-middle-tertiary">Button</button>
        </div>
      </div>
      <div id="progress-header"
        class="top-44 shadow-border-b h-14 fixed inline-flex justify-center w-full bg-white border-l border-gray-100">
        <div class="flex flex-row h-full">
          <div class="flex justify-start space-x-6">
            <div id="tab-1" class="tab-btn-wrapper group">
              <div class="flex flex-row space-x-2">
                <button class="tab-btn">First Step</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <i class="feather-chevron-right my-auto text-lg text-gray-300"></i>
            <div id="tab-2" class="tab-btn-wrapper group active">
              <div class="flex flex-row space-x-2">
                <button class="tab-btn">Second Step</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <i class="feather-chevron-right my-auto text-lg text-gray-300"></i>
            <div id="tab-3" class="tab-btn-wrapper group">
              <div class="flex flex-row space-x-2">
                <button class="tab-btn" disabled>Third Step</button>
              </div>
              <div class="tab-border">
              </div>
            </div>
            <i class="feather-chevron-right my-auto text-lg text-gray-300"></i>
            <div id="tab-3" class="tab-btn-wrapper group">
              <button class="tab-btn" disabled>Last Step</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="content" class="scrollbar-regular bottom-16 fixed w-full p-6 overflow-scroll border-l border-gray-100">
      <p>Mollit aliquip nisi sint adipisicing non enim sit proident pariatur. Anim nostrud commodo irure Lorem
        exercitation occaecat. Quis dolore sit velit esse aliquip aute.
        </br>
        </br>
        Proident in veniam laboris consectetur laborum enim excepteur excepteur quis. Voluptate non amet reprehenderit
        elit laboris exercitation enim deserunt incididunt duis exercitation tempor. Commodo nostrud id reprehenderit
        laborum duis cupidatat minim do id exercitation elit dolor. Magna ipsum sit officia ipsum minim. Eiusmod
        adipisicing nulla anim ut elit ex tempor proident sunt quis. Adipisicing anim aute ad fugiat et officia irure
        sint id.
        </br>
        </br>
        Nisi incididunt nulla enim consectetur. Incididunt Lorem est magna ad non tempor do pariatur qui anim ullamco.
        Laborum ex qui cupidatat ipsum ea irure esse id enim ullamco exercitation incididunt nulla. Lorem cupidatat amet
        ipsum adipisicing anim ullamco Lorem consequat fugiat velit. Enim esse veniam excepteur minim velit ad commodo
        quis nulla. Dolore anim minim consequat consectetur dolore ea nostrud et sint excepteur. Eu ea dolore culpa ea
        nisi magna ut tempor in ea magna.
        </br>
        </br>
        Aliquip non enim nisi ex proident velit. Minim laboris magna quis do minim commodo anim incididunt excepteur
        adipisicing sint irure irure id. Exercitation cupidatat non exercitation irure eiusmod ex est adipisicing esse.
        Consequat aute culpa elit laborum quis ipsum Lorem est do nisi consectetur officia dolor magna. Dolore labore id
        aliquip est ullamco excepteur nulla minim nulla eiusmod aute sunt. Aliquip veniam non Lorem cupidatat incididunt
        dolore magna sit sint voluptate incididunt.
        </br>
        </br>
        Cupidatat fugiat nostrud eu pariatur Lorem ex officia dolor. Do quis deserunt do Lorem eiusmod ut ad veniam
        cupidatat qui id eu. Officia esse veniam proident mollit. Veniam adipisicing fugiat sint culpa consectetur dolor
        id dolor. Labore eu dolor in sunt aute ullamco deserunt velit pariatur elit amet ut fugiat. Commodo consectetur
        minim magna excepteur occaecat amet eu.
        </br>
        </br>
        Labore officia aliqua deserunt aliquip culpa exercitation aute ullamco. Velit excepteur voluptate est esse
        dolore ullamco sit. Cillum ea pariatur laborum ex laboris irure eiusmod culpa cillum duis elit veniam excepteur
        esse. Deserunt consequat magna magna adipisicing elit ipsum esse culpa pariatur ad qui ea nulla magna.
        </br>
        </br>
        Dolor voluptate amet aliqua non sunt ad incididunt ex anim et fugiat ex. Cillum labore ipsum aliquip nostrud
        minim eiusmod Lorem eu excepteur. Aute pariatur proident sint veniam culpa nisi eiusmod ex fugiat minim fugiat
        consectetur. Dolore nisi aliquip Lorem magna velit id reprehenderit ex quis. Aliquip non Lorem excepteur
        consequat ullamco pariatur cillum mollit proident duis reprehenderit qui. Eu eiusmod Lorem velit ipsum labore.
        </br>
        </br>
        Laborum non cupidatat irure veniam ex voluptate et ipsum eu. Esse duis labore ullamco magna commodo non do
        reprehenderit do voluptate. Incididunt velit reprehenderit cupidatat ut anim id tempor id proident.
        </br>
        </br>
        Lorem Lorem velit aliquip labore sint enim consequat sunt dolor minim officia velit. Do occaecat reprehenderit
        anim eiusmod fugiat esse eu incididunt Lorem. Labore dolor cupidatat laboris dolor anim fugiat duis.
        </br>
        </br>
        Proident ea sint ullamco ut enim id eiusmod dolor. Et excepteur cillum irure sit minim magna excepteur cillum
        elit ut minim officia irure. Sit labore duis ipsum cupidatat.
      </p>
      <p>Mollit aliquip nisi sint adipisicing non enim sit proident pariatur. Anim nostrud commodo irure Lorem
        exercitation occaecat. Quis dolore sit velit esse aliquip aute.
        </br>
        </br>
        Proident in veniam laboris consectetur laborum enim excepteur excepteur quis. Voluptate non amet reprehenderit
        elit laboris exercitation enim deserunt incididunt duis exercitation tempor. Commodo nostrud id reprehenderit
        laborum duis cupidatat minim do id exercitation elit dolor. Magna ipsum sit officia ipsum minim. Eiusmod
        adipisicing nulla anim ut elit ex tempor proident sunt quis. Adipisicing anim aute ad fugiat et officia irure
        sint id.
        </br>
        </br>
        Nisi incididunt nulla enim consectetur. Incididunt Lorem est magna ad non tempor do pariatur qui anim ullamco.
        Laborum ex qui cupidatat ipsum ea irure esse id enim ullamco exercitation incididunt nulla. Lorem cupidatat amet
        ipsum adipisicing anim ullamco Lorem consequat fugiat velit. Enim esse veniam excepteur minim velit ad commodo
        quis nulla. Dolore anim minim consequat consectetur dolore ea nostrud et sint excepteur. Eu ea dolore culpa ea
        nisi magna ut tempor in ea magna.
        </br>
        </br>
        Aliquip non enim nisi ex proident velit. Minim laboris magna quis do minim commodo anim incididunt excepteur
        adipisicing sint irure irure id. Exercitation cupidatat non exercitation irure eiusmod ex est adipisicing esse.
        Consequat aute culpa elit laborum quis ipsum Lorem est do nisi consectetur officia dolor magna. Dolore labore id
        aliquip est ullamco excepteur nulla minim nulla eiusmod aute sunt. Aliquip veniam non Lorem cupidatat incididunt
        dolore magna sit sint voluptate incididunt.
        </br>
        </br>
        Cupidatat fugiat nostrud eu pariatur Lorem ex officia dolor. Do quis deserunt do Lorem eiusmod ut ad veniam
        cupidatat qui id eu. Officia esse veniam proident mollit. Veniam adipisicing fugiat sint culpa consectetur dolor
        id dolor. Labore eu dolor in sunt aute ullamco deserunt velit pariatur elit amet ut fugiat. Commodo consectetur
        minim magna excepteur occaecat amet eu.
        </br>
        </br>
        Labore officia aliqua deserunt aliquip culpa exercitation aute ullamco. Velit excepteur voluptate est esse
        dolore ullamco sit. Cillum ea pariatur laborum ex laboris irure eiusmod culpa cillum duis elit veniam excepteur
        esse. Deserunt consequat magna magna adipisicing elit ipsum esse culpa pariatur ad qui ea nulla magna.
        </br>
        </br>
        Dolor voluptate amet aliqua non sunt ad incididunt ex anim et fugiat ex. Cillum labore ipsum aliquip nostrud
        minim eiusmod Lorem eu excepteur. Aute pariatur proident sint veniam culpa nisi eiusmod ex fugiat minim fugiat
        consectetur. Dolore nisi aliquip Lorem magna velit id reprehenderit ex quis. Aliquip non Lorem excepteur
        consequat ullamco pariatur cillum mollit proident duis reprehenderit qui. Eu eiusmod Lorem velit ipsum labore.
        </br>
        </br>
        Laborum non cupidatat irure veniam ex voluptate et ipsum eu. Esse duis labore ullamco magna commodo non do
        reprehenderit do voluptate. Incididunt velit reprehenderit cupidatat ut anim id tempor id proident.
        </br>
        </br>
        Lorem Lorem velit aliquip labore sint enim consequat sunt dolor minim officia velit. Do occaecat reprehenderit
        anim eiusmod fugiat esse eu incididunt Lorem. Labore dolor cupidatat laboris dolor anim fugiat duis.
        </br>
        </br>
        Proident ea sint ullamco ut enim id eiusmod dolor. Et excepteur cillum irure sit minim magna excepteur cillum
        elit ut minim officia irure. Sit labore duis ipsum cupidatat.
      </p>
    </div>
    <div class="shadow-border-t flow-row fixed bottom-0 flex justify-end w-full h-16 px-6 py-4 bg-white border-l border-gray-100">
      <div class="flex flex-row justify-end h-full space-x-4">
        <button class="btn-middle-tertiary">Edit</button>
        <div class="divider-h"></div>
        <button class="btn-middle-tertiary">Cancel</button>
        <div class="divider-h"></div>
        <button class="btn-middle-primary">Apply</button>
      </div>
    </div>
    <!-- ANCHOR drawer begins -->
    <div id="dark-overlay" class="_close-drawer z-100 absolute inset-0 hidden w-screen h-screen bg-black opacity-0">
    </div>
    <div id="drawer"
      class="-right-full z-100 absolute inset-y-0 flex flex-col float-right w-1/2 overflow-hidden transition-transform duration-200 ease-in-out bg-white shadow-2xl">
      <div class="shadow-border-b inline-flex items-center w-full h-16 py-1 pl-4 pr-2 bg-white">
        <div class="inline-flex items-center justify-between w-full h-full">
          <p class="flex-grow text-base font-semibold text-black">Drawer</p>
          <button class="_close-drawer feather-x btn-large-ghost-icon"></button>
        </div>
      </div>
      <div class="shadow-border-b h-14 inline-flex justify-center w-full bg-white">
        <div class="flex flex-row h-full">
          <div class="flex justify-start space-x-6">
            <div id="tab-1" class="tab-btn-wrapper group active">
              <div class="flex flex-row space-x-2">
                <button class="tab-btn">User Manual</button>
              </div>
              <div class="tab-border"></div>
            </div>
            <div id="tab-2" class="tab-btn-wrapper group">
              <div class="flex flex-row space-x-2">
                <button class="tab-btn">Company Policy</button>
              </div>
              <div class="tab-border"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="drawer-content" class="scrollbar-regular w-full p-6 overflow-x-hidden overflow-y-scroll">
        <article class="max-w-none prose">
          <p>
            Pass your markdown here and the <code>prose</code> utility class
            will render it correctly! the <code>prose</code> class applies all
            the sizing and padding information to its child elements based on
            their tag so you don't have to worry about different text appearing
            differently depending on the elements you have on your markdown.
            Useful for when you&#39;re calling a database for your wiki
            articles. Just remember to use a server side function to render the
            markdown to HTML before injecting it into this
            <code>article</code> tag
          </p>
          <hr />
          <h1 id="h1-heading">h1 Heading</h1>
          <h2 id="h2-heading">h2 Heading</h2>
          <h3 id="h3-heading">h3 Heading</h3>
          <h4 id="h4-heading">h4 Heading</h4>
          <h5 id="h5-heading">h5 Heading</h5>
          <h6 id="h6-heading">h6 Heading</h6>
          <h2 id="horizontal-rules">Horizontal Rules</h2>
          <hr />
          <hr />
          <hr />
          <h2 id="emphasis">Emphasis</h2>
          <p><strong>This is bold text</strong></p>
          <p><strong>This is bold text</strong></p>
          <p><em>This is italic text</em></p>
          <p><em>This is italic text</em></p>
          <p><del>Strikethrough</del></p>
          <h2 id="blockquotes">Blockquotes</h2>
          <blockquote>
            <p>Blockquotes can also be nested...</p>
            <blockquote>
              <p>
                ...by using additional greater-than signs right next to each
                other...
              </p>
              <blockquote>
                <p>...or with spaces between arrows.</p>
              </blockquote>
            </blockquote>
          </blockquote>
          <h2 id="lists">Lists</h2>
          <p>Unordered</p>
          <ul>
            <li>
              Create a list by starting a line with <code>+</code>,
              <code>-</code>, or <code>*</code>
            </li>
            <li>
              Sub-lists are made by indenting 2 spaces:
              <ul>
                <li>
                  Marker character change forces new list start:
                  <ul>
                    <li>Ac tristique libero volutpat at</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>Very easy!</li>
          </ul>
          <p>Ordered</p>
          <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
          </ol>
          <h2 id="code">Code</h2>
          <p>Inline <code>code</code></p>
          <p>Indented code</p>
          <pre><code><span class="hljs-comment">// Some comments</span>
   line <span class="hljs-number">1</span> <span class="hljs-keyword">of</span> <span class="hljs-keyword">code</span>
   line <span class="hljs-number">2</span> <span class="hljs-keyword">of</span> <span class="hljs-keyword">code</span>
   line <span class="hljs-number">3</span> <span class="hljs-keyword">of</span> <span class="hljs-keyword">code</span>
   </code></pre>
          <p>Block code &quot;fences&quot;</p>
          <pre><code><span class="hljs-function"><span class="hljs-title">Sample</span></span> text here...
   </code></pre>
          <p>Syntax highlighting</p>
          <pre><code class="lang-js"><span class="hljs-keyword">var</span> foo = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">bar</span>) </span>{
   <span class="hljs-keyword">return</span> bar++;
   };
   
   <span class="hljs-built_in">console</span>.log(foo(<span class="hljs-number">5</span>));
   </code></pre>
          <h2 id="tables">Tables</h2>
          <table>
            <thead>
              <tr>
                <th>Option</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>data</td>
                <td>
                  path to data files to supply the data that will be passed into
                  templates.
                </td>
              </tr>
              <tr>
                <td>engine</td>
                <td>
                  engine to be used for processing templates. Handlebars is the
                  default.
                </td>
              </tr>
              <tr>
                <td>ext</td>
                <td>extension to be used for dest files.</td>
              </tr>
            </tbody>
          </table>
          <p>Right aligned columns</p>
          <table>
            <thead>
              <tr>
                <th style="text-align: right">Option</th>
                <th style="text-align: right">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: right">data</td>
                <td style="text-align: right">
                  path to data files to supply the data that will be passed into
                  templates.
                </td>
              </tr>
              <tr>
                <td style="text-align: right">engine</td>
                <td style="text-align: right">
                  engine to be used for processing templates. Handlebars is the
                  default.
                </td>
              </tr>
              <tr>
                <td style="text-align: right">ext</td>
                <td style="text-align: right">
                  extension to be used for dest files.
                </td>
              </tr>
            </tbody>
          </table>
          <h2 id="links">Links</h2>
          <p><a href="http://google.com">link text</a></p>
          <p>
            <a href="http://google.com" title="Leads to google">link with title</a>
          </p>
          <h2 id="images">Images</h2>
          <p>
            <img src="https://octodex.github.com/images/dojocat.jpg" alt="Alt text" title="The Dojocat" />
          </p>
        </article>
      </div>
      <div class="min-h-lg shadow-border-t relative w-full bg-white">
        <div class="absolute right-0 flex flex-row justify-end h-full p-4 space-x-4">
          <button class="_close-drawer btn-middle-primary">Close</button>
        </div>
      </div>
    </div>
    <!-- ANCHOR drawer ends -->
    <nav id="menu">
      <ul class="listview-icons">
        <li>
          <a href="index.html"><i class="feather-home"></i>Home</a>
        </li>
        <li>
          <a href="#!"><i class="feather-search"></i>Advanced Search</a>
        </li>
        <li>
          <span><i class="feather-fast-forward"></i>Recent Pages</span>
          <ul>
            <li>
              <span>47120_12147_Dorman</span>
              <ul>
                <li><a href="#!">Part</a></li>
                <li><a href="#!">Attribute</a></li>
                <li><a href="#!">Market Copy</a></li>
                <li><a href="#!">Product Type</a></li>
                <li><a href="#!">Kit</a></li>
                <li><a href="#!">Assembly</a></li>
                <li><a href="#!">Supersession</a></li>
                <li><a href="#!">Digital Assets</a></li>
                <li><a href="#!">Markets</a></li>
                <li><a href="#!">Related Parts</a></li>
                <li><a href="#!">Interchange</a></li>
                <li><a href="#!">Application</a></li>
                <li><a href="#!">Workflow</a></li>
                <li><a href="#!">Where Used</a></li>
              </ul>
            </li>
            <li>
              <span>Saved Search 1</span>
              <ul>
                <li><a href="#!">Edit Query</a></li>
                <li><a href="#!">Most Recent Results</a></li>
              </ul>
            </li>
            <li><a href="#!">Bulk Import Velocity Code</a></li>
            <li><a href="#!">Manage Market Copy</a></li>
            <li><a href="#!">Catalog Hierarchy</a></li>
            <li><a href="#!">Bulk Assign/Import</a></li>
            <li><a href="#!">Manage Vehicles</a></li>
            <li><a href="#!">Part VMRS Report</a></li>
            <li><a href="#!">Manage Brand Data</a></li>
            <li><a href="#!">Manage Synonyms</a></li>
          </ul>
        </li>
        <li class="Divider"></li>
        <li>
          <span><i class="feather-box"></i>Parts</span>
          <ul>
            <li><a href="#!">Finished Goods</a></li>
            <li><a href="#!">Bulk Parts</a></li>
            <li><a href="#!">Competitor Parts</a></li>
            <li><a href="#!">OE Parts</a></li>
            <li><a href="#!">Interchange Search</a></li>
            <li>
              <span>Bulk Assign / Import</span>
              <ul>
                <li><a href="#!">Bulk Assign Markets</a></li>
                <li><a href="#!">Bulk Import Markets</a></li>
                <li><a href="#!">Bulk Import Attribute Values</a></li>
                <li><a href="#!">Bulk Assign Part Attribute Values</a></li>
                <li><a href="#!">Bulk Import Velocity Code</a></li>
              </ul>
            </li>
            <li><a href="#!">Manage Related Parts</a></li>
            <li>
              <span>Manage Interchanges</span>
              <ul>
                <li><a href="#!">Manage Interchange File Rules</a></li>
                <li><a href="#!">Bulk Import Interchanges</a></li>
                <li><a href="#!">Supersession Interchanges Review</a></li>
                <li><a href="#!">Competitor Parts w/o Interchange</a></li>
                <li><a href="#!">Duplicate Interchange Report</a></li>
              </ul>
            </li>
            <li>
              <span>Manage Market Copy</span>
              <ul>
                <li><a href="#!">Manage Market Copy</a></li>
                <li><a href="#!">Manage Market Copy Types</a></li>
                <li><a href="#!">Bulk Import Market Copy</a></li>
              </ul>
            </li>
            <li>
              <span>PAdb</span>
              <ul>
                <li><a href="#!">Attribute Report</a></li>
                <li><a href="#!">Attribute Report History</a></li>
                <li><a href="#!">Export All Attributes</a></li>
                <li><a href="#!">Manage Custom PADB Attributes</a></li>
                <li><a href="#!">Matching Custom PADB Attributes Report</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <span><i class="feather-book-open"></i>Catalog</span>
          <ul>
            <li><a href="#!">Parts Terminologies</a></li>
            <li><a href="#!">Product Lines</a></li>
            <li><a href="#!">Trading Partners</a></li>
            <li><a href="#!">Manage Catalog</a></li>
            <li>
              <span>Catalog Translation</span>
              <ul>
                <li><a href="#!">Catalog Hierarchy</a></li>
                <li><a href="#!">VMRS Attribute Values</a></li>
              </ul>
            </li>
            <li><a href="#!">Create New Catalog</a></li>
            <li><a href="#!">Manage Catalog Labels</a></li>
            <li><a href="#!">VMRS Not Used in Catalog</a></li>
            <li>
              <span>Manage Publishing</span>
              <ul>
                <li><a href="#!">Manage Countries</a></li>
                <li><a href="#!">Manage Sales Channels</a></li>
                <li><a href="#!">Manage Global Digital Assets</a></li>
                <li><a href="#!">Manage Global Attributes</a></li>
                <li><a href="#!">Manage Part Attribute Order</a></li>
                <li><a href="#!">Manage Attribute Types</a></li>
                <li><a href="#!">Manage Digital Assets Sent</a></li>
                <li><a href="#!">Manage Synonyms</a></li>
                <li><a href="#!">Manage Publishing Specification</a></li>
                <li><a href="#!">Publishing Schedule</a></li>
              </ul>
            </li>
            <li>
              <span>Hierarchy / VMRS</span>
              <ul>
                <li><a href="#!">Bulk Import Secondary VMRS</a></li>
                <li><a href="#!">Manage VMRS Code Attributes</a></li>
                <li><a href="#!">Manage VMRS Attributes</a></li>
                <li><a href="#!">Import Custom Catalog Hierarchy</a></li>
                <li>
                  <span>VMRS Code Validation</span>
                  <ul>
                    <li><a href="#!">Invalid VMRS Codes</a></li>
                    <li><a href="#!">Parts With Obsolete VMRS(CK33) Codes</a></li>
                    <li><a href="#!">Parts With Obsolete Brand(CK34) Codes</a></li>
                    <li><a href="#!">Superseding Parts Without VMRS</a></li>
                  </ul>
                </li>
                <li><a href="#!">Manage Proposed VMRS Codes</a></li>
                <li><a href="#!">Bulk Assign/Import</a></li>
                <li><a href="#!">Bulk Import Attributes</a></li>
                <li><a href="#!">Bulk Import Validated VMRS Codes</a></li>
              </ul>
            </li>
            <li>
              <span>Reports</span>
              <ul>
                <li><a href="#!">Faceted Descriptions With No Rules</a></li>
                <li><a href="#!">Faceted Descriptions with Empty Attributes</a></li>
                <li><a href="#!">VMRS Overlap Report</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <span><i class="feather-file"></i>Digital Assets</span>
          <ul>
            <li><a href="#!">Manage Digital Assets (Search Page)</a></li>
            <li><a href="#!">Manage Unprocessed</a></li>
            <li>
              <span>Bulk Assign/Import</span>
              <ul>
                <li><a href="#!">Bulk Assign Parts</a></li>
                <li><a href="#!">Mass Assign DA to Parts</a></li>
                <li><a href="#!">Mass Assign DA to Catalog Node</a></li>
                <li><a href="#!">Bulk Import Images</a></li>
              </ul>
            </li>
            <li><a href="#!">Assign DA to Resource</a></li>
            <li><a href="#!">Manage Digital Asset Rules</a></li>
            <li><a href="#!">Manage New Supersessions</a></li>
            <li><a href="#!">Export Digital Assets</a></li>
            <li><a href="#!">Manage Watermark</a></li>
          </ul>
        </li>
        <li>
          <span><i class="feather-repeat"></i>Data Exchange</span>
          <ul>
            <li>
              <span>Import</span>
              <ul>
                <li><a href="#!">ACES</a></li>
                <li><a href="#!">Ad Hoc</a></li>
                <li><a href="#!">PIES</a></li>
                <li><a href="#!">Price Sheets</a></li>
                <li><a href="#!">VIO</a></li>
              </ul>
            </li>
            <li>
              <span>Export</span>
              <ul>
                <li><a href="#!">ACES</a></li>
                <li><a href="#!">Ad Hoc</a></li>
                <li><a href="#!">PIES</a></li>
                <li><a href="#!">Price Sheets</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <span><i class="feather-truck"></i>Vehicles & Applications</span>
          <ul>
            <li>
              <span>Vehicles</span>
              <ul>
                <li><a href="#!">Manage Vehicles</a></li>
                <li><a href="#!">Manage Vehicle Tables</a></li>
                <li><a href="#!">Manage Vehicle Engines </a></li>
                <li><a href="#!">Manage Vehicle Drive Trains</a></li>
                <li><a href="#!">Manage Vehicle Body Styles</a></li>
                <li><a href="#!">Manage Transmissions</a></li>
                <li><a href="#!">Manage Qualifiers</a></li>
                <li><a href="#!">Manage Positions</a></li>
                <li><a href="#!">Bulk Import Applications</a></li>
              </ul>
            </li>
            <li>
              <span>HD Vehicles</span>
              <ul>
                <li><a href="#!">Manage HD Vehicles</a></li>
                <li><a href="#!">Manage HD Vehicle Tables</a></li>
                <li><a href="#!">Manage HD Engines</a></li>
                <li><a href="#!">Manage HD Drive Trains</a></li>
                <li><a href="#!">Manage HD Transmissions</a></li>
                <li><a href="#!">Manage HD Body Style</a></li>
                <li><a href="#!">Manage HD Qualifiers</a></li>
                <li><a href="#!">Manage HD Positions</a></li>
                <li><a href="#!">Bulk Import HD Applications</a></li>
              </ul>
            </li>
            <li><a href="#!">VIN Lookup</a></li>
          </ul>
        </li>
        <li>
          <span><i class="feather-printer"></i>Reports</span>
          <ul>
            <li>
              <span>Audit Report</span>
              <ul>
                <li><a href="#!">Audit Part Report</a></li>
                <li><a href="#!">Audit Report Tables</a></li>
                <li><a href="#!">Audit Vehicle Position</a></li>
                <li><a href="#!">Audit Vehicle Qualifier</a></li>
              </ul>
            </li>
            <li>
              <span>Workflow Report</span>
              <ul>
                <li><a href="#!">Processing</a></li>
                <li><a href="#!">History</a></li>
              </ul>
            </li>
            <li><a href="#!">New / Changed Parts Report</a></li>
            <li>
              <span>Part</span>
              <ul>
                <li><a href="#!">Part VMRS Report</a></li>
                <li><a href="#!">Part Attribute Report</a></li>
              </ul>
            </li>
            <li>
              <span>Catalog</span>
              <ul>
                <li><a href="#!">VMRS Catalog Part Missing Brand</a></li>
                <li><a href="#!">VMRS Catalog Part Missing Image</a></li>
                <li><a href="#!">VMRS Catalog Unapproved Node</a></li>
                <li><a href="#!">VMRS-Based Catalog Unapproved Node</a></li>
              </ul>
            </li>
            <li><a href="#!">Query Builder Report Schedule</a></li>
            <li><a href="#!">Log Files</a></li>
            <li><a href="#!">PIM Report Downloads</a></li>
          </ul>
        </li>
        <li>
          <span><i class="feather-clipboard"></i>Advanced</span>
          <ul>
            <li>
              <span>Administrator Menu</span>
              <ul>
                <li><a href="#!">User Accounts</a></li>
                <li><a href="#!">Group Accounts</a></li>
                <li><a href="#!">User / Group Access</a></li>
                <li><a href="#!">Copy User Preferences</a></li>
              </ul>
            </li>
            <li>
              <span>Workflow</span>
              <ul>
                <li><a href="#!">Search Workflows</a></li>
                <li><a href="#!">Workflow Triggers (Admin only)</a></li>
                <li>
                  <span>Tasks</span>
                  <ul>
                    <li><a href="#!">Create Tasks</a></li>
                    <li><a href="#!">Attach Tasks to Workflows</a></li>
                  </ul>
                </li>
                <li><a href="#!">Download Workflow Design Template</a></li>
                <li><a href="#!">Manage Search Table</a></li>
                <li><a href="#!">Manage Exchange Rate</a></li>
                <li>
                  <span>Industry Imports</span>
                  <ul>
                    <li><a href="#!">PCdb</a></li>
                    <li><a href="#!">Qdb</a></li>
                    <li><a href="#!">VCdb</a></li>
                    <li>
                      <span>PADB</span>
                      <ul>
                        <li><a href="#!">Import</a></li>
                        <li><a href="#!">Import Report</a></li>
                        <li><a href="#!">PAdb Changes</a></li>
                      </ul>
                    </li>
                    <li><a href="#!">HDPAdb</a></li>
                    <li><a href="#!">Brand Tables</a></li>
                    <li><a href="#!">VMRS</a></li>
                    <li><a href="#!">OE Research</a></li>
                    <li><a href="#!">VIO</a></li>
                  </ul>
                </li>
                <li>
                  <span>Manage Brands</span>
                  <ul>
                    <li><a href="#!">Manage Brand Data</a></li>
                    <li><a href="#!">Manage Brand X-Ref</a></li>
                    <li><a href="#!">Manage Brand Rule</a></li>
                    <li><a href="#!">Bulk Assign Brand</a></li>
                    <li><a href="#!">Bulk Import Brand</a></li>
                    <li><a href="#!">Bulk Import Brand Alias / Searchable</a></li>
                    <li><a href="#!">Manage Brand URLs</a></li>
                    <li><a href="#!">Manage Brand URL Labels</a></li>
                    <li><a href="#!">Manage Brand Order</a></li>
                  </ul>
                </li>
                <li>
                  <span>Manage Product Type</span>
                  <ul>
                    <li><a href="#!">Manage Product Type</a></li>
                    <li><a href="#!">Manage Product Type Rule</a></li>
                    <li><a href="#!">Bulk Import Product Rule</a></li>
                  </ul>
                </li>
                <li>
                  <span>Manage Auditing</span>
                  <ul>
                    <li><a href="#!">Manage Audit Fields</a></li>
                    <li><a href="#!">Manage Audit Tables</a></li>
                  </ul>
                </li>
                <li><a href="#!">Manage Market Rule</a></li>
                <li><a href="#!">Manage Publish Rule</a></li>
                <li><a href="#!">Manage Languages</a></li>
                <li><a href="#!">Manage LOVs</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
    <script>
      new Mmenu(document.querySelector("#menu"), {
        extensions: [
          "theme-white",
          "pagedim-black",
        ],
        counters: !0,
        iconPanels: {
          add: !0,
          hideDivider: !0,
          hideNavbar: !0,
          visible: "first"
        },
        navbar: {
          title: "Menu"
        },
        navbars: [{
          position: "top",
          content: ["searchfield"]
        }, {
          position: "top"
        }],
        searchfield: {
          panel: {
            add: '!0',
            splash: "<p>What are you looking for?<br />Type the menu name you are looking for.</p>",
          },
        },
        setSelected: {
          hover: !0,
          parent: !0
        },
        sidebar: {
          collapsed: {
            use: 768,
            hideNavbar: !0,
            hideDivider: !0
          },
          expanded: {
            use: 10440,
            initial: "remember"
          }
        },
      });
    </script>
    <script>
      var allHeights = 0;

      var fixedHeader = $("#session-header");

      var paddingTpx = fixedHeader.css('padding-top');
      var paddingT = Number(paddingTpx.slice(0, -2));
      var paddingBpx = fixedHeader.css('padding-bottom');
      var paddingB = Number(paddingBpx.slice(0, -2));
      var realHeight = fixedHeader.height() + paddingT + paddingB;
      allHeights += realHeight;

      $("#headers").children().each(function () {
        var paddingTpx = $(this).css('padding-top');
        var paddingT = Number(paddingTpx.slice(0, -2));
        var paddingBpx = $(this).css('padding-bottom');
        var paddingB = Number(paddingBpx.slice(0, -2));
        var realHeight = $(this).height() + paddingT + paddingB;
        allHeights += realHeight;
      });

      const content = $("#content");
      content.css({
        top: allHeights
      });
    </script>
    <script>
      function openMenu() {
        document.getElementById("userDropdown").classList.toggle("hidden");
        document.getElementById("userDropdown").classList.toggle("flex");
      }
    </script>
    <script>
      $('._dropdown').select2({});
    </script>
</body>

</html>