<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>modals-template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../dist/js/a11y-dialog.js"></script>
    <link rel="stylesheet" href="../dist/css/styles.mini.css" />
</head>

<body>
    <div id="outerDiv" class="inline-flex flex-col items-center w-screen p-5 space-y-5 bg-blue-50">
        <!-- ANCHOR Basic -->
        <div role="document" class="w-1/2 bg-white modal-wrapper basic">
            <div class="modal-header">
                <p class="modal-title">Header</p>
                <button class="icon-btn large ghost feather-x"></button>
            </div>
            <div class="modal-content">
                <p>Ut consequat minim exercitation aliqua aute commodo et ut in minim. Voluptate labore do qui non nostrud culpa cupidatat laborum fugiat nisi mollit enim ipsum. Pariatur est culpa eu non est labore officia occaecat. Nostrud qui nulla consectetur anim sit consequat in irure ea ullamco dolor cillum reprehenderit occaecat. Est tempor aliqua ad ex sint proident reprehenderit reprehenderit officia anim. Ut commodo aliquip excepteur irure non occaecat incididunt Lorem. Mollit veniam veniam ut aliqua voluptate consectetur magna sit.</p>
            </div>
            <div class="modal-footer">
                <div class="modal-buttons">
                    <button class="btn middle ghost">Dismiss</button>
                    <button class="btn middle primary">Confirm</button>
                </div>
            </div>
        </div>
        <!-- ANCHOR Icon -->
        <div role="document" class="w-1/4 bg-white modal-wrapper icon">
            <div class="modal-content">
                <div class="icon">
                    <i class="text-blue-500 feather-at-sign"></i>
                </div>
                <div class="content">
                    <p class="modal-title">Header</p>
                    <div>
                        <p>Ut consequat minim exercitation aliqua aute commodo et ut in minim.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-buttons">
                    <button class="btn middle ghost">Dismiss</button>
                    <button class="btn middle primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</body>