<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>modals-demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../dist/js/a11y-dialog.js"></script>
        <link rel="stylesheet" href="../dist/css/styles.mini.css" />
    </head>
    <body>
        <div id="main" style="width: 800px;" class="mx-auto">
            <div class="grid grid-cols-2 gap-5 m-5">
                <!-- ANCHOR Trigger buttons -->
                <button data-a11y-dialog-show="basic-dialog" class="justify-self-center btn large tertiary">Basic Modal</button>
                <button data-a11y-dialog-show="icon-dialog" class="justify-self-center btn large tertiary">Icon Modal</button>
            </div>
        </div>

        <!-- SECTION Modal templates -->

        <!-- ANCHOR Icon -->
        <div class="dialog-container" id="icon-dialog" aria-hidden="true">
            <div class="dialog-overlay" tabindex="-1" data-a11y-dialog-hide></div>
            <div role="dialog" aria-labelledby="icon-title">
                <div role="document" class="w-1/4 m-auto bg-white modal-wrapper icon dialog-content">
                    <div class="modal-content">
                        <div class="icon">
                            <i class="text-blue-500 feather-at-sign"></i>
                        </div>
                        <div class="content">
                            <p id="icon-title" class="modal-title">Header</p>
                            <div>
                                <p>Ut consequat minim exercitation aliqua aute commodo et ut in minim.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="modal-buttons">
                            <button class="btn middle ghost">Dismiss</button>
                            <button class="btn middle primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ANCHOR Basic -->
        <div class="dialog-container" id="basic-dialog" aria-hidden="true">
            <div class="dialog-overlay" tabindex="-1" data-a11y-dialog-hide></div>
            <div role="dialog" aria-labelledby="basic-title">
                <div role="document" class="w-1/2 m-auto bg-white modal-wrapper basic dialog-content">
                    <div class="modal-header">
                        <p id="basic-title" class="modal-title">Header</p>
                        <button class="modal-close feather-x"></button>
                    </div>
                    <div class="modal-content">
                        <p>Ut consequat minim exercitation aliqua aute commodo et ut in minim. Voluptate labore do qui non nostrud culpa cupidatat laborum fugiat nisi mollit enim ipsum. Pariatur est culpa eu non est labore officia occaecat. Nostrud qui nulla consectetur anim sit consequat in irure ea ullamco dolor cillum reprehenderit occaecat. Est tempor aliqua ad ex sint proident reprehenderit reprehenderit officia anim. Ut commodo aliquip excepteur irure non occaecat incididunt Lorem. Mollit veniam veniam ut aliqua voluptate consectetur magna sit.</p>
                    </div>
                    <div class="modal-footer">
                        <div class="modal-buttons">
                            <button class="btn middle ghost">Dismiss</button>
                            <button class="btn middle primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- !SECTION Modal templates end -->

        <script>
            
            const icon = document.getElementById('icon-dialog');
            const basic = document.getElementById('basic-dialog');

            var mainEl = document.getElementById('main');

            const dialogBasic = new A11yDialog(basic, mainEl);
            const dialogIcon = new A11yDialog(icon, mainEl);

        </script>
    </body>
</html>