<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>avatars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../dist/css/styles.mini.css" />
</head>

<body class="bg-yellow-50">
    <div class="flex flex-row justify-center w-full p-20 space-x-20">
        <!-- ANCHOR Regular -->
        <div class="p-3 overflow-scroll bg-white scrollbar-regular w-80 h-80">
            <p>Aliqua aliqua pariatur sunt voluptate occaecat Lorem tempor velit nostrud cupidatat labore incididunt
                adipisicing ea. Exercitation labore amet minim sint qui deserunt incididunt velit officia reprehenderit.
                Culpa reprehenderit consequat irure laboris laborum. Est duis id nostrud pariatur quis cupidatat aute
                proident sit quis magna. Qui ad aute ea irure occaecat. Reprehenderit et in consectetur commodo nulla ipsum
                anim in enim esse.
                <br>
                <br>
                Tempor excepteur voluptate laborum Lorem nulla sint consectetur cillum proident exercitation. Exercitation
                sit in velit laborum ad voluptate eiusmod esse et duis tempor veniam. Sint proident quis et anim deserunt.
                Dolor pariatur incididunt nisi quis qui in reprehenderit officia do occaecat.
                <br>
                <br>
                Ex nostrud cillum consectetur adipisicing in minim est. Dolor culpa enim amet cillum pariatur do dolor.
                Dolore incididunt fugiat excepteur exercitation cillum ad laborum excepteur id cupidatat id id irure.
                <br>
                <br>
                Aliquip id deserunt sint aliqua excepteur. Commodo aute qui labore magna adipisicing cupidatat aute.
                Occaecat amet incididunt occaecat enim cupidatat aliqua tempor sit magna pariatur deserunt ullamco amet.
                <br>
                <br>
                Lorem consectetur sunt esse quis. Culpa dolore anim sint dolore sint esse est tempor eiusmod. Aliquip
                excepteur anim velit laboris est laboris nisi proident in occaecat dolore reprehenderit labore consectetur.
                Incididunt consequat quis aliquip deserunt enim incididunt qui voluptate elit esse quis do voluptate
                voluptate. Qui magna fugiat ea occaecat sunt laborum irure proident dolore aute dolore et nostrud amet.
                Cillum in ullamco voluptate irure pariatur cillum magna tempor sunt.
                <br>
                <br>
                Voluptate aliquip occaecat ullamco velit ex magna esse occaecat duis laborum Lorem dolor exercitation. Est
                nostrud quis anim eiusmod occaecat consequat. Aliqua aliquip exercitation cupidatat sit esse nostrud.
                <br>
                <br>
                Irure est adipisicing consectetur cupidatat. Lorem quis enim exercitation nostrud minim cillum occaecat ad
                amet irure in. Magna ex in eu qui. Dolore incididunt et tempor aliquip id tempor mollit amet ut cillum.
                Lorem proident sint commodo consequat commodo nulla deserunt. Quis aliqua dolor deserunt veniam cillum
                aliquip. Pariatur reprehenderit id do Lorem ipsum id adipisicing veniam irure.
                <br>
                <br>
                Elit veniam adipisicing do aute laboris labore reprehenderit fugiat. Consectetur sint adipisicing velit
                consequat reprehenderit. Commodo ullamco non mollit tempor consectetur qui cillum pariatur in et in.
                <br>
                <br>
                Exercitation minim est minim culpa enim quis sit amet proident amet nostrud voluptate. In occaecat do
                eiusmod ut nisi ullamco ullamco exercitation. Dolore magna tempor commodo consequat anim cupidatat nisi
                proident nisi sint deserunt voluptate.
                <br>
                <br>
                Nisi eiusmod mollit ullamco in adipisicing est adipisicing proident est. Esse magna labore occaecat dolor
                aliqua in proident eiusmod exercitation ullamco eu exercitation. Ut ad voluptate eiusmod laborum consectetur
                magna fugiat id irure excepteur exercitation dolor aliquip qui. Non ipsum duis voluptate labore nostrud
                ipsum pariatur ipsum reprehenderit nostrud in do enim laborum. Consequat aliquip sit nisi dolore mollit est
                dolor est magna officia ut in ipsum.</p>
        </div>
        <!-- ANCHOR Small -->
        <div class="p-3 overflow-scroll bg-white scrollbar-small w-80 h-80">
            <p>Aliqua aliqua pariatur sunt voluptate occaecat Lorem tempor velit nostrud cupidatat labore incididunt
                adipisicing ea. Exercitation labore amet minim sint qui deserunt incididunt velit officia reprehenderit.
                Culpa reprehenderit consequat irure laboris laborum. Est duis id nostrud pariatur quis cupidatat aute
                proident sit quis magna. Qui ad aute ea irure occaecat. Reprehenderit et in consectetur commodo nulla ipsum
                anim in enim esse.
                Tempor excepteur voluptate laborum Lorem nulla sint consectetur cillum proident exercitation. Exercitation
                sit in velit laborum ad voluptate eiusmod esse et duis tempor veniam. Sint proident quis et anim deserunt.
                Dolor pariatur incididunt nisi quis qui in reprehenderit officia do occaecat.
                Ex nostrud cillum consectetur adipisicing in minim est. Dolor culpa enim amet cillum pariatur do dolor.
                Dolore incididunt fugiat excepteur exercitation cillum ad laborum excepteur id cupidatat id id irure.
                Aliquip id deserunt sint aliqua excepteur. Commodo aute qui labore magna adipisicing cupidatat aute.
                Occaecat amet incididunt occaecat enim cupidatat aliqua tempor sit magna pariatur deserunt ullamco amet.
                Lorem consectetur sunt esse quis. Culpa dolore anim sint dolore sint esse est tempor eiusmod. Aliquip
                excepteur anim velit laboris est laboris nisi proident in occaecat dolore reprehenderit labore consectetur.
                Incididunt consequat quis aliquip deserunt enim incididunt qui voluptate elit esse quis do voluptate
                voluptate. Qui magna fugiat ea occaecat sunt laborum irure proident dolore aute dolore et nostrud amet.
                Cillum in ullamco voluptate irure pariatur cillum magna tempor sunt.
                Voluptate aliquip occaecat ullamco velit ex magna esse occaecat duis laborum Lorem dolor exercitation. Est
                nostrud quis anim eiusmod occaecat consequat. Aliqua aliquip exercitation cupidatat sit esse nostrud.
                Irure est adipisicing consectetur cupidatat. Lorem quis enim exercitation nostrud minim cillum occaecat ad
                amet irure in. Magna ex in eu qui. Dolore incididunt et tempor aliquip id tempor mollit amet ut cillum.
                Lorem proident sint commodo consequat commodo nulla deserunt. Quis aliqua dolor deserunt veniam cillum
                aliquip. Pariatur reprehenderit id do Lorem ipsum id adipisicing veniam irure.
                Elit veniam adipisicing do aute laboris labore reprehenderit fugiat. Consectetur sint adipisicing velit
                consequat reprehenderit. Commodo ullamco non mollit tempor consectetur qui cillum pariatur in et in.
                Exercitation minim est minim culpa enim quis sit amet proident amet nostrud voluptate. In occaecat do
                eiusmod ut nisi ullamco ullamco exercitation. Dolore magna tempor commodo consequat anim cupidatat nisi
                proident nisi sint deserunt voluptate.
                Nisi eiusmod mollit ullamco in adipisicing est adipisicing proident est. Esse magna labore occaecat dolor
                aliqua in proident eiusmod exercitation ullamco eu exercitation. Ut ad voluptate eiusmod laborum consectetur
                magna fugiat id irure excepteur exercitation dolor aliquip qui. Non ipsum duis voluptate labore nostrud
                ipsum pariatur ipsum reprehenderit nostrud in do enim laborum. Consequat aliquip sit nisi dolore mollit est
                dolor est magna officia ut in ipsum.</p>
        </div>
    </div>
</body>