<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>system-messages</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../dist/css/styles.mini.css" />
    </head>
    <body>
        <div id="outerDiv" class="bg-blue-50 inline-flex flex-col items-center w-screen p-5">

            <!-- SECTION Default -->

            <!-- ANCHOR Two buttons -->
            <div class="py-4 pl-8.5 pr-4.5 shadow-border-b sys default w-full">
                <div class="grid-cols-sys text-md grid items-center grid-rows-1">
                    <p class="justify-self-start font-semibold">8/19/2020 10:07:11 AM</p>
                    <p class=" justify-self-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                    <div class="justify-self-end flex flex-row space-x-2">
                        <button class="btn-large-ghost-icon feather-corner-up-left"></button>
                        <button class="btn-large-ghost-icon feather-x"></button>
                    </div>
                </div>
            </div>
            <!-- ANCHOR Single button -->
            <div class="py-4 pl-8.5 pr-4.5 shadow-border-b sys default w-full">
                <div class="grid-cols-sys text-md grid items-center grid-rows-1">
                    <p class="justify-self-start font-semibold">8/19/2020 10:07:11 AM</p>
                    <p class=" justify-self-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                    <div class="justify-self-end flex flex-row space-x-2">
                        <button class="btn-large-ghost">
                            Undo
                            <i class="btnicon-right-large feather-corner-up-left"></i>
                          </button>
                    </div>
                </div>
            </div>

            <!-- !SECTION Default ends -->

            <!-- SECTION Success -->

            <!-- ANCHOR Single button -->
            <div class="py-4 pl-8.5 pr-4.5 shadow-border-b sys sucess w-full">
                <div class="grid-cols-sys text-md grid items-center grid-rows-1">
                    <p class="justify-self-start font-semibold">8/19/2020 10:07:11 AM</p>
                    <p class=" justify-self-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                    <div class="sys-actions">
                    <i class="status feather-check-circle"></i>
                    </div>
                </div>
            </div>
            <!-- ANCHOR Icon and button -->
            <div class="py-4 pl-8.5 pr-4.5 shadow-border-b sys sucess w-full">
                <div class="grid-cols-sys text-md grid items-center grid-rows-1">
                    <p class="justify-self-start font-semibold">8/19/2020 10:07:11 AM</p>
                    <p class=" justify-self-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                    <div class="sys-actions">
                    <i class="status feather-check-circle"></i>
                    <button class="btn-large-ghost-icon feather-corner-up-left"></button>
                    </div>
                </div>
            </div>

            <!-- !SECTION Success ends -->

            <!-- SECTION Processing -->

            <!-- ANCHOR Single button -->
            <div class="py-4 pl-8.5 pr-4.5 shadow-border-b sys processing w-full">
                <div class="grid-cols-sys text-md grid items-center grid-rows-1">
                    <p class="justify-self-start font-semibold">8/19/2020 10:07:11 AM</p>
                    <p class=" justify-self-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                    <div class="sys-actions">
                        <i class="status feather-clock"></i>
                    </div>
                </div>
            </div>
            <!-- ANCHOR Icon and button -->
            <div class="py-4 pl-8.5 pr-4.5 shadow-border-b sys processing w-full">
                <div class="grid-cols-sys text-md grid items-center grid-rows-1">
                    <p class="justify-self-start font-semibold">8/19/2020 10:07:11 AM</p>
                    <p class="justify-self-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                    <div class="sys-actions">
                        <i class="status feather-clock"></i>
                        <button class="btn-large-ghost-icon feather-corner-up-left"></button>
                    </div>
                </div>
            </div>

            <!-- !SECTION Processing ends -->

            <!-- SECTION Error -->

            <!-- ANCHOR Single button -->
            <div class="py-4 pl-8.5 pr-4.5 shadow-border-b sys error w-full">
                <div class="grid-cols-sys text-md grid items-center grid-rows-1">
                    <p class="justify-self-start font-semibold">8/19/2020 10:07:11 AM</p>
                    <p class=" justify-self-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                    <div class="sys-actions">
                        <i class="status feather-x-circle"></i>
                    </div>
                </div>
            </div>
            <!-- ANCHOR Icon and button -->
            <div class="py-4 pl-8.5 pr-4.5 shadow-border-b sys error w-full">
                <div class="grid-cols-sys text-md grid items-center grid-rows-1">
                    <p class="justify-self-start font-semibold">8/19/2020 10:07:11 AM</p>
                    <p class=" justify-self-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                    <div class="sys-actions">
                        <i class="status feather-x-circle"></i>
                        <button class="btn-large-ghost-icon feather-corner-up-left"></button>
                    </div>
                </div>
            </div>

            <!-- !SECTION Error ends -->

        </div>
    </body>
</html>