<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="headers&footers" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../dist/css/styles-mini.css" />

    <script>
        function clearInput() {
            console.log("Clear Input")
        };
    </script>
</head>

<body class="bg-yellow-50">
    <div id="outerDiv" class="inline-flex flex-col items-center w-full p-5 space-y-5">
        <!-- large input default no label -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- large input default no label no icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-large"></input>
            <!-- large input default no label icon left large default -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-large" placeholder="Enter name">
            </div>
            <!-- large input default no label icon right large default -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3.5">
                    <i onClick=clearInput() class="!leading-0 text-base text-gray-200 cursor-pointer  feather-x">
                    </i>
                </span>
                <input type="text" class="input-text-large w-70" placeholder="Enter name">
            </div>
            <!-- large input default no label icon right right large default -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-info">
                    </i>
                    <i onClick=clearInput() class="!leading-0 text-base text-gray-200 cursor-pointer  feather-x">
                    </i>
                </span>
                <input type="text" class="input-text-large w-70" placeholder="Enter name">
            </div>
            <!-- large input default no label icon right right large default -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center space-x-1.5 pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-large w-70" placeholder="Enter name">
            </div>
        </div>
        <!-- large input disabled no label -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- large input disabled no label no icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-large" disabled></input>
            <!-- large input disabled no label icon left large -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-large" placeholder="Enter name" disabled>
            </div>
            <!-- large input disabled no label icon right large -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-slash">
                    </i>
                </span>
                <input type="text" class="input-text-large w-70" placeholder="Enter name" disabled>
            </div>
            <!-- large input disabled no label icon right right  -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-info">
                    </i>
                    <i class="!leading-0 text-base text-gray-200 feather-slash">
                    </i>
                </span>
                <input type="text" class="input-text-large w-70" placeholder="Enter name" disabled>
            </div>
            <!-- large input disabled no label icon right right large -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center space-x-1.5 pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-large w-70" placeholder="Enter name" disabled>
            </div>
        </div>
        <!-- large input error no label -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- large input error no label no icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-error-large"></input>
            <!-- large input error no label icon left  -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-error-large" placeholder="Enter name">
            </div>
            <!-- large input error no label icon right  -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3.5">
                    <i class="!leading-0 text-base text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-large w-70" placeholder="Enter name">
            </div>
            <!-- large input error no label icon right right  -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-large w-70" placeholder="Enter name">
            </div>
            <!-- large input error no label icon right right  -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-red-600 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center space-x-1.5 pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-error-large w-70" placeholder="Enter name">
            </div>
        </div>
        <!-- large input error disabled no label -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- large input error disabled no label no icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-error-large" disabled></input>
            <!-- large input error disabled no label icon left -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-error-large" placeholder="Enter name" disabled>
            </div>
            <!-- large input error disabled no label icon right  -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3.5">
                    <i class="!leading-0 text-base text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-large w-70" placeholder="Enter name" disabled>
            </div>
            <!-- large input error disabled no label icon right right -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-large w-70" placeholder="Enter name" disabled>
            </div>
            <!-- large input error disabled no label icon right right  -->
            <div class="relative h-10">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-1.5 pr-3.5">
                    <i class="!leading-0 text-base text-red-600 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center space-x-1.5 pl-3.5">
                    <i class="!leading-0 text-base text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-error-large w-70" placeholder="Enter name" disabled>
            </div>
        </div>
        <!-- middle input default no label -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- middle input default no label no icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-middle"></input>
            <!-- middle input default no label icon left middle default -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-middle" placeholder="Enter name">
            </div>
            <!-- middle input default no label icon right middle default -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                    <i onClick=clearInput() class="!leading-0 text-gray-200 cursor-pointer  text-md feather-x">
                    </i>
                </span>
                <input type="text" class="input-text-middle w-70" placeholder="Enter name">
            </div>
            <!-- middle input default no label icon right right middle default -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-info">
                    </i>
                    <i onClick=clearInput() class="!leading-0 text-gray-200 cursor-pointer  text-md feather-x">
                    </i>
                </span>
                <input type="text" class="input-text-middle w-70" placeholder="Enter name">
            </div>
            <!-- middle input default no label icon right right middle default -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-middle w-70" placeholder="Enter name">
            </div>
        </div>
        <!-- middle input disabled no label -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- middle input disabled no label no icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-middle" disabled></input>
            <!-- middle input disabled no label icon left middle -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-middle" placeholder="Enter name" disabled>
            </div>
            <!-- middle input disabled no label icon right middle -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                    <i class="!leading-0 text-gray-200 text-md feather-slash">
                    </i>
                </span>
                <input type="text" class="input-text-middle w-70" placeholder="Enter name" disabled>
            </div>
            <!-- middle input disabled no label icon right right  -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-info">
                    </i>
                    <i class="!leading-0 text-gray-200 text-md feather-slash">
                    </i>
                </span>
                <input type="text" class="input-text-middle w-70" placeholder="Enter name" disabled>
            </div>
            <!-- middle input disabled no label icon right right middle -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-middle w-70" placeholder="Enter name" disabled>
            </div>
        </div>
        <!-- middle input error no label -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- middle input error no label no icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-error-middle"></input>
            <!-- middle input error no label icon left  -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-error-middle" placeholder="Enter name">
            </div>
            <!-- middle input error no label icon right  -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                    <i class="!leading-0 text-red-600 text-md feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-middle w-70" placeholder="Enter name">
            </div>
            <!-- middle input error no label icon right right  -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-red-600 text-md feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-middle w-70" placeholder="Enter name">
            </div>
            <!-- middle input error no label icon right right  -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-red-600 text-md feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-error-middle w-70" placeholder="Enter name">
            </div>
        </div>
        <!-- middle input error disabled no label -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- middle input error disabled no label no icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-error-middle" disabled></input>
            <!-- middle input error disabled no label icon left -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-error-middle" placeholder="Enter name" disabled>
            </div>
            <!-- middle input error disabled no label icon right  -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                    <i class="!leading-0 text-red-600 text-md feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-middle w-70" placeholder="Enter name" disabled>
            </div>
            <!-- middle input error disabled no label icon right right -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-red-600 text-md feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-middle w-70" placeholder="Enter name" disabled>
            </div>
            <!-- middle input error disabled no label icon right right  -->
            <div class="relative h-8">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 space-x-2">
                    <i class="!leading-0 text-red-600 text-md feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-3 space-x-2">
                    <i class="!leading-0 text-gray-200 text-md feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-error-middle w-70" placeholder="Enter name" disabled>
            </div>
        </div>
        <!-- small input default no label -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- small input default no label no icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-small"></input>
            <!-- small input default no label icon left small default -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-small" placeholder="Enter name">
            </div>
            <!-- small input default no label icon right small default -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center pr-1.5">
                    <i onClick=clearInput() class="!leading-0 text-sm text-gray-200 cursor-pointer feather-x">
                    </i>
                </span>
                <input type="text" class="input-text-small w-70" placeholder="Enter name">
            </div>
            <!-- small input default no label icon right right small default -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-info">
                    </i>
                    <i onClick=clearInput() class="!leading-0 text-sm text-gray-200 cursor-pointer feather-x">
                    </i>
                </span>
                <input type="text" class="input-text-small w-70" placeholder="Enter name">
            </div>
            <!-- small input default no label icon right right small default -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5 space-x-2.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-small w-70" placeholder="Enter name">
            </div>
        </div>
        <!-- small input disabled no label -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- small input disabled no label no icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-small" disabled></input>
            <!-- small input disabled no label icon left small -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-small" placeholder="Enter name" disabled>
            </div>
            <!-- small input disabled no label icon right small -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center pr-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-slash">
                    </i>
                </span>
                <input type="text" class="input-text-small w-70" placeholder="Enter name" disabled>
            </div>
            <!-- small input disabled no label icon right right  -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-info">
                    </i>
                    <i class="!leading-0 text-sm text-gray-200 feather-slash">
                    </i>
                </span>
                <input type="text" class="input-text-small w-70" placeholder="Enter name" disabled>
            </div>
            <!-- small input disabled no label icon right right small -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5 space-x-2.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-small w-70" placeholder="Enter name" disabled>
            </div>
        </div>
        <!-- small input error no label -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- small input error no label no icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-error-small"></input>
            <!-- small input error no label icon left  -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-error-small" placeholder="Enter name">
            </div>
            <!-- small input error no label icon right  -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center pr-1.5">
                    <i class="!leading-0 text-sm text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-small w-70" placeholder="Enter name">
            </div>
            <!-- small input error no label icon right right  -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-small w-70" placeholder="Enter name">
            </div>
            <!-- small input error no label icon right right  -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-red-600 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5 space-x-2.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-error-small w-70" placeholder="Enter name">
            </div>
        </div>
        <!-- small input error disabled no label -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- small input error disabled no label no icon -->
            <input type="text" placeholder="Enter name" class="w-70 input-text-error-small" disabled></input>
            <!-- small input error disabled no label icon left -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 input-icon-error-small" placeholder="Enter name" disabled>
            </div>
            <!-- small input error disabled no label icon right  -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center pr-1.5">
                    <i class="!leading-0 text-sm text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-small w-70" placeholder="Enter name" disabled>
            </div>
            <!-- small input error disabled no label icon right right -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-red-600 feather-info">
                    </i>
                </span>
                <input type="text" class="input-text-error-small w-70" placeholder="Enter name" disabled>
            </div>
            <!-- small input error disabled no label icon right right  -->
            <div class="relative h-6">
                <span class="absolute inset-y-0 right-0 flex items-center space-x-2.5 pr-1.5">
                    <i class="!leading-0 text-sm text-red-600 feather-info">
                    </i>
                </span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-1.5 space-x-2.5">
                    <i class="!leading-0 text-sm text-gray-200 feather-search">
                    </i>
                </span>
                <input type="text" class="input-icon-error-small w-70" placeholder="Enter name" disabled>
            </div>
        </div>
    </div>
    </div>
</body>

</html>