<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>inputs-text-without-label</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../dist/css/styles.mini.css" />
</head>

<body class="bg-yellow-50">
    <div id="outerDiv" class="inline-flex flex-col items-center w-full p-5 space-y-5">
        <p class="text-md text-gray-900">To test validation, type in the fields. Valid inputs must contain ".com"</p>
        <!-- SECTION Large -->

        <!-- SECTION Default -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter website" class="w-70 text-input large"></input>
            <!-- ANCHOR Icon left -->
            <fieldset class="text-input-wrapper large">
                <span class="icon-left">
                    <i class="input-icon feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 text-input-icon-left large" placeholder="Enter website">
            </fieldset>
            <!-- ANCHOR Icon right -->
            <fieldset class="text-input-wrapper large">
                <span class="icon-right">
                    <i onClick=clearInput() class="input-icon feather-sun cursor-pointer">
                    </i>
                </span>
                <input type="text" class="text-input large w-70" placeholder="Enter website">
            </fieldset>
            <!-- ANCHOR Double icon right -->
            <fieldset class="text-input-wrapper large">
                <span class="icon-right">
                    <i class="input-icon feather-cloud">
                    </i>
                    <i onClick=clearInput() class="input-icon feather-sun cursor-pointer">
                    </i>
                </span>
                <input type="text" class="text-input large w-70" placeholder="Enter website">
            </fieldset>
            <!-- ANCHOR Icon right left -->
            <fieldset class="text-input-wrapper large">
                <span class="icon-right">
                    <i class="input-icon feather-cloud">
                    </i>
                </span>
                <span class="icon-left">
                    <i class="input-icon feather-search">
                    </i>
                </span>
                <input type="text" class="text-input-icon-left large w-70" placeholder="Enter website">
            </fieldset>
        </div>
        <!-- !SECTION Default ends -->

        <!-- SECTION Read-only -->
        <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <!-- ANCHOR No icon -->
            <input type="text" placeholder="Enter website" class="w-70 text-input large" readonly></input>
            <!-- ANCHOR Icon left -->
            <fieldset class="text-input-wrapper large" readonly>
                <span class="icon-left">
                    <i class="input-icon feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 text-input-icon-left large" placeholder="Enter website">
            </fieldset>
            <!-- ANCHOR Icon right -->
            <fieldset class="text-input-wrapper large" readonly>
                <span class="icon-right">
                    <i onClick=clearInput() class="input-icon feather-sun cursor-pointer">
                    </i>
                </span>
                <input type="text" class="text-input large w-70" placeholder="Enter website">
            </fieldset>
            <!-- ANCHOR Double icon right -->
            <fieldset class="text-input-wrapper large" readonly>
                <span class="icon-right">
                    <i class="input-icon feather-cloud">
                    </i>
                    <i onClick=clearInput() class="input-icon feather-sun cursor-pointer">
                    </i>
                </span>
                <input type="text" class="text-input large w-70" placeholder="Enter website">
            </fieldset>
            <!-- ANCHOR Icon right left -->
            <fieldset class="text-input-wrapper large" readonly>
                <span class="icon-right">
                    <i class="input-icon feather-cloud">
                    </i>
                </span>
                <span class="icon-left">
                    <i class="input-icon feather-search">
                    </i>
                </span>
                <input type="text" class="text-input-icon-left large w-70" placeholder="Enter website">
            </fieldset>
        </div>
        <!-- !SECTION Read-only ends -->

        <!-- SECTION Error -->
        <!-- <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <input type="text" placeholder="D no icon" class="w-70 text-input large error"></input>
            <fieldset class="text-input-wrapper large error">
                <span class="icon-left">
                    <i class="input-icon feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 text-input-icon-left large error" placeholder="D left">
            </fieldset>
            <fieldset class="text-input-wrapper large error">
                <span class="icon-right">
                    <i onClick=clearInput() class="input-icon feather-sun cursor-pointer">
                    </i>
                </span>
                <input type="text" class="text-input large w-70" placeholder="D right">
            </fieldset>
            <fieldset class="text-input-wrapper large error">
                <span class="icon-right">
                    <i class="input-icon feather-cloud">
                    </i>
                    <i onClick=clearInput() class="input-icon feather-sun cursor-pointer">
                    </i>
                </span>
                <input type="text" class="text-input large w-70" placeholder="D rightright">
            </fieldset>
            <fieldset class="text-input-wrapper large error">
                <span class="icon-right">
                    <i class="input-icon feather-cloud">
                    </i>
                </span>
                <span class="icon-left">
                    <i class="input-icon feather-search">
                    </i>
                </span>
                <input type="text" class="text-input-icon-left large w-70" placeholder="D leftright">
            </fieldset>
        </div> -->
        <!-- !SECTION Error ends -->

        <!-- SECTION Errro disabled -->
        <!-- <div class="justify-evenly flex flex-row flex-wrap w-full mx-auto">
            <input type="text" placeholder="D no icon" class="w-70 text-input large" readonly></input>
            <fieldset class="text-input-wrapper large error" readonly>
                <span class="icon-left">
                    <i class="input-icon feather-search">
                    </i>
                </span>
                <input type="text" id="input" class="w-70 text-input-icon-left large" placeholder="D left">
            </fieldset>
            <fieldset class="text-input-wrapper large error" readonly>
                <span class="icon-right">
                    <i onClick=clearInput() class="input-icon feather-sun cursor-pointer">
                    </i>
                </span>
                <input type="text" class="text-input large w-70" placeholder="D right">
            </fieldset>
            <fieldset class="text-input-wrapper large error" readonly>
                <span class="icon-right">
                    <i class="input-icon feather-cloud">
                    </i>
                    <i onClick=clearInput() class="input-icon feather-sun cursor-pointer">
                    </i>
                </span>
                <input type="text" class="text-input large w-70" placeholder="D rightright">
            </fieldset>
            <fieldset class="text-input-wrapper large error" readonly>
                <span class="icon-right">
                    <i class="input-icon feather-cloud">
                    </i>
                </span>
                <span class="icon-left">
                    <i class="input-icon feather-search">
                    </i>
                </span>
                <input type="text" class="text-input-icon-left large w-70" placeholder="D leftright">
            </fieldset>
        </div> -->
        <!-- !SECTION Error disabled ends -->

        <!-- !SECTION Large ends -->
    </div>

    <script src="../dist/js/popper.js"></script>
    <script src="../dist/js/tippy-bundle.umd.js"></script>
    <script>
        tippy('[data-tippy-content]');
        // ANCHOR if parent <fieldset> is disabled or readonly, set the child <input> to have the same attribute 
        var disabledForm = $("fieldset:disabled").find("input");
        $(disabledForm).prop("disabled", true);
        var readonlyForm = $("fieldset[readonly]").find("input");
        console.log(readonlyForm.length)
        $(readonlyForm).prop("readonly", true);

        const clearIcon = "<i onClick=clearInput() class='_clear-icon input-icon feather-trash cursor-pointer'" +
            ">" + "<" + "/i" + ">"
        const errorIcon =
            "<i onClick=clearInput() class='_added-dynamically input-icon feather-info !text-red-600 cursor-pointer'" +
            ">" + "<" + "/i" + ">"

        const readOnlyIcon =
            "<i onClick=clearInput() class='_readonly-icon input-icon feather-eye cursor-pointer' data-tippy-placement='auto' data-tippy-content='This filed cannot be edited'" +
            ">" + "<" + "/i" + ">"

        // ANCHOR global variables for form type (nest) and the parent <fieldset> (forminput)
        var nest;
        var forminput;
        var valid;

        // ANCHOR find the form type and validate the input everytime an input is provided to any of the text inputs on the page
        $('input[type="text"]').on('input', function () {
            inputNest($(this));
            validate($(this));
            setIcon($(this));
        });

        // ANCHOR find the form type based on some <input> element
        function inputNest(input) {
            // find the parent <inputfield>
            forminput = input.parents(".text-input-wrapper");
            // does the .icon-right element have 2 or more elements?
            if (forminput.find(".icon-right").children().length >= 2) {
                nest = "double icon right";
                // do both .icon-right and .icon-left have any children? 
            } else if (forminput.find(".icon-right").children().length != 0 && forminput.find(".icon-left").children()
                .length != 0) {
                nest = "icon left right"
                // does the .icon-left element have a child while .icon-right has none?
            } else if (input.parent(".text-input-wrapper").find(".icon-right").children().length == 0 && forminput.find(
                    ".icon-left").children().length == 1) {
                nest = "icon left"
                // does the .icon-right element have a child while .icon-left has none?
            } else if (input.parent(".text-input-wrapper").find(".icon-right").children().length == 1 && forminput.find(
                    ".icon-left").children().length == 0) {
                nest = "icon right"
                // if nothing is true, the <input> must have no icon
            } else {
                nest = "no icon";
            };
        };

        // ANCHOR Validate the input and set classes
        function validate(input) {

            // set regex and define the test string as the value of the <input> field that is passed to the function
            const regex = /(\.com)/gm;
            const str = input.val();

            if (str == "") {
                // if the <input> is empty, remove .error
                // forminput is for cases where <forminput> exists as a parent
                // input is the <input> element and exists for cases where there is no nesting (i.e. no icon input fields)
                forminput.removeClass("error");
                input.removeClass("error");
                valid = false;
            } else if (nest == "no icon" && regex.test(str) == true) {
                // if the input field is of the type "no icon" and the input is valid, then remove .error from the <input> element itself, which is the element being interacted with and passed to this function
                input.removeClass("error");
                valid = true;
            } else if (nest == "no icon" && regex.test(str) == false) {
                // if the input field is of the type "no icon" and the input is not valid, then add .error to the <input> element itself, which is the element being interacted with and passed to this function
                input.addClass("error");
                valid = false;
            } else if (regex.test(str) == true) {
                // if the input field is of any other kind than "no icon" and the input is valid, then remove .error from the <forminput> element, which is determined by the validate() function
                forminput.removeClass("error");
                valid = true;
            } else if (regex.test(str) == false) {
                // if the input field is of any other kind than "no icon" and the input is not valid, then add .error to the <forminput> element, which is determined by the validate() function
                forminput.addClass("error");
                valid = false;
            }
        };

        // ANCHOR set read-only icons

        function setGlobalReadyOnlyIcons() {
            readonlyInputs = $("fieldset[readonly]");
            console.log(readonlyInputs);
            readonlyIconRightWrapper = $(readonlyInputs).find(".icon-right");
            $(readonlyIconRightWrapper).children("i").addClass("hidden");
            $(readOnlyIcon).appendTo(readonlyIconRightWrapper);
            tippy('._readonly-icon');
        }

        function setThisReadOnlyIcons(input) {
            if ($(input).parents(".text-input-wrapper").length == 1){
                var readonly = $(input).parents(".text-input-wrapper").attr('readonly');
                if (readonly == "readonly") {
                    // remove read only and icons
                    console.log("is readonly - removing")

                    var iconRightWrapper = $(input).parents(".text-input-wrapper").find(".icon-right");

                    var dynamicIcon = $(iconRightWrapper).find("._added-dynamically");
                    dynamicIcon.remove();

                    $(input).parents(".text-input-wrapper").removeAttr("readonly")

                    $(iconRightWrapper).find("i").removeClass("hidden");
                } else {
                    // add read only and icons
                    console.log("isn't readonly - adding")

                    var iconRightWrapper = $(input).parents(".text-input-wrapper").find(".icon-right");
                    $(iconRightWrapper).find("i").addClass("hidden");

                    $(input).parents(".text-input-wrapper").attr("readonly")
                    $(readOnlyIcon).appendTo(iconRightWrapper);

                    var newIcon = $(iconRightWrapper).find("._added-dynamically");

                    newIcon.attr("data-tippy-placement", "auto");
                    newIcon.attr("data-tippy-content", "You can't change this input")

                    tippy('._added-dynamically', {
                    allowHTML: true,
                });
                }
            } else {
                var readonly = $(input).attr('readonly');
                if (readonly == "readonly") {
                    // remove read only and tooltip
                    $(input).removeAttr("readonly data-tippy-placement data-tippy-content");
                    tippy('._added-dynamically', {
                    allowHTML: true,
                    });
                } else {
                    // add read only and tooltip
                    $(input).attr("readonly");
                    input.attr("data-dynamic-tooltip");
                    input.attr("data-tippy-placement", "auto");
                    input.attr("data-tippy-content", "You can't change this input")
                    tippy('[data-dynamic-tooltip]');
                }
            }
        }

        $(document).ready(setGlobalReadyOnlyIcons());

        // ANCHOR Set icons based on form state

        function setIcon(input) {

            if (nest !== "no icon" && nest !== "icon left" && $(forminput).hasClass("error") && $(forminput).find("._added-dynamically").length == 0) {

                console.log("should add dynamic icon")

                var iconRightWrapper = $(forminput).find(".icon-right");
                $(iconRightWrapper).find("._clear-icon").remove();
                $(iconRightWrapper).find("i").addClass("hidden");

                $(errorIcon).appendTo(iconRightWrapper);

                var newIcon = $(iconRightWrapper).find("._added-dynamically");

                newIcon.attr("data-tippy-placement", "auto");
                newIcon.attr("data-tippy-content", "Input is invalid<br>Click to clear")

                tippy('._added-dynamically', {
                    allowHTML: true,
                });

            } else if (nest !== "no icon" && nest !== "icon left" && $(forminput).hasClass("error") && $(forminput).find("._added-dynamically").length !== 0) {

                console.log("dynamically added icon already exists")

            } else if (nest !== "no icon" && nest !== "icon left" && valid == true) 
            {

                console.log("should add clear icon")

                var iconRightWrapper = $(forminput).find(".icon-right");
                $(iconRightWrapper).find("i").addClass("hidden");

                $(clearIcon).appendTo(iconRightWrapper);

            } else if (nest !== "no icon" && nest !== "icon left" && $(forminput).not(".error")) {

                console.log("should remove dynamic icon")

                var iconRightWrapper = $(forminput).find(".icon-right");

                $(iconRightWrapper).find("._clear-icon").remove();
                var dynamicIcon = $(iconRightWrapper).find("._added-dynamically");
                dynamicIcon.remove();

                $(iconRightWrapper).find("i").removeClass("hidden");

            }  else {
                console.log("something broke");
            }
        }


        function removeDynamicIcons() {
            var iconRightWrapper = $(forminput).find(".icon-right");

            var dynamicIcon = $(iconRightWrapper).find("._added-dynamically");
            $(iconRightWrapper).find("._clear-icon").remove();
            dynamicIcon.remove();

            $(iconRightWrapper).find("i").removeClass("hidden");
        }


        // var parent = $(input).parents(".text-input-wrapper");
        // if (nest !== "no icon" && parent.not(["readonly"]){

        // };
        // var oneIcon = inputfields.find("i").not(".hidden");
        // if (oneIcon.length == 1) {
        //     $("body").delegate(oneIcon, 'click', function () {
        //         clearInput();
        //     })
        // }};

        // ANCHOR Clear the input field
        function clearInput() {
            // since clearable inputs have an icon, they must be wrapped in a <forminput> with the class .text-input-wrapper
            // find the parent <forminput> and remove the error class. Then find the child <input> and set its value to an empty string
            var forminput = $(event.target).parents(".text-input-wrapper");
            $(forminput).removeClass("error");
            $(forminput).find("input").val('');
            removeDynamicIcons();
        };
    </script>
</body>